{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon">
                    <i class="pe-7s-diamond icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Phil-IRI Group Screening Test (GST)
                    <div class="page-title-subheading">
                        Tell teachers whether students are reading at,
                        above, or below their grade levels. The individually administered Phil-IRI Graded Passages
                        can be used to assess students’ Oral Reading, Silent Reading Comprehension and/or
                        Listening Comprehension levels.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">{{user_profile.access_code}}</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="row">

            <div class="col-md-12">

                <div class="main-card mb-3 card goto">
                    <div class="card-body">
                        <div class="overlay-spinner">
                            <div class="icon">
                                <i class="fa-spin fa fa-spinner"></i>
                            </div>
                        </div>
                        <form class="classrom_goto" autocomplete="off" typeof="teacher">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>Class Level</label>
                                    <div class="input-group">
                                        <select class="form-control" name="class_level">
                                            <option></option>


                                            <option value="7">Grade I</option>

                                            <option value="8">Grade II</option>

                                            <option value="9">Grade III</option>

                                            <option value="10">Grade IV</option>

                                            <option value="11">Grade V</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Section/Group</label>
                                    <select class="form-control" id="section_goto" name="section">
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Batch/Sem</label>
                                    <div class="input-group">
                                        <select class="form-control" id="batch_goto" name="batch">
                                            <option class="default"></option>
                                        </select>
                                        <div class="input-group-prepend">
                                            <button type="button" class="input-group-button btn btn-light reset-field">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">

                        {% if list_group_levels %}

                        <ul class="list-group teacher">

                            {% for per in list_group_levels %}

                            <li class="list-group-item">

                                <div class="app-page-title no-margin n-padding">
                                    <div class="page-title-wrapper">
                                        <div class="page-title-heading" style="width: 53%">
                                            <div class="page-title-icon">
                                                <span class="icon-gradient bg-light roman-numeric">
                                                    <b>{{per.roman}}</b>
                                                </span>
                                            </div>
                                            <div>
                                                <h4 class="no-margin">
                                                    <a href="/teacher/classroom/view?group={{per.id}}">
                                                        <b>{{per.name}}</b>
                                                    </a>
                                                </h4>
                                                <div class="page-title-subheading">
                                                    <div class="f-m text-secondary">
                                                         <span class="{% if per.rates >= 20  %} text-warning {% endif %}"><i
                                                                 class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 40  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 60  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 80  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 100  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="page-title-actions">
                                            <a href="/teacher/classroom/view?group={{per.id}}"
                                               class="btn-shadow mr-3 btn btn-info">

                                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                                    <i class="fa fa-info"></i>
                                                </span>
                                                View details

                                            </a>
                                            <a href="/teacher/classroom/sections?group={{per.id}}"
                                               class="btn-shadow btn btn-focus">
                                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                                        <i class="fa fa-business-time fa-w-20"></i>
                                                    </span>
                                                View Sections
                                            </a>

                                            <a href="/teacher/activity/list?group={{per.id}}"
                                               class="btn-shadow btn btn-focus">
                                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                                        <i class="fa fa-business-time fa-w-20"></i>
                                                    </span>
                                                View/Add Activity
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </li>


                            {% endfor %}

                        </ul>

                        {% else %}

                        <div class="app-page-title no-data">
                            <div class="text-center"><h3>No Display</h3>
                                <div class="page-title-subheading">
                                    We can't find any class levels
                                </div>
                            </div>
                        </div>

                        {% endif %}

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>


{% endblock %}


{% block scripts %}

<script src="/static/testers_assets/classroom/misc.js"></script>

{% endblock %}
