{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    <a href="/teacher/classroom">{{group_level.name}}</a>
                    - {{school_profile.name_alias|lower|title}}

                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{school_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom">
                                        Classroom
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>Add Activity</b>
                                </li>

                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">{{user_profile.access_code}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-lg-12">
                <div class="row">

                    <div class="col-md-3 mb-3">

                        <div class="main-card mb-3 card p-sm">
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item-header nav-item">Pages</li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom" class="nav-link"><i
                                                class="nav-link-icon pe-7s-chat"> </i>
                                            <span><b>Classroom</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link"
                                                       href="/teacher/classroom/view?group={{section.group.id}}">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        {{group_level.name|capfirst}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom/add" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Activity List</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom/add" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Sections</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">

                        <div class="mb-3 card text-white bg-success">
                            <div class="card-header">Add Activity</div>
                        </div>

                        <div class="main-card mb-3 card">
                            <div class="card-body">

                                {% for message in messages %}

                                 <div class="alert {{message.tags}} fade show" role="alert">
                                    <h5>{{message.message.title}}</h5>
                                    <p class="mb-0">
                                        {{message.message.content}}
                                    </p>
                                 </div>

                                {% endfor %}

                                <div class="col-lg-9">

                                    <form data-parsley-validate=""
                                          class="force_validate"
                                          method="post"
                                          action="/teacher/activity/add/request"
                                          novalidate="">
                                        {% csrf_token %}
                                        <input type="hidden" name="group" value="{{group_level.id}}">
                                        <div class="position-relative form-group">
                                            <label for="name" class="">Title</label>
                                            <span class="red">*</span>
                                            <input name="title" required="" id="name"
                                                   type="text"
                                                   class="form-control">
                                        </div>

                                         <div class="position-relative form-group">
                                            <label for="name" class="">Type</label>
                                            <span class="red">*</span>
                                            <select class="form-control" name="type">
                                                <option value="0">Group Screening Test</option>
                                                <option value="1">Pre test</option>
                                                <option value="2">Post test</option>
                                            </select>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label for="name" class="">Type of Literacy Task</label>
                                            <span class="red">*</span>
                                            <select class="form-control" name="literacy_type">
                                                <option value="1">Oral Reading</option>
                                                <option value="2">Silent Reading</option>
                                                <option value="3">Listening Comprehension</option>
                                            </select>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label for="name" class="">Level of complexity</label>
                                            <span class="red">*</span>
                                            <select class="form-control" name="complexity_level">
                                                <option value="0">Easy</option>
                                                <option value="1">Medium</option>
                                                <option value="2">Hard</option>
                                            </select>
                                        </div>

                                        <div class="position-relative form-group">
                                            <label class="">Description</label>
                                            <textarea name="description" style="height:150px"
                                                      class="form-control"></textarea>
                                        </div>

<!--                                        <div id="accordion" class="accordion-wrapper mb-3">-->
<!--                                            <div class="card">-->
<!--                                                <div id="headingOne" class="card-header">-->
<!--                                                    <button type="button" data-toggle="collapse"-->
<!--                                                            data-target="#collapseOne1" aria-expanded="false"-->
<!--                                                            aria-controls="collapseOne"-->
<!--                                                            class="text-left m-0 p-0 btn btn-link btn-block collapsed">-->
<!--                                                        <h5 class="m-0 p-0">Add as Task</h5>-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                                <div data-parent="#accordion" id="collapseOne1"-->
<!--                                                     aria-labelledby="headingOne" class="collapse" style="">-->
<!--                                                    <div class="card-body">-->
<!--                                                        <div class="position-relative form-group mb-4">-->
<!--                                                            <label class="">-->
<!--                                                                <b>A.) </b>Add this activity as task to section (Leave-->
<!--                                                                blank if not)-->
<!--                                                            </label>-->
<!--                                                            <select class="form-control"-->
<!--                                                                    id="section" name="section">-->
<!--                                                                <option></option>-->
<!--                                                                {% for per in section %}-->
<!--                                                                <option value="{{per.id}}">{{per.name|capfirst}}-->
<!--                                                                </option>-->
<!--                                                                {% endfor %}-->
<!--                                                            </select>-->
<!--                                                        </div>-->

<!--                                                        <div class="position-relative form-group mb-4">-->
<!--                                                            <label class="">-->
<!--                                                                <b>B.) </b> Add this activity as task to batch-->
<!--                                                            </label>-->
<!--                                                            <select class="form-control"-->
<!--                                                                    data-parsley-fill_first="#section"-->
<!--                                                                    id="batch"-->
<!--                                                                    name="batch">-->
<!--                                                                <option></option>-->
<!--                                                                {% for per in batch %}-->
<!--                                                                <option value="{{per.id}}">{{per.name|capfirst}}-->
<!--                                                                </option>-->
<!--                                                                {% endfor %}-->
<!--                                                            </select>-->
<!--                                                        </div>-->

<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->

                                        <button name="redirect_to" value="0" class="mt-1 btn btn-lg btn-focus"
                                                type="submit">Save and manage
                                        </button>
                                    </form>

                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script src="/static/testers_assets/classroom/misc.js"></script>

{% endblock %}
