{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

<link type="text/css" rel="stylesheet" href="{% static 'plugins/ladda/ladda-themeless.css' %}">

{% endblock %}


{% block content %}


<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    <a href="/teacher/classroom">{{section.group.name}}</a>
                    - {{school_profile.name_alias|lower|title}}

                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom">
                                        Classroom
                                    </a>
                                </li>


                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom/view?group={{section.group.id}}">
                                        {{section.group.name|capfirst}}
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom/sections?group={{section.group.id}}">
                                        Sections
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/section?section={{section.id}}">
                                        {{section.name|capfirst}}
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/batch/list?section={{section.id}}">
                                        Batch List
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>{{batch.name|capfirst}}</b>
                                </li>

                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">

                    {% if user.id == activity.user_added_id %}

                    <a href="/teacher/activity/manage/home?id={{activity.id}}" type="button"
                       class="btn-shadow btn btn-info mr-2">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-edit fa-w-20"></i>
                        </span>
                        Edit
                    </a>

                    {% endif %}

                    <button type="button" class="btn-shadow btn btn-focus">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-download fa-w-20"></i>
                        </span>
                        View as PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-lg-12">

                <div class="row">

                    <div class="col-md-3 mb-3">

                        <div class="main-card mb-3 card p-sm">
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item-header nav-item">Pages</li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom" class="nav-link"><i
                                                class="nav-link-icon pe-7s-chat"> </i>
                                            <span><b>Classroom</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link"
                                                       href="/teacher/classroom/view?group={{section.group.id}}">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        {{section.group.name|capfirst}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom/sections?group={{section.group.id}}"
                                           class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span><b>Sections</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="/teacher/section?section={{section.id}}" class="nav-link">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        <span>{{section.name|capfirst}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/batch/list?section={{section.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Batch Lists</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/list?group={{section.group.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Activity Lists</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/add?group={{section.group.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>Add New Activity</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-9">

                        {% for message in messages %}

                        <div class="alert {{message.tags}} fade show" role="alert">
                            <h5>{{message.message.title}}</h5>
                            <p class="mb-0">
                                {{message.message.content}}
                            </p>
                        </div>

                        {% endfor %}

                        <div class="mb-3 card text-white bg-success">
                            <div class="card-header">
                                STUDENT
                                <div class="btn-actions-pane-right">
                                    <button class="btn btn-light cad_body_state">
                                        <b><i class="fa fa-angle-up"></i></b>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body bg-white text-default">
                                <div class="widget-content n-padding">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="btn-group">
                                                <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                    <img width="70" class="rounded-circle" src="/static/images/boy.png"
                                                         alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-content-left  ml-3 header-user-info">
                                            <div class="widget-heading">
                                                <h5>
                                                    <a href="#">Mark Anthony Libres</a>
                                                </h5>
                                            </div>
                                            <div class="widget-subheading text-default">
                                                <p class="no-margin ">
                                                    From, <b>June 4, 2018</b>
                                                    To, <b>March 4, 2019</b>
                                                </p>
                                                <p class="no-margin">
                                                    Grade I,
                                                    <b>Bonifacio</b>
                                                </p>
                                                <p class="no-margin">
                                                    Added by,
                                                    <a href="#">Yuan Libres</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <h4>
                                                <a href="#">S.Y. 2018-2019</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="mb-3 card text-white bg-success">
                            <div class="card-header">
                                OVERALL STATUS
                                <div class="btn-actions-pane-right">
                                    <button class="btn btn-light cad_body_state">
                                        <b><i class="fa fa-angle-up"></i></b>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body bg-white text-default">
                                <div class="widget-content n-padding">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="btn-group">

                                            </div>
                                        </div>
                                        <div class="widget-content-left  ml-3 header-user-info">
                                            <div class="widget-heading">
                                                <h5>
                                                    <b>60% Independent</b>
                                                </h5>
                                            </div>
                                            <div class="widget-subheading text-default">
                                                The child can read on his/her own without any assistance
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}


{% block scripts %}

<script>

    window.define_const("fn_batch", "{{batch.id}}");
    window.define_const("fn_section", "{{section.id}}");







</script>

<script src="{% static 'plugins/spin/spin.js' %}"></script>
<script src="{% static 'plugins/ladda/ladda.jquery.min.js' %}"></script>
<script src="{% static 'plugins/ladda/ladda.js' %}"></script>
<script src="{% static 'testers_assets/classroom/load_student_add_batch.js' %}"></script>
<script src="{% static 'testers_assets/classroom/load_student_already_added_batch.js' %}"></script>


{% endblock %}
