{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

<link type="text/css" href="{% static 'node_modules/jquery-confirm/dist/jquery-confirm.min.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

<div class="app-main__inner">

    <nav class="" aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item" aria-current="page">
                <a href="/home"><b>Home</b></a>
            </li>

            <li class="active breadcrumb-item" aria-current="page">
                <b>
                    {{school_profile.name_alias|lower|title}}
                </b>
            </li>

            <li class="active breadcrumb-item" aria-current="page">
                <a href="/teacher/activity/list?group={{activity.group_level_id}}">
                    {{activity.group_level.name|capfirst}}
                </a>
            </li>

            <li class="active breadcrumb-item" aria-current="page">
                <a href="/teacher/activity?activity={{activity.id}}">
                    Activity
                </a>
            </li>

            <li class="active breadcrumb-item" aria-current="page">
                <b>{{activity.title|capfirst}}</b>
            </li>

        </ol>
    </nav>


    <div class="row mb-3">

        <div class="col-md-3 mb-3">

            <div class="main-card mb-3 card p-sm">
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item-header nav-item">Pages</li>
                        <li class="nav-item">
                            <a href="/teacher/classroom" class="nav-link"><i class="nav-link-icon pe-7s-chat"> </i>
                                <span><b>Classroom</b></span>
                            </a>
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link"
                                           href="/teacher/classroom/view?group={{activity.group_level.id}}">
                                            <i class="nav-link-icon pe-7s-chat"> </i>
                                            {{activity.group_level.name}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/teacher/classroom/sections?group={{activity.group_level.id}}" class="nav-link">
                                <i class="nav-link-icon pe-7s-wallet"> </i>
                                <span>View Sections</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/teacher/activity/list?group={{activity.group_level.id}}" class="nav-link">
                                <i class="nav-link-icon pe-7s-wallet"> </i>
                                <span>View Activity List</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9">

            {% for message in messages %}

            <div class="alert {{ message.tags }} custom" style="width:100%">
                <button type="button" class="close" data-dismiss="alert">×</button>

                {% if message.extra_tags %}
                <h5>
                    <strong>
                        <i class="icon-exclamation-sign icon"></i>
                        {{ message.extra_tags|title }}
                    </strong>
                </h5>
                {% else %}

                <h5>
                    <strong>
                        <i class="icon-exclamation-sign icon"></i>
                        {{ message.extra_tags|title }}
                    </strong>
                </h5>

                {% endif %}

                {{ message }}
            </div>

            {% endfor %}

            <div class="mb-3 card text-white bg-success">
                <div class="card-header">
                    Activity
                    <div class="btn-actions-pane-right">
                        <button class="btn btn-light cad_body_state">
                            <b><i class="fa fa-angle-up"></i></b>
                        </button>
                    </div>
                </div>
                <div class="card-body bg-white text-default">
                    <div class="widget-content n-padding">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading">
                                    <h4>{{activity.title|title}}</h4>
                                </div>
                                <div class="widget-subheading text-default">
                                    Type of Test, <b>{{activity.get_test_type_display}}</b>
                                </div>
                                <div class="widget-subheading text-default">
                                    Type of Literacy Task,
                                    {% if activity.type_of_literacy is 1 %}
                                    <b>Oral Reading Comprehension</b>
                                    {% elif activity.type_of_literacy is 2 %}
                                    <b>Silent Reading Comprehension</b>
                                    {% else %}
                                    <b>Listening Comprehension</b>
                                    {% endif %}
                                </div>
                                <div class="widget-subheading text-default">
                                    Author, <a href="#"><b>Yuan Libres</b></a>
                                </div>

                            </div>
                            <div class="widget-content-right">
                                <div class="d-inline-block dropdown">

                                    <a href="/teacher/activity/passage/add?index={{activity.id}}"
                                       type="button"
                                       class="btn-shadow btn btn-lg btn-success">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-plus fa-w-20"></i>
                                </span>
                                        Add Passage
                                    </a>

                                    <button aria-haspopup="true" aria-expanded="false"
                                            class="btn-shadow btn btn-lg btn-focus">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-eye fa-w-20"></i>
                                </span>
                                        Preview
                                    </button>

                                    <a href="/teacher/activity?activity={{activity.id}}"
                                       class="btn-shadow btn btn-lg btn-focus">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-info fa-w-20"></i>
                                </span>
                                        Description
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3 card text-white bg-success">
                <div class="card-header">List of Passages</div>
                <div class="card-body bg-white text-default">

                    {% if assesment_count %}

                    <ul class="list-group">

                        <div class="list-assesment grid-cus"></div>

                    </ul>

                    {% else %}

                     <div class="app-page-title no-data">
                                <div class="text-center"><h3>No Display</h3>
                                    <div class="page-title-subheading">
                                        We can't find any class levels
                                    </div>
                                </div>
                            </div>

                    {% endif %}

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script>
        window.define_const("activity_id", "{{ activity_id }}");
























</script>

<script src="{% static 'testers_assets/scripts/main_index.js' %}"></script>
<script src="{% static 'node_modules/jquery-confirm/dist/jquery-confirm.min.js' %}"></script>


{% endblock %}
