{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

<link type="text/css" rel="stylesheet" href="{% static 'node_modules/jquery-steps/dist/jquery-steps.css' %}">

{% endblock %}


{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    <a href="/teacher/classroom">{{group_level.name}}</a>
                    - {{school_profile.name_alias|lower|title}}

                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{school_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom">
                                        Classroom
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>List of Activity</b>
                                </li>

                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">{{user_profile.access_code}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-lg-12">
                <div class="row">

                    <div class="col-md-3 mb-3">

                        <div class="main-card mb-3 card p-sm">
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item-header nav-item">Pages</li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom" class="nav-link"><i
                                                class="nav-link-icon pe-7s-chat"> </i>
                                            <span><b>Classroom</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link"
                                                       href="/teacher/classroom/view?group={{group_level.id}}">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        {{group_level.name|capfirst}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom/sections?group={{group_level.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Sections</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/add?group={{group_level.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>Add New Activity</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9">

                        <div class="mb-3 card text-white bg-success">
                            <div class="card-header">List of Activity</div>
                        </div>

                        <div class="main-card mb-3 card">

                            <div class="card-body bg-white text-default">

                                <div class="overlay-spinner">
                                    <div class="icon">
                                        <i class="fa-spin fa fa-spinner"></i>
                                    </div>
                                </div>

                                <div class="widget-content p-0 mb-4">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <form id="activity_search">
                                                <div class="search-wrapper active">
                                                    <div class="input-holder">
                                                        <input type="text" name="search" class="search-input"
                                                               placeholder="Type to search">
                                                        <button type="button" class="search-icon"><span></span></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="widget-content-right header-user-info">

                                            <!--                                            <a href="/teacher/activity/add?group={{group_level.id}}"-->
                                            <!--                                               class="btn-shadow mr-3 btn btn-focus">-->
                                            <!--                                                        <span class="btn-icon-wrapper pr-2 opacity-7">-->
                                            <!--                                                            <i class="fa fa-plus"></i>-->
                                            <!--                                                        </span>-->
                                            <!--                                                Add New Activity-->
                                            <!--                                            </a>-->

                                            <button data-toggle="modal"
                                                    data-target=".task_add_batch_modal"
                                                    class="btn-shadow mr-3 btn btn-focus">
                                                 <span class="btn-icon-wrapper pr-2 opacity-7">
                                                     <i class="fa fa-plus"></i>
                                                 </span>
                                                <span>Add New Activity</span>
                                            </button>

                                        </div>
                                    </div>
                                </div>

                                {% for message in messages %}

                                <div class="alert {{message.tags}} fade show" role="alert">
                                    <h5>{{message.message.title}}</h5>
                                    <p class="mb-0">
                                        {{message.message.content}}
                                    </p>
                                </div>

                                {% endfor %}

                                <div class="activity_list grid-cus"></div>


                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block outside %}


<div class="modal fade task_add_batch_modal"
     role="dialog"
     aria-labelledby="modal_add_activity"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="overlay-spinner">
                <div class="icon">
                    <i class="fa-spin fa fa-spinner"></i>
                </div>
        </div>

        <div class="modal-content default">

            <div class="modal-header bg-success">
                <h5 class="modal-title" id="exampleModalLongTitle">New Activity</h5>
                <div class="f-right header-action">
                    <button type="button" class="mr-2 btn-fullscreen">
                        <i aria-hidden="true" data-toggle="tooltip"
                           data-placement="bottom"
                           data-original-title="Fullscreen"
                           class="fa fa-window-maximize"></i>
                    </button>
                    <button type="button" class="" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>

            </div>

            <div class="modal-header bg-light-warning modal-header-alert">
            </div>

            <div class="modal-body no-padding" style="min-height:374px">
                <form class="form-highlight"
                      id="step1_form"
                      action="/teacher/activity/modal/add/request"
                      data-parsley-validate>

                    <input type="hidden" name="group" value="{{group_level.id}}">

                    <div class="card-body x-margin-bottom">

                        <div class="position-relative row form-group">
                            <label class="col-sm-2 col-form-label">
                                <b>Title</b>
                                <span class="red inline">*</span>
                            </label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="title"
                                       placeholder="Required" class="form-control" required="">
                            </div>

                        </div>


                        <div class="position-relative row form-group">
                            <label class="col-sm-2 col-form-label">
                                <b>Type</b>
                                <span class="red inline">*</span>
                            </label>
                            <div class="col-sm-10">

                                <select required="" class="form-control" name="type">
                                    <option disabled selected class="hide text-muted">
                                        Required
                                    </option>
                                    {% for per in activity_params.of_test_type %}
                                    <option value="{{per|index:0}}">
                                        {{per|index:1}}
                                    </option>
                                    {% endfor %}
                                </select>

                            </div>

                        </div>

                        <div class="position-relative row form-group">
                            <label class="col-sm-2 col-form-label">
                                <b>Literacy Task</b>
                                <span class="red inline">*</span>
                            </label>
                            <div class="col-sm-10">

                                <select required="" class="form-control" name="literacy_type">
                                    <option disabled selected class="hide text-muted">
                                        Required
                                    </option>
                                    {% for per in activity_params.literacy_type %}
                                    <option value="{{per|index:0}}">
                                        {{per|index:1}}
                                    </option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label class="col-sm-2 col-form-label">
                                <b>Level of complexity</b>
                                <span class="red inline">*</span>
                            </label>
                            <div class="col-sm-10">

                                <select required="" class="form-control" name="complexity_level">
                                    <option disabled selected class="hide text-muted">
                                        Required
                                    </option>
                                    {% for per in activity_params.complexity_level %}
                                    <option value="{{per|index:0}}">
                                        {{per|index:1}}
                                    </option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label class="col-sm-2 col-form-label">
                                Details
                                <span class="red inline">*</span>
                            </label>
                            <div class="col-sm-10">

                                <textarea placeholder="Optional"
                                          name="description"
                                          style="height:110px"
                                          class="form-control"></textarea>

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer absolute full-sceen-footer">
                        <button type="submit" class="btn btn-focus btn-lg">
                            Add activity
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>

    window.define_const("fn_group", "{{group_level.id}}")










</script>

<script src="{% static 'node_modules/jquery-steps/dist/jquery-steps.min.js' %}"></script>
<script src="/static/testers_assets/classroom/misc.js"></script>
<script src="/static/testers_assets/classroom/load_all_activity.js"></script>
<script src="/static/testers_assets/classroom/task/modal_add_activity.js"></script>

{% endblock %}
