{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

<link type="text/css" rel="stylesheet" href="{% static 'plugins/ladda/ladda-themeless.css' %}">

{% endblock %}


{% block content %}


<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    {{task.section.group.name|capfirst}}
                    -
                    {{school_profile.name_alias|lower|title}}

                    <!--                    {% if task.is_preTest %}-->
                    <!--                    {{task.name}}-->
                    <!--                    {% else %}-->
                    <!--                    {{task.activity.title}}-->
                    <!--                    {% endif %}-->
                    <!--                    - <a href="#"> {{task.activity.get_test_type_display}} </a>-->

                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/section?section={{task.section.id}}">
                                        {{task.section.name|capfirst}}
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/gst/batch/list?batch={{task.batch_id}}&section={{task.section_id}}">
                                        {{task.batch.name|capfirst }}
                                    </a>
                                </li>

                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-lg-12">

                <div class="row">

                    <div class="col-md-5 mb-3">

                        <div class="main-card mb-3 card">

                            <div class="card-body separator-green">

                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="btn-group">
                                                <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                    <img width="42" class="rounded-circle"
                                                         src="/static/images/boy.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-content-left  ml-3 header-user-info">
                                            <div class="widget-heading">
                                                {{quiz_activity.batch_student.student.get_full_name}}
                                            </div>
                                            <div class="widget-subheading">
                                                Student
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-body separator-green">

                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="btn-group">
                                                <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                    <i class="pe-7s-info" style="font-size:40px"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-content-left  ml-3 header-user-info">
                                            <div class="widget-heading">

                                                <a href="/teacher/task/result?task={{task.id}}">
                                                    {{task.activity.title}}
                                                </a>

                                            </div>
                                            <div class="widget-subheading">
                                                Activity
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-body no-padding">
                                <ul class="list-group">
                                    <button class="list-group-item-action list-group-item">
                                        <b>Type of test</b>
                                        <div class="inline fright text-primary">
                                            <b>{{task.activity.get_test_type_display}}</b>
                                        </div>
                                    </button>
                                    <button class="list-group-item-action list-group-item">
                                        <b>Type of literacy</b>
                                        <div class="inline fright text-primary">
                                            {{task.activity.get_type_of_literacy_display}}
                                        </div>
                                    </button>
                                    <button class="list-group-item-action list-group-item">
                                        <b>Total Reading Comprehension Score</b>
                                        <div class="inline fright">
                                            <h5 class="inline">{{quiz_activity.total_score}}</h5>
                                            /{{quiz_activity.question_set}}
                                        </div>
                                    </button>
                                    <button class="list-group-item-action list-group-item">
                                        <b>Reading Comprehension Level</b>

                                        {% if quiz_activity.comprehension_level == 0 %}
                                        <div class="inline fright">
                                            <div class="mb-2 mr-2 badge badge-danger">Frustration</div>
                                        </div>

                                        {% elif quiz_activity.comprehension_level == 1 %}

                                        <div class="inline fright">
                                            <div class="mb-2 mr-2 badge badge-alternate">Instructional</div>
                                        </div>

                                        {% elif quiz_activity.comprehension_level == 2 %}

                                        <div class="inline fright">
                                            <div class="mb-2 mr-2 badge badge-success">Independent</div>
                                        </div>

                                        {% else %}

                                        <div class="inline fright">
                                            <i>Not specified</i>
                                        </div>

                                        {% endif %}


                                    </button>

                                    <button class="list-group-item-action list-group-item">
                                        <b>Date taken</b>
                                        <div class="inline fright">
                                            {{quiz_activity.date}}
                                        </div>
                                    </button>

                                    {% if task.activity.type_of_literacy == 1 %}

                                    <button class="list-group-item-action list-group-item separator-green">
                                        <b>
                                            <a href="/teacher/task/oral/student/pending?quiz={{quiz_activity.id}}">
                                                Word Comprehension Level
                                            </a>
                                        </b>
                                        <div class="inline fright">
                                            <div class="mb-2 mr-2 badge badge-warning">Pending</div>
                                        </div>
                                    </button>

                                    {% endif %}

                                    <button class="list-group-item-action list-group-item">
                                        <b>Literal</b>,
                                        <div class="inline fright">
                                            <h5 class="inline">{{quiz_activity.total_correct_literal}}</h5>
                                            /{{quiz_activity.num_literal}}
                                        </div>
                                    </button>
                                    <button class="list-group-item-action list-group-item">
                                        <b>Inferential</b>,
                                        <div class="inline fright">
                                            <h5 class="inline">{{quiz_activity.total_correct_inferential}}</h5>
                                            /{{quiz_activity.num_inferential}}
                                        </div>
                                    </button>
                                    <button class="list-group-item-action list-group-item">
                                        <b>Critical</b>,
                                        <div class="inline fright">
                                            <h5 class="inline">{{quiz_activity.total_correct_critical}}</h5>
                                            /{{quiz_activity.num_critical}}
                                        </div>
                                    </button>

                                </ul>
                            </div>

                            {% if task.activity.type_of_literacy == 1 %}

                            <div class="card-body no-padding">
                                <ul class="list-group">
                                    <button class="list-group-item-action list-group-item separator-green-top">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-file-pdf fa-w-20"></i>
                                        </span>
                                        <b><a href="#">Export as Form 3A (PDF) Filipino</a></b>
                                    </button>

                                    <button class="list-group-item-action list-group-item">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-file-pdf fa-w-20"></i>
                                        </span>
                                        <b><a href="#">Export as Form 3B (PDF) English</a></b>
                                    </button>
                                </ul>
                            </div>

                            {% endif %}


                        </div>

                        <div class="main-card mb-3 card p-sm">
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item-header nav-item">Pages</li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom" class="nav-link"><i
                                                class="nav-link-icon pe-7s-chat"> </i>
                                            <span><b>Classroom</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link"
                                                       href="/teacher/classroom/view?group={{task.section.group.id}}">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        {{task.section.group.name|capfirst}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom/sections?group={{task.section.group.id}}"
                                           class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span><b>Sections</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="/teacher/section?section={{task.section.id}}"
                                                       class="nav-link">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        <span>{{task.section.name|capfirst}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/batch/list?section={{task.section.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Batch Lists</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/list?group={{task.section.group.id}}"
                                           class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Activity Lists</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/add?group={{task.section.group.id}}"
                                           class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>Add New Activity</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-7">

                        {% for message in messages %}

                        <div class="alert {{message.tags}} fade show" role="alert">
                            <h5>{{message.message.title}}</h5>
                            <p class="mb-0">
                                {{message.message.content}}
                            </p>
                        </div>

                        {% endfor %}


                        {% if ungraded_passages > 0 and task.activity.type_of_literacy == 1 %}

                        <div class="card-body mb-3 border-green bg-light-danger">

                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left header-user-info">
                                        <div class="widget-heading">
                                            <a href="/teacher/task/oral/student/pending?quiz={{quiz_activity.id}}">
                                                <b>Pending Ungraded Passages (Oral Reading)</b>
                                            </a>
                                        </div>
                                        <div class="widget-subheading">
                                            Your student need your final grade set them now.
                                        </div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-primary"><span>{{ungraded_passages}}</span></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {% else %}

                         <div class="card-body mb-3 border-green bg-light-info bg-green">

                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">

                                    <div class="widget-content-left">
                                        <div class="btn-group">
                                            <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                <i class="fa fa-info-circle fa-w-20" style="font-size:40px"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="widget-content-left ml-3 header-user-info">
                                        <div class="widget-heading">

                                            {% if task.activity.type_of_literacy == 1 %}

                                            <a href="/teacher/task/oral/student/pending?quiz={{quiz_activity.id}}">
                                                <b>View Result in PDF format</b>
                                            </a>

                                            {% else %}

                                            <a target="_blank" href="/teacher/task/result/print?quiz={{quiz_activity.id}}">
                                                <b>View Result in PDF format</b>
                                            </a>

                                            {% endif %}

                                        </div>
                                        <div class="widget-subheading color-black">
                                            {% if task.activity.type_of_literacy == 1  %}
                                                Oral Reading (Word and Comprehension Test)
                                            {% elif task.activity.type_of_literacy == 2 %}
                                                Silent Reading Comprehension
                                            {% else %}
                                                Listening Comprehension
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-primary"><span></span></div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        {% endif %}

                        <div class="list_assesment">

                            <div class="app-page-title no-data text-center">
                                <h4>No Passages found</h4>
                                <div class="page-title-subheading">We can't find source or data</div>
                            </div>

                        </div>


                    </div>


                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script>

    window.define_const("quiz_id", "{{quiz_activity.id}}");




</script>

<script type="text/javascript" src="{% static 'testers_assets/plugins/recorder.js' %}"></script>
<script type="text/javascript" src="{% static 'testers_assets/scripts/record.js' %}"></script>
<script src="{% static 'testers_assets/scripts/scorer_partial_track.js' %}"></script>
<!--<script src="{% static 'testers_assets/classroom/task/load_add_task_batch.js' %}"></script>-->
{% endblock %}
