{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

<link type="text/css" rel="stylesheet" href="{% static 'plugins/ladda/ladda-themeless.css' %}">

<link type="text/css" rel="stylesheet" href="{% static 'plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.css' %}">

<link type="text/css" rel="stylesheet" href="{% static 'node_modules/jquery-confirm/dist/jquery-confirm.min.css' %}">



{% endblock %}


{% block content %}


<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    {{task.section.group.name|capfirst}}
                    -
                    {{school_profile.name_alias|lower|title}}

                    <!--                    {% if task.is_preTest %}-->
                    <!--                    {{task.name}}-->
                    <!--                    {% else %}-->
                    <!--                    {{task.activity.title}}-->
                    <!--                    {% endif %}-->
                    <!--                    - <a href="#"> {{task.activity.get_test_type_display}} </a>-->

                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/section?section={{task.section.id}}">
                                        {{task.section.name|capfirst}}
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/gst/batch/list?batch={{task.batch_id}}&section={{task.section_id}}">
                                        {{task.batch.name|capfirst }}
                                    </a>
                                </li>

                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-lg-12">

                <div class="row">

                    <div class="col-md-5 mb-3">

                        <div class="main-card mb-3 card">

                            <div class="card-body separator-green">

                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="btn-group">
                                                <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                    <img width="42" class="rounded-circle"
                                                         src="/static/images/boy.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-content-left  ml-3 header-user-info">
                                            <div class="widget-heading">
                                                <a href="/teacher/task/student/quiz/score?quiz={{quiz_activity.id}}">
                                                    {{quiz_activity.batch_student.student.get_full_name}}
                                                </a>
                                            </div>
                                            <div class="widget-subheading">
                                                Student
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-body separator-green">

                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="btn-group">
                                                <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                    <i class="pe-7s-info" style="font-size:40px"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-content-left  ml-3 header-user-info">
                                            <div class="widget-heading">

                                                <a href="/teacher/task/result?task={{task.id}}">
                                                    {{task.activity.title}}
                                                </a>

                                            </div>
                                            <div class="widget-subheading">
                                                Activity
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-body no-padding">
                                <ul class="list-group">
                                    <button class="list-group-item-action list-group-item">
                                        <b>Type of test</b>
                                        <div class="inline fright text-primary">
                                            <b>{{task.activity.get_test_type_display}}</b>
                                        </div>
                                    </button>


                                    <button class="list-group-item-action list-group-item">
                                        <b>Type of literacy</b>
                                        <div class="inline fright text-primary">
                                            <b>{{task.activity.get_type_of_literacy_display}}</b>
                                        </div>
                                    </button>

                                    <button class="list-group-item-action list-group-item">
                                        <b>Date taken</b>
                                        <div class="inline fright">
                                            {{quiz_activity.date}}
                                        </div>
                                    </button>

                                    <button class="list-group-item-action list-group-item ">
                                        <b>No. of pending ungraded passages</b>
                                        <div class="inline fright">
                                            7
                                        </div>
                                    </button>

                                </ul>
                            </div>

                        </div>

                        <div class="main-card mb-3 card p-sm">
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item-header nav-item">Pages</li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom" class="nav-link"><i
                                                class="nav-link-icon pe-7s-chat"> </i>
                                            <span><b>Classroom</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link"
                                                       href="/teacher/classroom/view?group={{task.section.group.id}}">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        {{task.section.group.name|capfirst}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom/sections?group={{task.section.group.id}}"
                                           class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span><b>Sections</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="/teacher/section?section={{task.section.id}}"
                                                       class="nav-link">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        <span>{{task.section.name|capfirst}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/batch/list?section={{task.section.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Batch Lists</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/list?group={{task.section.group.id}}"
                                           class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Activity Lists</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/add?group={{task.section.group.id}}"
                                           class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>Add New Activity</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-7">

                        {% for message in messages %}

                        <div class="alert {{message.tags}} fade show" role="alert">
                            <h5>{{message.message.title}}</h5>
                            <p class="mb-0">
                                {{message.message.content}}
                            </p>
                        </div>

                        {% endfor %}

                        <div class="card-body mb-3 border-green bg-light-danger">

                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left header-user-info">
                                        <div class="widget-heading">
                                            <a href="#"><b>Pending Request (Oral reading)</b></a>
                                        </div>
                                        <div class="widget-subheading">
                                            There are more students that has not been grade of this activity
                                        </div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-primary"><span></span></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {% if task.activity.type_of_literacy == 1 %}

                        {% if quiz_activity.oral_ungraded_passages > 0 %}

                        <div class="mb-3 card  text-white bg-success list_task">

                            <div class="card-header-tab  card-header-tab-animation card-header">
                                Ungraded Passage (Oral)
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-gift icon-gradient bg-love-kiss"> </i>
                                </div>

                            </div>
                            <div class="card-body bg-white text-default">

                                <div class="tab-content">
                                    <div class="jsgrid grid-cus ungraded_passage">
                                        <div class="app-page-title no-data text-center">
                                            <h4>No ungraded passages found</h4>
                                            <div class="page-title-subheading">
                                                <a href="#">Show more pending request in this activity</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        {% else %}

                        <div class="card-body mb-3 border-green bg-green">

                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">

                                    <div class="widget-content-left">
                                        <div class="btn-group">
                                            <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                <i class="pe-7s-download" style="font-size:40px"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="widget-content-left ml-3 header-user-info">
                                        <div class="widget-heading">
                                            <a target="_blank"
                                               href="/teacher/task/oral/print?quiz={{quiz_activity.id}}&type=1">
                                                <b>Export as Form 3B (PDF) English</b>
                                            </a>
                                        </div>
                                        <div class="widget-subheading">
                                            This form is the rating sheet with the passage to be read (either orally or
                                            silently by the
                                            student, or orally by the teacher).
                                        </div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-primary"><span></span></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-body mb-3 border-green bg-green">

                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">

                                    <div class="widget-content-left">
                                        <div class="btn-group">
                                            <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                <i class="pe-7s-download" style="font-size:40px"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="widget-content-left ml-3 header-user-info">
                                        <div class="widget-heading">
                                            <a target="_blank"
                                               href="/teacher/task/oral/print?quiz={{quiz_activity.id}}&type=0">
                                                <b>Export as Form 3A (PDF) Filipino</b>
                                            </a>
                                        </div>
                                        <div class="widget-subheading">
                                            This form is the rating sheet with the passage to be read (either orally or
                                            silently by the
                                            student, or orally by the teacher).
                                        </div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-primary"><span></span></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {% endif %}

                        {% else %}

                        <div class="card-body mb-3 border-green bg-light-info">

                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="btn-group">
                                            <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                <i class="pe-7s-attention" style="font-size:40px"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="widget-content-left ml-3 header-user-info">
                                        <div class="widget-heading">
                                            <a href="#"><b>Not applicable</b></a>
                                        </div>
                                        <div class="widget-subheading text-default">
                                            This page is applicable only for oral reading test. Silent reading
                                            test and listening comprehension has no further transaction or
                                            confirmation after the test has been done.
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        {% endif %}


                    </div>


                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}


{% block outside %}

<div class="modal update_oral_passage_modal" data-backdrop="false">

    <div class="modal-backdrop"></div>

    <div class="modal-dialog modal-lg">

        <div class="overlay-spinner show">
            <div class="icon">
                <i class="fa-spin fa fa-spinner"></i>
            </div>
        </div>

        <div class="modal-content default">

            <div class="modal-header bg-success">
                <h5 class="modal-title" id="exampleModalLongTitle">Grade Confirmation</h5>
                <div class="f-right header-action">
                    <button type="button" class="mr-2 btn-fullscreen">
                        <i aria-hidden="true" data-toggle="tooltip"
                           data-placement="bottom"
                           data-original-title="Fullscreen"
                           class="fa fa-window-maximize"></i>
                    </button>
                    <button type="button" class="" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>

            </div>

            <div class="modal-header bg-light-warning modal-header-alert">
            </div>

            <div class="modal-body no-padding" style="min-height:374px">
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}


<script>

    window.define_const("fn_quiz_id", "{{quiz_activity.id}}");




</script>

<script src="{% static 'testers_assets/classroom/task/load_ungraded_oral.js' %}"></script>
<script src="{% static 'testers_assets/classroom/task/modal_update_oral_ungraded.js' %}"></script>
<script src="{% static 'node_modules/vex-js/dist/js/vex.js' %}"></script>
<script src="{% static 'node_modules/jquery-confirm/dist/jquery-confirm.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.js' %}"></script>

<script src="{% static 'scripts/jquery-ui.min.js' %}"></script>

<script>
    vex.defaultOptions.className = 'vex-theme-top';
</script>

{% endblock %}
