{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    <a href="/teacher/classroom">{{section.group.name|capfirst}}</a>
                    - {{school_profile.name_alias|lower|title}}

                    <div class="page-title-subheading">

                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{school_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom">
                                        Classroom
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom/sections?group={{section.group.id}}">
                                        Sections
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{section.group.name|capfirst}}
                                    </b>
                                </li>

                            </ol>
                        </nav>

                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <a href="/teacher/batch/list?section={{section.id}}"
                   class="btn-lg btn-shadow mr-3 btn btn-focus">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-list-ul fa-w-20"></i>
                   </span> View Batch Lists
                </a>

            </div>
        </div>

    </div>


    <div class="col-lg-12">
        <div class="row">

            <div class="col-md-3 mb-3">

                <div class="main-card mb-3 card p-sm">
                    <div class="col">
                        <ul class="nav flex-column">
                            <li class="nav-item-header nav-item">Pages</li>
                            <li class="nav-item">
                                <a href="/teacher/classroom" class="nav-link"><i class="nav-link-icon pe-7s-chat"> </i>
                                    <span><b>Classroom</b></span>
                                </a>
                                <div class="col">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               href="/teacher/classroom/view?group={{section.group.id}}">
                                                <i class="nav-link-icon pe-7s-chat"> </i>
                                                {{section.group.name|capfirst}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/teacher/classroom/sections?group={{section.group.id}}" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>View Section List</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/teacher/activity/list?group={{section.group.id}}" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>View Activity List</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/teacher/activity/add?group={{section.group.id}}" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>Add New Activity</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">

                <div class="mb-3 card text-white bg-success">
                    <div class="card-header">Section</div>
                    <div class="card-body bg-white text-default">
                        <div class="widget-content n-padding">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">
                                        <h4>{{section.group.name|capfirst}}, {{section.name|capfirst}}</h4>
                                    </div>
                                    <div class="widget-subheading text-default">
                                        <a href="#"><b>{{activity.user_added.get_full_name}}</b></a>
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="f-s text-secondary">
                                        <span class="{% if rates >= 20  %} text-warning {% endif %}">
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <span class="{% if rates >= 40  %} text-warning {% endif %}">
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <span class="{% if rates >= 60  %} text-warning {% endif %}">
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <span class="{% if rates >= 80  %} text-warning {% endif %}">
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <span class="{% if rates >= 100  %} text-warning {% endif %}">
                                            <i class="fa fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
