{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

<link type="text/css" rel="stylesheet" href="{% static 'plugins/ladda/ladda-themeless.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'plugins/TabStyle/css/tabs.css' %}">

<link type="text/css" rel="stylesheet" href="{% static 'plugins/TabStyle/css/tabstyles.css' %}">

{% endblock %}


{% block content %}


<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    {{task.section.group.name|capfirst}}
                    -
                    {{school_profile.name_alias|lower|title}}

                    <!--                    {% if task.is_preTest %}-->
                    <!--                    {{task.name}}-->
                    <!--                    {% else %}-->
                    <!--                    {{task.activity.title}}-->
                    <!--                    {% endif %}-->
                    <!--                    - <a href="#"> {{task.activity.get_test_type_display}} </a>-->

                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/section?section={{task.section.id}}">
                                        {{task.section.name|capfirst}}
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/gst/batch/list?batch={{task.batch_id}}&section={{task.section_id}}">
                                        {{task.batch.name|capfirst }}
                                    </a>
                                </li>

                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="row">

                <div class="col-md-5 mb-3">

                    <div class="main-card mb-3 card">

                        <div class="card-body separator-green">

                            <div class="widget-content p-0 full-width">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="btn-group">
                                            <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                <i class="pe-7s-info" style="font-size:40px"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="widget-content-left  ml-3 header-user-info">
                                        <div class="widget-heading">
                                            {% if task.is_preTest %}
                                            <a href="/teacher/gst/batch/list?batch={{task.batch_id}}&section={{task.section_id}}">
                                                {{task.name}}
                                            </a>
                                            {% else %}

                                            <a href="/teacher/gst/batch/list?batch={{task.batch_id}}&section={{task.section_id}}">
                                                {{task.activity.title}}
                                            </a>

                                            {% endif %}
                                        </div>
                                        <div class="widget-subheading">
                                            Activity
                                        </div>
                                    </div>
                                    <div class="widget-content-right">
                                        <a href="/teacher/activity?activity={{task.activity_id}}"
                                           class="btn-shadow btn btn-success">
                                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                                    <i class="fa fa-info-circle fa-w-20"></i>
                                                </span>
                                            Details
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-body bg-light-warning separator-green">

                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left header-user-info">
                                        <div class="widget-heading">
                                            <b>Pending Request (Oral reading)</b>
                                        </div>
                                        <div class="widget-subheading">
                                            Waiting to be graded
                                        </div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-primary"><span>5</span></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-body no-padding">
                            <ul class="list-group">
                                <button class="list-group-item-action list-group-item">
                                    <b>Type of test</b>
                                    <div class="inline fright">
                                        {% if task.activity.test_type == 0 %}
                                        <a href="/teacher/gst/batch/list?batch={{task.batch_id}}&section={{task.section_id}}">
                                            Group Screening Test
                                        </a>

                                        {% elif task.activity.test_type == 1 %}

                                        <a href="/teacher/task/list/pre?batch={{task.batch_id}}&section={{task.section_id}}">
                                            Pre test
                                        </a>

                                        {% elif task.activity.test_type == 2 %}

                                        <a href="/teacher/task/list?batch={{task.batch_id}}&section={{task.section_id}}">
                                            Post test
                                        </a>

                                        {% endif %}
                                    </div>
                                </button>
                                <button class="list-group-item-action list-group-item">
                                    <b>Type of literacy</b>
                                    <div class="inline fright">
                                        {{task.activity.get_type_of_literacy_display}}
                                    </div>
                                </button>
                                <button class="list-group-item-action list-group-item">
                                    <b>Added by as task</b>
                                    <div class="inline fright">
                                        <a href="#">{{task.user.get_full_name}}</a>
                                    </div>
                                </button>
                                <button class="list-group-item-action list-group-item">
                                    <b>Level of complexity</b>
                                    <div class="inline fright">

                                        {% if task.activity.level_of_complexity == 0 %}

                                        <div class="inline fright">
                                            <div class="mb-2 mr-2 badge badge-success">Easy</div>
                                        </div>

                                        {% elif task.activity.level_of_complexity == 1 %}

                                        <div class="inline fright">
                                            <div class="mb-2 mr-2 badge badge-warning">Medium</div>
                                        </div>

                                        {% elif task.activity.level_of_complexity == 2 %}

                                        <div class="inline fright">
                                            <div class="mb-2 mr-2 badge badge-danger">Hard</div>
                                        </div>

                                        {% else %}

                                        <div class="inline fright">
                                            <i>Not specified</i>
                                        </div>

                                        {% endif %}
                                    </div>
                                </button>
                                <button class="list-group-item-action list-group-item">
                                    <b>No. of students take this task</b>
                                    <div class="inline fright">
                                        <a href="#">
                                            <h5 class="inline">{{task.completed_students_num}}</h5>
                                            /{{task.not_completed_students_num}}
                                        </a>
                                    </div>
                                </button>
                                <button class="list-group-item-action list-group-item">
                                    <b>Date added as task</b>
                                    <div class="inline fright">
                                        {{task.date_added}}
                                    </div>
                                </button>
                                <button class="list-group-item-action list-group-item">
                                    <b>Author</b>
                                    <div class="inline fright">
                                        <a href="#">{{task.activity.user_added.get_full_name}}</a>
                                    </div>
                                </button>

                            </ul>
                        </div>

                    </div>

                    <div class="main-card mb-3 card p-sm">
                        <div class="col">
                            <ul class="nav flex-column">
                                <li class="nav-item-header nav-item">Pages</li>
                                <li class="nav-item">
                                    <a href="/teacher/classroom" class="nav-link"><i
                                            class="nav-link-icon pe-7s-chat"> </i>
                                        <span><b>Classroom</b></span>
                                    </a>
                                    <div class="col">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   href="/teacher/classroom/view?group={{task.section.group.id}}">
                                                    <i class="nav-link-icon pe-7s-chat"> </i>
                                                    {{task.section.group.name|capfirst}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="/teacher/classroom/sections?group={{task.section.group.id}}"
                                       class="nav-link">
                                        <i class="nav-link-icon pe-7s-wallet"> </i>
                                        <span><b>Sections</b></span>
                                    </a>
                                    <div class="col">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a href="/teacher/section?section={{task.section.id}}"
                                                   class="nav-link">
                                                    <i class="nav-link-icon pe-7s-chat"> </i>
                                                    <span>{{task.section.name|capfirst}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="/teacher/batch/list?section={{task.section.id}}" class="nav-link">
                                        <i class="nav-link-icon pe-7s-wallet"> </i>
                                        <span>View Batch Lists</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/teacher/activity/list?group={{task.section.group.id}}"
                                       class="nav-link">
                                        <i class="nav-link-icon pe-7s-wallet"> </i>
                                        <span>View Activity Lists</span></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/teacher/activity/add?group={{task.section.group.id}}"
                                       class="nav-link">
                                        <i class="nav-link-icon pe-7s-wallet"> </i>
                                        <span>Add New Activity</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-md-7">

                    <div class="tabs tabs-style-tzoid">
                        <nav>
                            <ul>
                                <li class="tab-current"><a href="#section-underline-1"
                                                           class="icon icon-home"><span>Home</span></a>
                                </li>
                                <li class="">
                                    <a href="#section-underline-2" class="icon icon-gift">
                                        <span>Export</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="content-wrap">
                            <section id="section-underline-1" class="content-current">

                                {% for message in messages %}

                                <div class="alert {{message.tags}} fade show" role="alert">
                                    <h5>{{message.message.title}}</h5>
                                    <p class="mb-0">
                                        {{message.message.content}}
                                    </p>
                                </div>

                                {% endfor %}

                                <div class="card-body mb-3 border-green bg-light-info bg-green">

                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">

                                            <div class="widget-content-left">
                                                <div class="btn-group">
                                                    <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                        <i class="fa fa-info-circle fa-w-20" style="font-size:40px"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            {% if task.activity.type_of_literacy == 1 %}

                                            <div class="widget-content-left ml-3 header-user-info">
                                                <div class="widget-heading">
                                                    <a href="#">
                                                        <b>Oral Reading (Word and Comprehension Test)</b>
                                                    </a>
                                                </div>
                                                <div class="widget-subheading color-black">
                                                    The student’s performance in decoding
                                                    (the ability to read isolated words using phonics knowledge) and
                                                    word
                                                    recognition (the ability
                                                    to automatically identify words on sight) is measured through a
                                                    Reading
                                                    Miscue Inventory
                                                    <a href="">
                                                        (Phil-IRI Form 3A and 3B: Grade Level Passage Rating Sheet)
                                                    </a>
                                                </div>
                                            </div>


                                            {% elif task.activity.type_of_literacy == 2 %}

                                            <div class="widget-content-left ml-3 header-user-info">
                                                <div class="widget-heading">
                                                    <a href="#">
                                                        <b>Silent Reading Comprehension</b>
                                                    </a>
                                                </div>
                                                <div class="widget-subheading color-black">
                                                    May be administered after the Oral Reading Test is
                                                    conducted to further check the student’s comprehension skill.
                                                </div>
                                            </div>

                                            {% elif task.activity.type_of_literacy == 3 %}

                                            <div class="widget-content-left ml-3 header-user-info">
                                                <div class="widget-heading">
                                                    <a href="#">
                                                        <b>Listening Comprehension</b>
                                                    </a>
                                                </div>
                                                <div class="widget-subheading color-black">
                                                    is administered when the student is identified as a
                                                    nonreader. The purpose is to find out how well a student understands
                                                    the
                                                    selection which
                                                    will be read by the test administrator.Then the test administrator
                                                    reads the
                                                    multiple choice
                                                    questions and the student answers them orally.
                                                </div>
                                            </div>


                                            {% endif %}

                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-primary"><span></span></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="mb-3 card bg-success text-white list_task">
                                    <div class="card-header-tab card-header-tab-animation card-header">
                                        Students
                                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                            <i class="header-icon lnr-gift icon-gradient bg-love-kiss"> </i>
                                        </div>
                                        <ul class="nav">
                                            <li class="nav-item">
                                                <a data-toggle="tab" href="#completed" class="active nav-link">
                                                    Completed
                                                    <div class="mr-2 badge badge-primary">
                                                        {{task.completed_students_num}}
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="tab" href="#not_completed" class=" nav-link">
                                                    Not completed
                                                    <div class="mr-2 badge badge-secondary">
                                                        {{task.not_completed_students_num }}
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="card-body bg-white text-default">

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="completed" role="tabpanel">

                                                <div class="jsgrid grid-cus list_completed">

                                                    <div class="inner_content no_display ">
                                                        <div>
                                                            <h4>No display</h4>
                                                            <p><span>We cant find any information or source</span></p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="tab-pane" id="not_completed" role="tabpanel">
                                                <div class="jsgrid grid-cus not_list_completed">

                                                    <div class="inner_content no_display ">
                                                        <div>
                                                            <h4>No display</h4>
                                                            <p><span>We cant find any information or source</span></p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </section>
                            <section id="section-underline-2">

                                <div class="card-body mb-3 border-green bg-green">

                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">

                                            <div class="widget-content-left">
                                                <div class="btn-group">
                                                    <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                        <i class="pe-7s-download" style="font-size:40px"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="widget-content-left ml-3 header-user-info">
                                                <div class="widget-heading">
                                                    <a target="_blank" href="/teacher/task/print?task={{task.id}}">
                                                        <b>Export and view all results in Reading Comprehension </b>
                                                    </a>
                                                </div>
                                                <div class="widget-subheading">
                                                    Oral Reading Comprehension Test
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-primary"><span></span></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="card-body mb-3 border-green bg-green">

                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">

                                            <div class="widget-content-left">
                                                <div class="btn-group">
                                                    <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                        <i class="pe-7s-download" style="font-size:40px"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="widget-content-left ml-3 header-user-info">
                                                <div class="widget-heading">
                                                    <a target="_blank"
                                                       href="/teacher/task/oral/print?quiz=176&amp;type=1">
                                                        <b>
                                                            Export as Form 1A Talaan ng Pangkatang Pagtatasa ng Klase
                                                            (TPPK)
                                                            (PDF)
                                                        </b>
                                                    </a>
                                                </div>
                                                <div class="widget-subheading">
                                                    The Phil-IRI Form 1A is to be used for the GST in Filipino. The
                                                    objectives of completing
                                                    and submitting this form include the following: a) to identify the
                                                    types of questions
                                                    (literal, inferential or critical) that each child can answer; b) to
                                                    classify the students
                                                    to be recommended for administration of the Phil-IRI tests, c) to
                                                    capture the reading
                                                    performance of the class, thus design appropriate classroom
                                                    instruction. This form
                                                    includes the class list, the itemized scores of the students
                                                    according to the types of
                                                    questions answered, and their total score.
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-primary"><span></span></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="card-body mb-3 border-green bg-green">

                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">

                                            <div class="widget-content-left">
                                                <div class="btn-group">
                                                    <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                        <i class="pe-7s-download" style="font-size:40px"></i>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="widget-content-left ml-3 header-user-info">
                                                <div class="widget-heading">
                                                    <a target="_blank"
                                                       href="/teacher/task/oral/print?quiz=176&amp;type=1">
                                                        <b>
                                                            Export as Phil-IRI Form 1B: Summary of the Phil-IRI Group
                                                            Screening
                                                            Test Class Reading
                                                            Record (CRR) (PDF)
                                                        </b>
                                                    </a>
                                                </div>
                                                <div class="widget-subheading">
                                                    This form has the same content and objectives as the Phil-IRI Form
                                                    1A. Phil-IRI Form
                                                    1B is to be used for the GST in English.
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-primary"><span></span></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </section>
                        </div><!-- /content -->
                    </div>


                </div>


            </div>
        </div>

    </div>

</div>

{% endblock %}


{% block outside %}

<div class="modal fade task_add_batch_modal" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Task (GST)</h5>
                <div class="btn-actions-pane-right">
                    <form id="search">
                        <div class="search-wrapper active no-width">
                            <div class="input-holder bg-white">
                                <input type="text" class="search-input" name="search" placeholder="Type to search">
                                <button type="button" class="search-icon"><span></span></button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-body no-padding" style="min-height:374px">
                <div class="card-body no-padding">

                    <div class="overlay-spinner">
                        <div class="icon">
                            <i class="fa-spin fa fa-spinner"></i>
                        </div>
                    </div>

                    <div class="text-default jsgrid grid-cus"></div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="widget-content-left full-width">
                    <span id="pagination"></span>
                </div>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>

    window.define_const("fn_task", "{{task.id}}");

























</script>
<script src="{% static 'plugins/TabStyle/js/modernizr.custom.js' %}"></script>
<script src="{% static 'plugins/TabStyle/js/cbpFWTabs.js' %}"></script>
<script src="{% static 'plugins/spin/spin.js' %}"></script>
<script src="{% static 'plugins/ladda/ladda.jquery.min.js' %}"></script>
<script src="{% static 'plugins/ladda/ladda.js' %}"></script>
<script src="{% static 'testers_assets/classroom/task/populate_list_of_students_taken_not_taken.js' %}"></script>
<script>
			(function() {

				[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
					new CBPFWTabs( el );
				});

			})();









</script>
<!--<script src="{% static 'testers_assets/classroom/task/load_add_task_batch.js' %}"></script>-->

{% endblock %}
