{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
             <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    <a href="/teacher/classroom">{{group_level.name}}</a>
                    - {{school_profile.name_alias|lower|title}}

                    <div class="page-title-subheading">

                         <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{school_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom">
                                        Classroom
                                    </a>
                                </li>
                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        List of Section
                                    </b>
                                </li>
                            </ol>
                        </nav>

                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">{{user_profile.access_code}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-md-3 mb-3">

                <div class="main-card mb-3 card p-sm">
                    <div class="col">
                        <ul class="nav flex-column">
                            <li class="nav-item-header nav-item">Pages</li>
                            <li class="nav-item">
                                <a href="/teacher/classroom" class="nav-link"><i
                                        class="nav-link-icon pe-7s-chat"> </i>
                                    <span><b>Classroom</b></span>
                                </a>
                                <div class="col">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               href="/teacher/classroom/view?group={{group_level.id}}">
                                                <i class="nav-link-icon pe-7s-chat"> </i>
                                                {{group_level.name|capfirst}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/teacher/activity/list?group={{group_level.id}}" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>View Activity List</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/teacher/activity/add?group={{group_level.id}}" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>Add New Activity</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-9">

                <div class="mb-3 card text-white bg-success">
                    <div class="card-header">List of Sections</div>
                </div>

                <div class="main-card mb-3 card">
                    <div class="card-body">

                        {% if section_list %}

                        <ul class="list-group teacher">

                            {% for per in section_list %}

                            <li class="list-group-item">

                                <div class="app-page-title no-margin n-padding">
                                    <div class="page-title-wrapper">
                                        <div class="page-title-heading" style="width: 53%">
                                            <div>
                                                <big class="no-margin">
                                                    <a href="/teacher/section?section={{per.id}}">
                                                        <b>{{per.name}}</b>
                                                    </a>
                                                </big>
                                                <div class="page-title-subheading">
                                                    <div class="f-s text-secondary">
                                                         <span class="{% if per.rates >= 20  %} text-warning {% endif %}"><i
                                                                 class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 40  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 60  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 80  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 100  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="page-title-actions">
                                            <a href="/teacher/section?section={{per.id}}"
                                               class="btn-shadow mr-3 btn btn-info">

                                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                                    <i class="fa fa-info"></i>
                                                </span>
                                                View details

                                            </a>
                                            <a href="/teacher/batch/list?section={{per.id}}"
                                               class="btn-shadow btn btn-focus">
                                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                                        <i class="fa fa-business-time fa-w-20"></i>
                                                    </span>
                                                View Batch List
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </li>

                            {% endfor %}

                        </ul>

                        {% else %}

                        <div class="app-page-title no-data">
                            <div class="text-center"><h3>No Display</h3>
                                <div class="page-title-subheading">
                                    We can't find any sections in this class
                                </div>
                            </div>
                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
