{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

<link type="text/css" rel="stylesheet" href="{% static 'plugins/ladda/ladda-themeless.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'node_modules/jquery-steps/dist/jquery-steps.css' %}">


{% endblock %}


{% block content %}


<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    <a href="/teacher/classroom">{{section.group.name}}</a>
                    - {{school_profile.name_alias|lower|title}}

                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom">
                                        Classroom
                                    </a>
                                </li>


                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom/view?group={{section.group.id}}">
                                        {{section.group.name|capfirst}}
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom/sections?group={{section.group.id}}">
                                        Sections
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/section?section={{section.id}}">
                                        {{section.name|capfirst}}
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/batch/list?section={{section.id}}">
                                        Batch List
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>{{batch.name|capfirst}}</b>
                                </li>

                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">

                    {% if user.id == activity.user_added_id %}

                    <a href="/teacher/activity/manage/home?id={{activity.id}}" type="button"
                       class="btn-shadow btn btn-info mr-2">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-edit fa-w-20"></i>
                        </span>
                        Edit
                    </a>

                    {% endif %}

                    <button type="button" class="btn-shadow btn btn-focus">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-download fa-w-20"></i>
                        </span>
                        View as PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-lg-12">

                <div class="row">

                    <div class="col-md-3 mb-3">

                        <div class="main-card mb-3 card p-sm">
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item-header nav-item">Pages</li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom" class="nav-link"><i
                                                class="nav-link-icon pe-7s-chat"> </i>
                                            <span><b>Classroom</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link"
                                                       href="/teacher/classroom/view?group={{section.group.id}}">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        {{section.group.name|capfirst}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom/sections?group={{section.group.id}}"
                                           class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span><b>Sections</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="/teacher/section?section={{section.id}}" class="nav-link">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        <span>{{section.name|capfirst}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/batch/list?section={{section.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Batch Lists</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/list?group={{section.group.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Activity Lists</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/add?group={{section.group.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>Add New Activity</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-9">

                        {% for message in messages %}

                        <div class="alert {{ message.tags }} custom" style="width:100%">
                            <button type="button" class="close" data-dismiss="alert">×</button>

                            {% if message.extra_tags %}
                            <h5>
                                <strong>
                                    <i class="icon-exclamation-sign icon"></i>
                                    {{ message.extra_tags|title }}
                                </strong>
                            </h5>
                            {% else %}

                            <h5>
                                <strong>
                                    <i class="icon-exclamation-sign icon"></i>
                                    {{ message.extra_tags|title }}
                                </strong>
                            </h5>

                            {% endif %}

                            {{ message }}
                        </div>

                        {% endfor %}

                        <div class="mb-3 card text-white bg-success">
                            <div class="card-header">
                                Batch
                                <div class="btn-actions-pane-right">
                                    <button class="btn btn-light cad_body_state">
                                        <b><i class="fa fa-angle-up"></i></b>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body bg-white text-default">
                                <div class="widget-content n-padding">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">
                                                <h4>{{batch.name|capfirst}}</h4>
                                            </div>
                                            <div class="widget-subheading text-default">
                                                <p class="no-margin ">
                                                    From, <b>{{batch.start_date}}</b>
                                                    To, <b>{{batch.end_date}}</b>
                                                </p>
                                                <p class="no-margin">
                                                    {{section.group.name|capfirst}},
                                                    <b>{{section.name|capfirst}}</b>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="f-s text-secondary">
                                                <span class="{% if rates >= 20  %} text-warning {% endif %}"><i
                                                        class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 40  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 60  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 80  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 100  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 card bg-success text-white list_task">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                Pre Test
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-gift icon-gradient bg-love-kiss"> </i>
                                </div>
                                <ul class="nav custom">
                                    <li class="nav-item">
                                        <a href="/teacher/batch?batch={{batch.id}}&section={{section.id}}"
                                           class="nav-link">
                                            Dashboard
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/gst/batch/list?batch={{batch.id}}&section={{section.id}}"
                                           class="nav-link">
                                            GST
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/teacher/task/list?batch={{batch.id}}&section={{section.id}}"
                                           class="nav-link">
                                            PostTest
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/teacher/task/list/pre?batch={{batch.id}}&section={{section.id}}"
                                           class="nav-link active">
                                            PreTest
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/teacher/batch/students?batch={{batch.id}}&section={{section.id}}"
                                           class="nav-link">
                                            Students
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body bg-white text-default">

                                <div class="overlay-spinner">
                                    <div class="icon">
                                        <i class="fa-spin fa fa-spinner"></i>
                                    </div>
                                </div>

                                <div class="widget-content p-0 mb-4">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <form class="search">
                                                <div class="search-wrapper active">
                                                    <div class="input-holder">
                                                        <input type="text" name="search" class="search-input"
                                                               placeholder="Type to search">
                                                        <button type="button" class="search-icon"><span></span></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="widget-content-right header-user-info">

                                            <button
                                                    data-toggle="modal" data-target=".task_add_batch_modal"
                                                    class="btn-shadow mr-3 btn btn-focus">
                                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                                            <i class="fa fa-plus"></i>
                                                        </span>
                                                Add Task (Pre Test)
                                            </button>
                                        </div>

                                    </div>
                                </div>

                                <div class="jsgrid grid-cus">

                                    <div class="inner_content no_display">
                                        <div>
                                            <h4>No display</h4>
                                            <p><span>We cant find any information or source</span></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block outside %}

<div class="modal fade task_add_batch_modal" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="overlay-spinner">
                <div class="icon">
                    <i class="fa-spin fa fa-spinner"></i>
                </div>
            </div>

            <div class="modal-header bg-success">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Task (PreTest)</h5>
                <div class="btn-actions-pane-right">
                    <form id="search">
                        <div class="search-wrapper active no-width">
                            <div class="input-holder bg-white">
                                <input type="text" class="search-input" name="search" placeholder="Type to search">
                                <button type="button" class="search-icon"><span></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-body no-padding" style="min-height:374px">
                <div id="wizard-steps">
                    <div class="step-app">
                        <ul class="step-steps">
                            <li class="text-center"><a href="#step1">Choose Actvity</a></li>
                            <li class="text-center"><a href="#step2">Identification</a></li>
                        </ul>
                        <form class="step-content no-padding"
                              action="/teacher/task/list/pre/add"
                              method="post"
                              data-parsley-validate>
                            {% csrf_token %}
                            <input type="hidden" name="batch" value="{{batch.id}}">
                            <input type="hidden" name="section" value="{{section.id}}">
                            <div class="step-tab-panel" id="step1">
                                <div class="text-default jsgrid grid-cus"></div>
                            </div>
                            <div class="step-tab-panel" id="step2">

                                <div class="card-body">

                                    <div class="position-relative row form-group">
                                        <label class="col-sm-2 col-form-label">
                                            Title
                                            <span class="red inline">*</span>
                                        </label>
                                        <div class="col-sm-10">
                                            <input type="text" name="title" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="position-relative row form-group">
                                        <label class="col-sm-2 col-form-label">
                                            GST
                                            <span class="red inline">*</span>
                                        </label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <select class="form-control" name="gst" required>
                                                {% for per in gst %}
                                                <option value="{{per.id}}">{{per.activity.title}} - {{per.date_added}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                                <div class="input-group-prepend">

                                                    <a href="/teacher/gst/batch/list?batch={{batch.id}}&section={{section.id}}"
                                                       target="_blank"
                                                       data-toggle="tooltip"
                                                       data-placement="top"
                                                       data-original-title="Click to open in new tab"
                                                       class="btn btn-success">
                                                        <i class="fa fa-plus fa-w-20"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="helper mt-1 custom text-primary">
                                                <ul>
                                                    <li class="mb-1">
                                                        a. If the child’s raw score in the GST is 0-7, he/she must
                                                        be given a
                                                        passage that is 3
                                                        grade levels below his current level.
                                                    </li>
                                                    <li>
                                                        b. If the child’s raw score in the GST is 8-13, he/she must
                                                        be given a
                                                        passage that is 2
                                                        grades below his current level.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="position-relative row form-group">
                                        <label class="col-sm-2 col-form-label">
                                            Description
                                        </label>
                                        <div class="col-sm-10">
                                                <textarea name="description" class="form-control"
                                                          style="height:130px"></textarea>
                                            <div class="helper mt-1 custom text-primary">Message to the students
                                            </div>
                                        </div>
                                    </div>

                                    <div class="position-relative row form-group">
                                        <label class="col-sm-2 col-form-label">
                                        </label>
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="widget-content-left full-width">
                    <span id="pagination"></span>
                </div>
                <button type="button" class="btn btn-focus btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>

    window.define_const("fn_batch", "{{batch.id}}");
    window.define_const("fn_section", "{{section.id}}");
    window.define_const("fn_test_type", "{{test_type}}");














</script>

<script src="{% static 'plugins/spin/spin.js' %}"></script>
<script src="{% static 'plugins/ladda/ladda.jquery.min.js' %}"></script>
<script src="{% static 'plugins/ladda/ladda.js' %}"></script>
<script src="{% static 'node_modules/jquery-steps/dist/jquery-steps.min.js' %}"></script>
<script src="{% static 'testers_assets/classroom/task/populate_list_pretest.js' %}"></script>
<script src="{% static 'testers_assets/classroom/task/load_add_pre_test.js' %}"></script>

{% endblock %}
