{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    <a href="/teacher/classroom">{{group_level.name}}</a>
                    - {{school_profile.name_alias|lower|title}}

                    <div class="page-title-subheading">

                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{school_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom">
                                        Classroom
                                    </a>
                                </li>
                            </ol>
                        </nav>

                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <a href="/teacher/classroom/sections?group={{group_level.id}}"
                   class="btn-lg btn-shadow mr-3 btn btn-focus">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-list-ul fa-w-20"></i>
                   </span> View Sections
                </a>

                <a href="/teacher/classroom/sections?group={{group_level.id}}"
                   class="btn-lg btn-shadow mr-3 btn btn-focus mr-2">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-list-ul fa-w-20"></i>
                   </span> View/Add Activity
                </a>

            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-md-3 mb-3">

                <div class="main-card mb-3 card p-sm">
                    <div class="col">
                        <ul class="nav flex-column">
                            <li class="nav-item-header nav-item">Pages</li>
                            <li class="nav-item">
                                <a href="/teacher/classroom" class="nav-link"><i class="nav-link-icon pe-7s-chat"> </i>
                                    <span><b>Classroom</b></span>
                                </a>
                                <div class="col">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/teacher/classroom/view?group=7">
                                                <i class="nav-link-icon pe-7s-chat"> </i>
                                                <b>{{group_level.name|capfirst}}</b>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/teacher/activity/list?group={{group_level.id}}" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>View Activity List</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/teacher/activity/add?group={{group_level.id}}" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>Add New Activity</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <div class="main-card mb-3 card">
                    <div class="card-body">

                        {% if list_group_levels %}

                        <ul class="list-group">

                            {% for per in list_group_levels %}

                            <li class="list-group-item">

                                <div class="list-group-item-heading">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-outer">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <h4>
                                                        <a href="/teacher/classroom/view?group={{per.id}}">
                                                            <b>
                                                                {{per.name}}
                                                            </b>
                                                        </a>
                                                    </h4>
                                                    <div class="widget-subheading">
                                                        <b>{{per.section_length}}</b>
                                                        Sections
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers text-success">
                                                        <div>
                                                            <span class="{% if per.rates >= 20  %} text-warning {% endif %}"><i
                                                                    class="fa fa-star"></i></span>
                                                            <span class="{% if per.rates >= 40  %} text-warning {% endif %}"><i
                                                                    class="fa fa-star"></i></span>
                                                            <span class="{% if per.rates >= 60  %} text-warning {% endif %}"><i
                                                                    class="fa fa-star"></i></span>
                                                            <span class="{% if per.rates >= 80  %} text-warning {% endif %}"><i
                                                                    class="fa fa-star"></i></span>
                                                            <span class="{% if per.rates >= 100  %} text-warning {% endif %}"><i
                                                                    class="fa fa-star"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>

                            {% endfor %}

                        </ul>

                        {% else %}

                        <div class="app-page-title no-data">
                            <div class="text-center"><h3>No Display</h3>
                                <div class="page-title-subheading">
                                    We can't find any class levels
                                </div>
                            </div>
                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
