{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}


<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    <a href="/teacher/classroom">{{section.group.name}}</a>
                    - {{school_profile.name_alias|lower|title}}

                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom">
                                        Classroom
                                    </a>
                                </li>


                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom/view?group={{section.group.id}}">
                                        {{section.group.name|capfirst}}
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom/sections?group={{section.group.id}}">
                                        Sections
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/section?section={{section.id}}">
                                        {{section.name|capfirst}}
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/batch/list?section={{section.id}}">
                                        Batch List
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>{{batch.name|capfirst}}</b>
                                </li>

                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">

                    {% if user.id == activity.user_added_id %}

                    <a href="/teacher/activity/manage/home?id={{activity.id}}" type="button"
                       class="btn-shadow btn btn-info mr-2">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-edit fa-w-20"></i>
                        </span>
                        Edit
                    </a>

                    {% endif %}

                    <button type="button" class="btn-shadow btn btn-focus">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-download fa-w-20"></i>
                        </span>
                        View as PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-lg-12">

                <div class="row">

                    <div class="col-md-3 mb-3">

                        <div class="main-card mb-3 card p-sm">
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item-header nav-item">Pages</li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom" class="nav-link"><i
                                                class="nav-link-icon pe-7s-chat"> </i>
                                            <span><b>Classroom</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link"
                                                       href="/teacher/classroom/view?group={{section.group.id}}">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        {{section.group.name|capfirst}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom/sections?group={{section.group.id}}"
                                           class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span><b>Sections</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a href="/teacher/section?section={{section.id}}" class="nav-link">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        <span>{{section.name|capfirst}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/batch/list?section={{section.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Batch Lists</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/list?group={{section.group.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Activity Lists</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/add?group={{section.group.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>Add New Activity</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-9">

                        {% for message in messages %}

                        <div class="alert {{message.tags}} fade show" role="alert">
                            <h5>{{message.message.title}}</h5>
                            <p class="mb-0">
                                {{message.message.content}}
                            </p>
                        </div>

                        {% endfor %}

                        <div class="mb-3 card text-white bg-success">
                            <div class="card-header">
                                Batch
                                <div class="btn-actions-pane-right">
                                    <button class="btn btn-light cad_body_state">
                                        <b><i class="fa fa-angle-up"></i></b>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body bg-white text-default">
                                <div class="widget-content n-padding">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">
                                                <h4>{{batch.name|capfirst}}</h4>
                                            </div>
                                            <div class="widget-subheading text-default">
                                                <p class="no-margin ">
                                                    From, <b>{{batch.start_date}}</b>
                                                    To, <b>{{batch.end_date}}</b>
                                                </p>
                                                <p class="no-margin">
                                                    {{section.group.name|capfirst}},
                                                    <b>{{section.name|capfirst}}</b>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="f-s text-secondary">
                                                <span class="{% if rates >= 20  %} text-warning {% endif %}"><i
                                                        class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 40  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 60  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 80  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 100  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 card bg-success text-white">
                            <div class="card-header-tab card-header-tab-animation card-header">
                                Dashboard
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon lnr-gift icon-gradient bg-love-kiss"> </i>
                                </div>
                                <ul class="nav custom">
                                    <li class="nav-item">
                                        <a href="/teacher/batch?batch={{batch.id}}&section={{section.id}}"
                                           class="nav-link active">
                                            Dashboard
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/gst/batch/list?batch={{batch.id}}&section={{section.id}}"
                                           class="nav-link">
                                            GST
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/teacher/task/list?batch={{batch.id}}&section={{section.id}}"
                                           class="nav-link">
                                            PostTest
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/teacher/task/list/pre?batch={{batch.id}}&section={{section.id}}"
                                           class="nav-link">
                                            PreTest
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/teacher/batch/students?batch={{batch.id}}&section={{section.id}}"
                                           class="nav-link">
                                            Students
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body bg-white text-default">
                            </div>
                        </div>


                    </div>


                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
