{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}


<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    <a href="/teacher/classroom">{{group_level.name}}</a>
                    - {{school_profile.name_alias|lower|title}}

                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{school_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/teacher/classroom">
                                        Classroom
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>Activity</b>
                                </li>

                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">

                    {% if user.id == activity.user_added_id %}

                    <a href="/teacher/activity/manage/home?id={{activity.id}}" type="button"
                       class="btn-shadow btn btn-info mr-2">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-edit fa-w-20"></i>
                        </span>
                        Edit
                    </a>

                    {% endif %}

                    <button type="button" class="btn-shadow btn btn-focus">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-download fa-w-20"></i>
                        </span>
                        View as PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-lg-12">

                <div class="row">

                    <div class="col-md-3 mb-3">

                        <div class="main-card mb-3 card p-sm">
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item-header nav-item">Pages</li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom" class="nav-link"><i
                                                class="nav-link-icon pe-7s-chat"> </i>
                                            <span><b>Classroom</b></span>
                                        </a>
                                        <div class="col">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link"
                                                       href="/teacher/classroom/view?group={{group_level.id}}">
                                                        <i class="nav-link-icon pe-7s-chat"> </i>
                                                        {{group_level.name|capfirst}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/classroom/sections?group={{group_level.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>View Sections</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/teacher/activity/add?group={{group_level.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-wallet"> </i>
                                            <span>Add New Activity</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-9">

                        {% for message in messages %}

                        <div class="alert {{message.tags}} fade show" role="alert">
                            <h5>{{message.message.title}}</h5>
                            <p class="mb-0">
                                {{message.message.content}}
                            </p>
                        </div>

                        {% endfor %}

                        <div class="mb-3 card text-white bg-success">
                            <div class="card-header">Activity</div>
                            <div class="card-body bg-white text-default">
                                <div class="widget-content n-padding">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">
                                                <h4>{{activity.title|capfirst}}</h4>
                                            </div>
                                            <div class="widget-subheading text-default">
                                                Author, <a href="#"><b>{{activity.user_added.get_full_name}}</b></a>
                                            </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="f-s text-secondary">
                                                <span class="{% if rates >= 20  %} text-warning {% endif %}"><i
                                                        class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 40  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 60  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 80  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                                <span class="{% if rates >= 100  %} text-warning {% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Literal Questions</div>
                                                <div class="widget-subheading more f-xs"
                                                     style="width:84%; min-height:57px">
                                                    Questions in which the answers are explicitly stated in the
                                                    text
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-primary">
                                                    {{activity.question_type.literal}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Inferential Questions</div>
                                                <div class="widget-subheading more f-xs"
                                                     style="width:84%; min-height:57px">
                                                    Questions in which the answers are not explicitly stated in
                                                    the text. These questions require the reader to establish
                                                    relationships between what he/she knows and what is
                                                    stated in the text. Questions regarding vocabulary words
                                                    used in the text may also be considered inferential when
                                                    they require the reader to use context clues in order to
                                                    figure out word meanings
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-primary">
                                                    {{activity.question_type.inferential}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Critical Questions</div>
                                                <div class="widget-subheading more f-xs"
                                                     style="width:84%; min-height:57px">
                                                    Questions which require the learner to analyze, synthesize,
                                                    and make judgments on the author’s ideas
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-primary">
                                                    {{activity.question_type.critical}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-xl-none d-lg-block col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Income</div>
                                                <div class="widget-subheading">Expected totals</div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div class="widget-numbers text-focus">$147</div>
                                            </div>
                                        </div>
                                        <div class="widget-progress-wrapper">
                                            <div class="progress-bar-sm progress-bar-animated-alt progress">
                                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="54"
                                                     aria-valuemin="0" aria-valuemax="100" style="width: 54%;"></div>
                                            </div>
                                            <div class="progress-sub-label">
                                                <div class="sub-label-left">Expenses</div>
                                                <div class="sub-label-right">100%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main-card mb-3 card">
                            <div class="no-gutters row">
                                <div class="col-md-6">
                                    <div class="pt-0 pb-0 card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Question/Items</div>
                                                                <div class="widget-subheading w-90">
                                                                    Total number questions of each
                                                                    item in the test.
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="widget-numbers text-primary">
                                                                    {{activity.question_set}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Passage/Selections</div>
                                                                <div class="widget-subheading w-90">
                                                                    Total number used to
                                                                    determine a
                                                                    student’s independent, instructional and frustration
                                                                    levels.
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="widget-numbers text-primary">
                                                                    {{activity.passage_set}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pt-0 pb-0 card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Student's Taken</div>
                                                                <div class="widget-subheading w-90">
                                                                    Total number of student take this activity
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="widget-numbers text-primary">
                                                                    {{activity.student_taken}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Task added</div>
                                                                <div class="widget-subheading w-90">
                                                                    Number of times added this activity as task
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="widget-numbers text-primary">
                                                                    {{activity.task_added}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="main-card mb-3 card">
                            <div class="card-header">
                                Passages
                            </div>
                            <div class="table-responsive">

                                {% if activity.assesment_list %}

                                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="width:20%">Title</th>
                                        <th class="text-center" style="width:20%">No. of Questions</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for per in activity.assesment_list %}

                                    <tr>
                                        <td class="text-center" style="width:20%">{{per.title}}</td>
                                        <td class="text-center" style="width:20%">{{per.question_set}}</td>
                                    </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>

                                {% else %}

                                <div class="card-body">

                                    <div class="app-page-title no-data">
                                        <div class="text-center"><h3>No Display</h3>
                                            <div class="page-title-subheading">
                                                We can't find any passages or selection on this activity
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                {% endif %}
                            </div>
                        </div>

                        {% if user.id == activity.user_added_id %}

                        <div class="main-card mb-3 card">
                            <div class="card-header">
                                <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>
                                Settings
                                <div class="btn-actions-pane-right">
                                    <div class="nav">
                                        <a href="/teacher/activity/manage/home?id={{activity.id}}"
                                           class="btn btn-lg btn-info mr-2">
                                            <i class="fa fa-edit"></i> &nbsp;
                                            Edit
                                        </a>
                                        <form id="remove" method="get"
                                              action="/teacher/activity/remove">
                                            <button name="activity" value="{{activity.id}}"
                                                    class="btn btn-lg btn-danger mr-2">
                                                <i class="fa fa-trash"></i> &nbsp;
                                                Remove
                                            </button>
                                        </form>
                                    </div>
                                </div>


                            </div>
                        </div>

                        {% endif %}


                    </div>


                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script>

    (function(jq) {

        jq("#remove").submit(function(e) {

            const confirmation = confirm(`Are you sure you want to remove this activity, this won't recover after done`);

            if(!confirmation) return e.preventDefault();

        });

    })($);



</script>


{% endblock %}
