{% extends "testers_temp/student/student_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon">
                    <i class="pe-7s-diamond icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Phil-IRI Group Screening Test (GST)
                    <div class="page-title-subheading">
                        Tell teachers whether students are reading at,
                        above, or below their grade levels. The individually administered Phil-IRI Graded Passages
                        can be used to assess students’ Oral Reading, Silent Reading Comprehension and/or
                        Listening Comprehension levels.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">ID. {{user.id|less_zeros}}{{user.id}}</h3>
            </div>
        </div>
    </div>


    <div class="col-lg-12">

        <div class="row">

            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">

                        {% regroup group_data by section__group_id as group_list %}

                        {% if group_list %}

                        <ul class="list-group">

                            {% for per_group in group_list %}

                            <li class="list-group-item">

                                {% for per_section in per_group.list %}

                                {% if forloop.first %}

                                <h5 class="list-group-item-heading mb-3">
                                    <b>{{per_section.section__group__name|capfirst}} -
                                        <a href="#">{{per_section.batch__name|capfirst}}</a></b>
                                </h5>

                                <ul class="list-group">

                                    {% endif %}

                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-outer">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">
                                                            <a href="/student/group/activity?batch_id={{per_section.id}}">
                                                                {{per_section.section__name|capfirst}}
                                                            </a>
                                                        </div>
                                                        <div class="widget-subheading">
                                                            <b>{{per_section.task_length}} Activity/Task</b>
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-success">
                                                            <div>
                                                               <span
                                                                       class="{% if per_section.rate_percent >= 20  %} text-warning {% endif %}"><i
                                                                       class="fa fa-star"></i></span>
                                                                <span class="{% if per_section.rate_percent >= 40  %} text-warning {% endif %}"><i
                                                                        class="fa fa-star"></i></span>
                                                                <span class="{% if per_section.rate_percent >= 60  %} text-warning {% endif %}"><i
                                                                        class="fa fa-star"></i></span>
                                                                <span class="{% if per_section.rate_percent >= 80  %} text-warning {% endif %}"><i
                                                                        class="fa fa-star"></i></span>
                                                                <span class="{% if per_section.rate_percent >= 100  %} text-warning {% endif %}"><i
                                                                        class="fa fa-star"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    {% if forloop.last %}

                                </ul>

                                {% endif %}

                                {% endfor %}

                            </li>

                            {% endfor %}

                        </ul>

                        {% else %}

                        <div class="app-page-title no-data">
                            <div class="text-center"><h3>No Display</h3>
                                <div class="page-title-subheading">We can't find any groups at this moment or
                                    ask your teacher for help about this behaviour.
                                </div>
                            </div>
                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}


{% block scripts %}

<!--<script src="{% static 'scripts/student/load_student_activity.js' %}"></script>-->

{% endblock %}
