{% extends "testers_temp/student/student_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon" style="width : auto; height: auto;">
                    <!--                    <i class="pe-7s-info icon-gradient bg-plum-plate"> </i>-->

                    <div class="btn-group" style="width: 100%;">
                        <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                            <img width="76" class="rounded-circle" src="/static/images/boy.png" alt="">
                        </a>
                    </div>

                </div>
                <div>
                    <h4>{{section_name|capfirst}} - {{school.name_alias|lower|title}}</h4>
                    <div class="page-title-subheading">
                        <h5>
                            {{group_name|lower|title}} -
                            <a href="#">
                                {{batch_name|lower|title}}
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">ID. {{user.id|less_zeros}}{{user.id}}</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="row">

            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">

                        {% if activitys %}

                        <ul class="list-group">

                            {% for per in activitys %}

                            <li class="list-group-item ">
                                <div class="widget-content p-0">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">

                                            {% if not per.is_preTest %}

                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    <big>
                                                        <a href="/student/activity/start?id={{per.id}}">
                                                            {{per.activity.title|lower|title}}
                                                        </a>
                                                    </big>
                                                </div>
                                                <div class="widget-subheading">
                                                    <p class="no-margin">{{per.date_added}}</p>
                                                    <p class="no-margin">Teacher,
                                                        <b>{{per.user.get_full_name|lower |title}}</b>
                                                    </p>
                                                    <p class="no-margin">Type,
                                                        <b>{{per.activity.get_test_type_display}}</b>
                                                    </p>
                                                </div>
                                            </div>

                                            {% else %}

                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    <big>
                                                        <a href="/student/activity/start?id={{per.id}}">
                                                            {{per.name|lower|title}}
                                                        </a>
                                                    </big>
                                                </div>
                                                <div class="widget-subheading">
                                                    <p class="no-margin">{{per.date_added}}</p>
                                                    <p class="no-margin">Teacher,
                                                        <b>{{per.user.get_full_name|lower |title}}</b>
                                                    </p>
                                                    <p class="no-margin">Type,
                                                        <b>Pre Test</b>
                                                    </p>
                                                </div>
                                            </div>

                                            {% endif %}

                                            <div class="widget-content-right">
                                                <table class="table-view">
                                                    <tr>
                                                        <td>
                                                             <div class="no-p-m-b font-icon-wrapper font-icon-lg">
                                                                    {% if per.has_graded %}
                                                                    <i class="pe-7s-smile text-success"></i>
                                                                    <h6><b>Graded</b></h6>
                                                                    {% else %}
                                                                    <i class="pe-7s-close-circle text-danger"></i>
                                                                    <h6><b>No grade</b></h6>
                                                                    {% endif %}
                                                             </div>
                                                        </td>
                                                        <td>
                                                            <div class="widget-numbers text-success">
                                                                <div>
                                                                    <span class="{% if per.rates >= 20  %} text-warning {% endif %}"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="{% if per.rates >= 40  %} text-warning {% endif %}"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="{% if per.rates >= 60  %} text-warning {% endif %}"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="{% if per.rates >= 80  %} text-warning {% endif %}"><i
                                                                            class="fa fa-star"></i></span>
                                                                    <span class="{% if per.rates >= 100  %} text-warning {% endif %}"><i
                                                                            class="fa fa-star"></i></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            {% endfor %}

                        </ul>

                        {% else %}

                        <div class="app-page-title no-data">
                            <div class="text-center">
                                <h3>No task</h3>
                                <div class="page-title-subheading">
                                    No available activity or task for this classroom
                                </div>
                            </div>
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


{% endblock %}


{% block scripts %}

<!--<script src="{% static 'scripts/student/load_student_activity.js' %}"></script>-->

{% endblock %}
