{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="span9">
        <div class="content">

            <div class="module">
                <div class="module-head">
                    <h3>Register student information</h3>
                </div>
                <div class="module-body">

                    {% if messages %}

                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>
                                    {{ message }}
                                </strong>
                            </div>
                        {% endfor %}

                    {% endif %}


                    <br/>

                    <form class="form-horizontal row-fluid" data-parsley-validate method="POST"
                          action="/students/register">


                        {% csrf_token %}

                        <div class="control-group">
                            <label class="control-label" for="basicinput">Last name</label>
                            <div class="controls">
                                <input type="text" id="basicinput" placeholder="Surname" class="span8" required
                                       data-parsley-maxlength="22" data-parsley-onlytext name="lastname"
                                       value="{{ lastname }}">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="basicinput">First name</label>
                            <div class="controls">
                                <input type="text" id="basicinput" placeholder="Given name" class="span8" required
                                       data-parsley-maxlength="22" data-parsley-onlytext name="firstname"
                                       value="{{ firstname }}">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="basicinput">Middle name</label>
                            <div class="controls">
                                <input type="text" id="basicinput" placeholder="Middle name" class="span8"
                                       data-parsley-maxlength="22" data-parsley-onlytext name="middlename"
                                       value="{{ middlename }}">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="basicinput">Key</label>
                            <div class="controls">
                                <button class="btn btn-sm btn-input-sm" id="generate_key" type="button">
                                    <i class="icon-random"></i>
                                </button>
                                <input type="number" placeholder="Private key" class="span4"
                                       required=""
                                       name="key"
                                       data-parsley-minlength="4" data-parsley-remote
                                       data-parsley-remote-validator='check_student_key'
                                       data-parsley-remote-message='Not available'
                                       value="{{ key }}">

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label">Gender</label>
                            <div class="controls">

                                <label class="radio">

                                    {% if gender == "0" %}

                                        <input type="radio" name="gender" value="0" checked>

                                    {% elif gender != "0" and gender != "1" %}

                                        <input type="radio" name="gender" value="0" checked>

                                    {% else %}

                                        <input type="radio" name="gender" value="0">

                                    {% endif %}
                                    Male
                                </label>

                                <label class="radio">

                                    {% if gender == "1" %}

                                        <input type="radio" name="gender" value="1" checked required>

                                    {% else %}

                                        <input type="radio" name="gender" value="1" required>

                                    {% endif %} Female
                                </label>

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="basicinput">Contact number</label>
                            <div class="controls">
                                <div class="input-prepend">
                                    <span class="add-on">+639</span>
                                    <input class="span10 hide-spinner" type="number" placeholder="Phone number"
                                           name="contact_num" value="{{ contact_num }}">
                                </div>
                                <span class="help-inline">(Optional)</span>
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="basicinput">Description</label>
                            <div class="controls">
                                <textarea class="span8" rows="5" name="description">{{ description }}</textarea>
                                <span class="help-inline">(Optional)</span>
                            </div>
                        </div>


                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" name="action" value="save_add" class="btn">
                                    Save and add more
                                </button>
                                <button type="submit" name="action" value="save_view" class="btn">Save and view
                                    information
                                </button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>


        </div><!--/.content-->
    </div>

{% endblock %}





{% block scripts %}

    <script src="{% static 'node_modules/parsleyjs/dist/parsley.js' %}"></script>
    <script src="{% static 'scripts/jquery.cookie.min.js' %}"></script>
    <script src="{% static 'scripts/js_modules/parsely_validation_plugin.js' %}"></script>
    <script src="{% static 'scripts/student/addNewStudent.js' %}"></script>

{% endblock %}


