{% extends "base.html" %}

{% load static %}


{% block stylesheet %}
    <link type="text/css" href="{% static 'bower_components\jsgrid\dist\jsgrid.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'bower_components\jsgrid\dist\jsgrid-theme.css' %}" rel="stylesheet">

    <link type="text/css" href="{% static 'node_modules\daterangepicker\daterangepicker.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'plugins\jquery-modal\jquery.modal.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <div class="span12">
        <div class="module">
            <div class="module-body">
                <div class="profile-head media">
                    <span>{{ python.sys }}</span>
                    <div class="media-body">
                        <h3>
                            <a href="/groups/info?index={{ section_info.group_id }}&name={{ section_info.group }}">
                                {{ section_info.group|lower|capfirst }}
                            </a> -
                            <a href="/groups/section/info?index={{ section_info.id }}">
                                {{ section_info.name|lower|capfirst }}
                            </a> -
                            {{ batch_info.name|lower|capfirst }}

                        </h3>
                    </div>
                </div>
                <ul class="profile-tab nav nav-tabs" style="padding: 0px 15px 0;">
                    <li class="active"><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
                    <li class=""><a href="#students" data-toggle="tab">Students</a></li>
                    <li class=""><a href="#manage_task" data-toggle="tab">Manage Task</a></li>
                </ul>
                <div class="profile-tab-content tab-content">
                    <div class="tab-pane fade active in" id="dashboard">

                    </div>
                    <div class="tab-pane fade" id="students">
                        <section id="list">

                            <div class="modal-body">

                                <a class="btn btn-success pull-right span"
                                   href="class/student/students_not_in_class?section={{ section_info.id }}&batch={{ batch_info.id }}"
                                   rel="modal:open">

                                    <i class="menu-icon icon-plus-sign-alt"></i> Add

                                </a>

                                <form>
                                    <div class="input-append pull-left">
                                        <input type="text" class="span3" placeholder="Filter by name or key..."
                                               id="search">
                                        <button type="submit" class="btn">
                                            <i class="icon-search"></i>
                                        </button>
                                    </div>
                                </form>
                                <div class="btn-group pull-right radio-button" data-toggle="buttons-radio">

                                    <form id="state-type">
                                        <button type="submit" class="btn active" value="" name="state">
                                            All
                                        </button>
                                        <button type="submit" class="btn" value="0" name="state">
                                            Male
                                        </button>
                                        <button type="submit" class="btn" value="1" name="state">
                                            Female
                                        </button>
                                    </form>

                                </div>

                            </div>

                            <div class="student_list"></div>

                        </section>
                    </div>
                    <div class="tab-pane fade" id="manage_task">

                        <div class="module-option clearfix">
                            <div class="pull-left">
                                <b>Sem:</b> {{ batch_object.start_date|date:"M d, Y"}}
                                -
                                {{ batch_object.end_date|date:"M d, Y"}}
                            </div>
                            <div class="pull-right">

                                <a href="/activity/modal_add?section={{ section_info.id }}&batch={{ batch_info.id}}&group_level={{ section_object.group.id }}"
                                   rel="modal:open"
                                   class="btn btn-primary">
                                    Add Activity
                                </a>

                                <a href="/task/add?section={{ section_info.id }}&batch={{ batch_info.id }}"
                                   class="btn btn-primary">Add Task
                                </a>

                                <a href="/groups/info?index={{ section_object.group.id }}#activity"
                                   class="btn btn-primary">Go to Activity
                                </a>

                            </div>


                        </div>

                        <div class="module message">
                            <div class="module-body table">

                                <div class="list_task table-message"></div>

                            </div>
                            <div class="module-foot"></div>
                        </div>

                    </div>
                </div>
            </div>
            <!--/.module-body-->
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script type="text/javascript">

        window.define_const("section_id", Number("{{ section_info.id }}"));
        window.define_const("batch_id", Number("{{ batch_info.id }}"));

    </script>

    <script src="{% static 'bower_components\jsgrid\dist\jsgrid.js' %}"></script>
    <script src="{% static 'plugins\lodash.js' %}"></script>
    <script src="{% static 'scripts\jquery.cookie.min.js' %}"></script>
    <script src="{% static 'node_modules\moment\moment.js' %}"></script>
    <script src="{% static 'plugins\jquery-modal\jquery.modal.js' %}"></script>
    <script src="{% static 'scripts\class\view_class_student_list.js' %}"></script>
    <script src="{% static 'scripts\class\view_task_list.js' %}"></script>

{% endblock %}



{% block template_script %}

    <script type="text/html" id="student_list">

        <div class="media user">
            <a class="media-avatar pull-left" href="#">
                <img src="/static/images/user.png">
            </a>
            <div class="media-body">
                <h3 class="media-title">
                    {name}
                </h3>
                <p>
                <div class="stream-text">
                    Grade IV, Grade II
                </div>

                <div class="stream-text">
                    {gender}
                </div>

                </p>
            </div>
        </div>

    </script>

{% endblock %}
