
{% extends "base.html" %}

{% block content %}

    <div class="span9">
        <div class="content">
            <div class="module">
                <div class="module-body">
                    <div class="profile-head media">
                        <a href="#" class="media-avatar pull-left">
                            <img src="/static/images/user.png">
                        </a>
                        <div class="media-body">
                            <h4>
                                Grade I <small>Offline</small>
                            </h4>
                            <p class="profile-brief">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type.
                            </p>
                        </div>
                    </div>
                </div>
                <!--/.module-body-->
            </div>
            <!--/.module-->
        </div>
        <!--/.content-->
    </div>
    <div class="span9">
        <div class="content">
            <div class="module">
                <div class="module-body">
                    <div class="profile-head media">
                        <a href="#" class="media-avatar pull-left">
                            <img src="/static/images/user.png">
                        </a>
                        <div class="media-body">
                            <h4>
                                Grade II <small>Offline</small>
                            </h4>
                            <p class="profile-brief">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type.
                            </p>
                            <div class="profile-details muted">
                                <a href="#" class="btn"><i class="icon-plus shaded"></i>Send Friend Request </a>
                                <a href="#" class="btn"><i class="icon-envelope-alt shaded"></i>Send message </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.module-body-->
            </div>
            <!--/.module-->
        </div>
        <!--/.content-->
    </div>

{% endblock %}