{% extends "base.html" %}

{% load static %}

{% block stylesheet %}

    <link type="text/css" href="{% static 'bower_components\jsgrid\dist\jsgrid.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'bower_components\jsgrid\dist\jsgrid-theme.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'plugins\jquery-modal\jquery.modal.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="span9">
        <div class="content">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>

            <div class="module">
                <div class="module-body group">
                    <div class="profile-head media">
                        <div class="media-body">
                            <h2>
                                {{ name|upper }}
                            </h2>
                            <p class="profile-brief read_more_toggle">

                                {% if description %}
                                    {{ description }}
                                {% else %}
                                    <i>No description</i>
                                {% endif %}

                            </p>
                        </div>
                    </div>
                    <ul class="profile-tab nav nav-tabs">
                        <li class="active"><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
                        <li class=""><a href="#sections" data-toggle="tab">Sections</a></li><li><a href="#activity" data-toggle="tab">Activity</a></li>
                    </ul>
                    <div class="profile-tab-content tab-content">
                        <div class="tab-pane fade active in" id="dashboard">

                        </div>
                        <div class="tab-pane fade" id="sections">

                            <div class="content">
                                <div class="module">

                                    <div class="module-option clearfix">
                                        <form>
                                            <div class="input-append pull-left">
                                                <input type="text" id="search" class="span3"
                                                       placeholder="Filter by name...">
                                                <button type="submit" class="btn">
                                                    <i class="icon-search"></i>
                                                </button>
                                            </div>
                                        </form>
                                        <div class="btn-group pull-right" data-toggle="buttons-radio">

                                            <form id="state-type">
                                                <button type="submit" class="btn active" value="" name="state">
                                                    All
                                                </button>
                                                <button type="submit" class="btn" value="1" name="state">
                                                    Active
                                                </button>
                                                <button type="submit" class="btn" value="0" name="state">
                                                    Not active
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="module-body">
                                        <div id="section_list_table"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="pagination pagination-centered">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="activity">


                            <div class="module message" style="border:none">
                                <div class="module-option clearfix">
                                    <div class="pull-left">

                                        <div class="input-append pull-left">
                                            <input type="text" class="span3" placeholder="Filter by title or author"
                                                   id="search_activity">
                                            <button type="button" class="btn">
                                                <i class="icon-search"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="pull-right">
                                        <a href="/activity/modal_add?group_level={{ index }}" rel="modal:open"
                                           class="btn btn-primary">Create Activity</a>
                                    </div>
                                </div>
                                <div class="module-body table">
                                    <div class="list_activity table-message"></div>

                                    <!--

                                    <table class="table table-message">
                                        <tbody>
                                        <tr class="heading">
                                            <td class="cell-icon"></td>
                                            <td class="cell-title" style="width: 70%">Title</td>
                                            <td class="cell-status" style="width: 30%">Author</td>
                                        </tr>
                                        <tr class="task">
                                            <td class="cell-icon"><i class="icon-checker high"></i></td>
                                            <td class="">
                                                <h4><a>Phil-IRI Pangkatang Pagtatasa sa Pagbasa, Baitang 3</a></h4>
                                                <p>January 02, 2020</p>
                                                <section class="read_more_toggle">
                                                    is simply dummy text of the printing and typesetting industry. Lorem
                                                    Ipsum has been the industry's standard dummy text ever since the
                                                    1500s, when an unknown printer took a galley of type and scrambled
                                                    it to make a type specimen book. It has survived not only five
                                                    centuries, but also the leap into electronic typesetting, remaining
                                                    essentially unchanged. It was popularised in the 1960s with the
                                                    release of Letraset sheets containing Lorem Ipsum passages, and more
                                                    recently with desktop publishing software like Aldus PageMaker
                                                    including versions of Lorem Ipsum.
                                                </section>
                                            </td>
                                            <td class="cell-status">Mark Anthony P. Libres</td>
                                        </tr>

                                        <tr class="task">
                                            <td class="cell-icon"><i class="icon-checker high"></i></td>
                                            <td class="">
                                                <h4><a>Phil-IRI Pangkatang Pagtatasa sa Pagbasa, Baitang 3</a></h4>
                                            </td>
                                            <td class="cell-status">Yuan Libres</td>
                                        </tr>

                                        <tr class="task">
                                            <td class="cell-icon"><i class="icon-checker high"></i></td>
                                            <td class="">
                                                <h4><a>Pangkatang Pagtatasa sa Pagbasa, Baitang 3 Rev.2</a></h4>
                                                <p>Dec 02 2020, Thursday</p>
                                            </td>
                                            <td class="cell-status">Yuan Libres</td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    -->


                                </div>
                                <div class="module-foot">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--/.module-body-->
            </div>
            <!--/.module-->
        </div>
        <!--/.content-->
    </div>

{% endblock %}


{% block scripts %}

     <script type="text/javascript">

        window.define_const("group_id", Number({{ index }}));
        window.define_const("group_level", Number({{ index }}));

    </script>
    <script src="{% static 'bower_components\jsgrid\dist\jsgrid.js' %}"></script>
    <script src="{% static 'plugins\lodash.js' %}"></script>
    <script src="{% static 'scripts\jquery.cookie.min.js' %}"></script>
    <script src="{% static 'node_modules\moment\moment.js' %}"></script>
    <script src="{% static 'plugins\jquery-modal\jquery.modal.js' %}"></script>
    <script src="{% static 'scripts\group\view_section_list.js' %}"></script>
    <script src="{% static 'scripts\group\view_activity_list.js' %}"></script>

{% endblock %}



{% block template_script %}

    <script type="text/html" id="section_list">

        <div class="profile-head media">
            <a href="#" class="media-avatar pull-left">
                <img src="/static/images/user.png">
            </a>
            <div class="media-body">
                <h4>
                    <a href="/groups/section/info?index={id}">{name}</a> <small>{state}</small>
                </h4>
                <section class="profile-brief read_more_toggle">
                    {description}
                </section>
            </div>
        </div>


    </script>

{% endblock %}
