{% extends "base.html" %}

{% block content %}

    <div class="span9">

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong><i class="icon-exclamation-sign icon"></i> {{ message.tags|title }}, </strong>
                {{ message }}
            </div>
        {% endfor %}

    </div>


{% endblock %}