﻿{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhilIRI</title>
    <link type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'images/icons/css/font-awesome.css' %}" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
          rel='stylesheet'>
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i>
            </a>

            <a class="brand">
                Phil-IRI
            </a>

            <div class="nav-collapse collapse navbar-inverse-collapse">

                <ul class="nav pull-right">
                    <li><a href="#">
                        Forgot your password?
                    </a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->


<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="module module-login span4 offset4">
                <form class="form-vertical" action="/login/request" method="post">

                    {% csrf_token %}

                    <div class="module-head">
                        <h3>Sign In</h3>
                    </div>
                    <div class="module-body">

                    {% if messages %}

                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong>
                                {{ message }}
                            </strong>
                        </div>
                        {% endfor %}

                    {% endif %}

                        <div class="control-group">
                            <div class="controls row-fluid">
                                <input required class="span12" type="text" id="inputEmail" name="username"
                                       placeholder="Username">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls row-fluid">
                                <input required class="span12" type="password" name="password" id="inputPassword"
                                       placeholder="Password">
                            </div>
                        </div>

                    </div>
                    <div class="module-foot">
                        <div class="control-group">
                            <div class="controls clearfix">
                                <button type="submit" class="btn btn-primary pull-right">Login</button>
                                <label class="checkbox">
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!--/.wrapper-->

<div class="footer">
    <div class="container">


        <b class="copyright">&copy; {% now "Y" %} PhilIRI - Application </b> All rights
        reserved.
    </div>
</div>

<script src="{% static 'scripts/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/jquery-ui-1.10.1.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
</body>
