{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form id="register_form">

     {% csrf_token %}

    <table>
        <tr>
            <td>
                Username :
            </td>

            <td>
                <input type="text" placeholder="Username" name="username">
            </td>
        </tr>

         <tr>
            <td>
                Firstname :
            </td>

            <td>
                <input type="text" placeholder="Firstname" name="first_name">
            </td>
        </tr>


        <tr>
            <td>
                Lastname :
            </td>

            <td>
                <input type="text" placeholder="Lastname" name="last_name">
            </td>
        </tr>


         <tr>
            <td>
                Email :
            </td>

            <td>
                <input type="email" placeholder="Email" name="email">
            </td>
        </tr>



        <tr>
            <td>
                Password :
            </td>

            <td>
                <input type="password" placeholder="Password" name="password">
            </td>
        </tr>


        <tr>
            <td>
                Confirm password :
            </td>

            <td>
                <input type="password" placeholder="Confirm Password" name="c_password">
            </td>
        </tr>


        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>

    </table>

</form>

</body>

<script src="{% static 'scripts/jquery-1.9.1.min.js' %}"></script>

<script type="text/javascript">

    $(document).ready(function() {

        $("#register_form").submit(function (e) {

            e.preventDefault();

            const ofData = new FormData(this);
            const data = JSON.stringify(Object.fromEntries(ofData));

            const pre = $.ajax({
               url : "/login/registerRequest",
               data : JSON.parse(data),
               method : "post"
            });

            pre.done(function (response) {

            });

            pre.error(function (reason) {
               document.write(reason.responseText);
            });

        });

    });

</script>


</html>