{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
    <link type="text/css" href="{% static 'bower_components\jsgrid\dist\jsgrid.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'bower_components\jsgrid\dist\jsgrid-theme.css' %}" rel="stylesheet">

    <link type="text/css" href="{% static 'node_modules\daterangepicker\daterangepicker.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'plugins\jquery-modal\jquery.modal.css' %}" rel="stylesheet">

    <style>

        {#.featherlight .featherlight-content {#}
        {#    top: -201px;#}
        {#    bottom: 0;#}

    </style>

{% endblock %}


{% block content %}

    <div class="span9">


        <!-- modal.js add class -->

        <div id="ex1" class="modal" style="position: absolute; left: 0px; right: 0px; margin: 0px auto;">
            <h3>Create new class</h3>

            <form action="">
                <p><label><b>Name:</b></label><input type="text" class="form-control" re/></p>
                <p><label><b>Description:</b></label><textarea style="width: 100%; height: 100px"></textarea></p>
                <p><input type="submit" class="btn btn-primary" value="Save"/></p>
            </form>

        </div>

        <div class="content">

            <div class="module">
                <div class="module-head">
                    <h3>Section</h3>
                </div>
                <div class="module-body">
                    <div class="stream-composer media">
                        <a href="#" class="media-avatar medium pull-left">
                            <img src="/static/images/user.png">
                        </a>
                        <div class="media-body">
                            <h3>
                                <a href="/groups/info?index={{ group_id }}&name={{ group }}">
                                    {{ group|lower|capfirst }}
                                </a>
                                -
                                {{ name|lower|title }}
                            </h3>
                            <section class="read_more_toggle">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type.Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type.
                            </section>

                        </div>
                    </div>

                    <ul class="profile-tab nav nav-tabs" style="margin-top: 10px">
                        <li class="active"><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
                        <li class=""><a href="#class" data-toggle="tab">Class</a></li>
                        <li class=""><a href="#students" data-toggle="tab">Participants</a></li>

                        <li><a href="#activity" data-toggle="tab">Activity</a></li>

                    </ul>

                    <div class="profile-tab-content tab-content">
                        <div class="tab-pane fade active in" id="dashboard">

                        </div>
                        <div class="tab-pane fade" id="class">

                            <div class="module-option clearfix">
                                <div class="btn-group pull-left" data-toggle="buttons-radio">


                                    <div class="input-append pull-left">
                                        <input type="text" id="search-class" class="span3"
                                               placeholder="Filter by name...">
                                        <button type="button" class="btn">
                                            <i class="icon-search"></i>
                                        </button>
                                    </div>


                                </div>
                            </div>
                            <div id="class_list_table" class="jsgrid"></div>
                            <div class="modal-footer">
                                <div class="pagination-class-list pagination-centered">
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="students">

                            <section id="list">

                                <div class="modal-body">

                                    <form>
                                        <div class="input-append pull-left">
                                            <input type="text" class="span3" placeholder="Filter by name or key..."
                                                   id="search">
                                            <button type="submit" class="btn">
                                                <i class="icon-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                    <div class="btn-group pull-right radio-button" data-toggle="buttons-radio">

                                        <form id="state-type">
                                            <button type="submit" class="btn active" value="" name="state">
                                                All
                                            </button>
                                            <button type="submit" class="btn" value="0" name="state">
                                                Male
                                            </button>
                                            <button type="submit" class="btn" value="1" name="state">
                                                Female
                                            </button>
                                        </form>

                                    </div>

                                </div>

                                <div class="section_student_list"></div>

                            </section>

                        </div>
                        <div class="tab-pane fade" id="activity">


                            <div class="module message" style="border:none">
                                <div class="module-option clearfix">
                                    <div class="pull-left">

                                        <div class="input-append pull-left">
                                            <input type="text" class="span3" placeholder="Filter by title or author"
                                                   id="search_activity">
                                            <button type="button" class="btn">
                                                <i class="icon-search"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="pull-right">
                                        <a href="/activity/modal_add?section={{ index }}" rel="modal:open"
                                           class="btn btn-primary">Create Activity</a>
                                    </div>
                                </div>
                                <div class="module-body table">
                                    <div class="list_activity table-message"></div>

                                    <!--

                                    <table class="table table-message">
                                        <tbody>
                                        <tr class="heading">
                                            <td class="cell-icon"></td>
                                            <td class="cell-title" style="width: 70%">Title</td>
                                            <td class="cell-status" style="width: 30%">Author</td>
                                        </tr>
                                        <tr class="task">
                                            <td class="cell-icon"><i class="icon-checker high"></i></td>
                                            <td class="">
                                                <h4><a>Phil-IRI Pangkatang Pagtatasa sa Pagbasa, Baitang 3</a></h4>
                                                <p>January 02, 2020</p>
                                                <section class="read_more_toggle">
                                                    is simply dummy text of the printing and typesetting industry. Lorem
                                                    Ipsum has been the industry's standard dummy text ever since the
                                                    1500s, when an unknown printer took a galley of type and scrambled
                                                    it to make a type specimen book. It has survived not only five
                                                    centuries, but also the leap into electronic typesetting, remaining
                                                    essentially unchanged. It was popularised in the 1960s with the
                                                    release of Letraset sheets containing Lorem Ipsum passages, and more
                                                    recently with desktop publishing software like Aldus PageMaker
                                                    including versions of Lorem Ipsum.
                                                </section>
                                            </td>
                                            <td class="cell-status">Mark Anthony P. Libres</td>
                                        </tr>

                                        <tr class="task">
                                            <td class="cell-icon"><i class="icon-checker high"></i></td>
                                            <td class="">
                                                <h4><a>Phil-IRI Pangkatang Pagtatasa sa Pagbasa, Baitang 3</a></h4>
                                            </td>
                                            <td class="cell-status">Yuan Libres</td>
                                        </tr>

                                        <tr class="task">
                                            <td class="cell-icon"><i class="icon-checker high"></i></td>
                                            <td class="">
                                                <h4><a>Pangkatang Pagtatasa sa Pagbasa, Baitang 3 Rev.2</a></h4>
                                                <p>Dec 02 2020, Thursday</p>
                                            </td>
                                            <td class="cell-status">Yuan Libres</td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    -->


                                </div>
                                <div class="module-foot">
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!--/.module-body-->
            </div><!--/.module-->

        </div><!--/.contnseent-->
    </div>


{% endblock %}



{% block scripts %}

    <script type="text/javascript">

        window.define_const("section_id", Number("{{ index }}"));
        window.define_const("group_level", Number("{{ group_id }}"));

    </script>

    <script src="{% static 'bower_components\jsgrid\dist\jsgrid.js' %}"></script>
    <script src="{% static 'plugins\lodash.js' %}"></script>
    <script src="{% static 'scripts\jquery.cookie.min.js' %}"></script>
    <script src="{% static 'node_modules\moment\moment.js' %}"></script>
    <script src="{% static 'node_modules\daterangepicker\daterangepicker.js' %}"></script>
    <script src="{% static 'plugins\jquery-modal\jquery.modal.js' %}"></script>
    <script src="{% static 'scripts\group\view_section_student_list.js' %}"></script>
    <script src="{% static 'scripts\group\view_class_list.js' %}"></script>
    <script src="{% static 'scripts\group\view_activity_list.js' %}"></script>

{% endblock %}



{% block template_script %}

    <script type="text/html" id="student_list">

        <div class="media user">
            <a class="media-avatar pull-left" href="#">
                <img src="/static/images/user.png">
            </a>
            <div class="media-body">
                <h3 class="media-title">
                    {name}
                </h3>
                <p>
                <div class="stream-text">
                    Grade IV, Grade II
                </div>

                <div class="stream-text">
                    {gender}
                </div>

                </p>
            </div>
        </div>

    </script>


    <script type="text/html" id="class_list">

        <div class="profile-head media">
            <div class="media-body">
                <h4>
                    <a href="/class?index={id}&section={{ index }}">{name} <small>{start_date} - {end_date}</small></a>
                </h4>
            </div>
        </div>


    </script>


{% endblock %}
