{% extends "base.html" %}
{% load static %}

{% block stylesheet %}

    <link type="text/css" href="{% static 'bower_components\jsgrid\dist\jsgrid.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'bower_components\jsgrid\dist\jsgrid-theme.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <div class="span9">
        <div class="content">
            <div class="module">
                <div class="module-head">
                    <h3>
                        All Students</h3>
                </div>
                <div class="module-option clearfix">

                    <a href="/students/new" class="btn btn-success pull-right span">
                        <i class="menu-icon icon-plus-sign-alt"></i>
                        New
                    </a>

                    <form>
                        <div class="input-append pull-left">
                            <input type="text" class="span3" placeholder="Filter by name or key..." id="search">
                            <button type="submit" class="btn">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    </form>
                    <div class="btn-group pull-right radio-button" data-toggle="buttons-radio">

                        <form id="state-type">
                            <button type="submit" class="btn active" value="" name="state">
                                All
                            </button>
                            <button type="submit" class="btn" value="0" name="state">
                                Male
                            </button>
                            <button type="submit" class="btn" value="1" name="state">
                                Female
                            </button>
                        </form>

                    </div>

                </div>


                <div class="module-body">
                    {#  @jsgrid #}
                    <div class="student_list"></div>
                    {#  @end jsgrid #}

                    {#                    <div class="row-fluid">#}
                    {#                        <div class="span6">#}
                    {#                            <div class="media user">#}
                    {#                                <a class="media-avatar pull-left" href="#">#}
                    {#                                    <img src="/static/images/user.png">#}
                    {#                                </a>#}
                    {#                                <div class="media-body">#}
                    {#                                    <h2 class="media-title">#}
                    {#                                        Libres, Mark Anthony Pandayan#}
                    {#                                    </h2>#}
                    {#                                    <p>#}
                    {#                                    <div class="stream-text">#}
                    {#                                        Grade IV, Grade II#}
                    {#                                    </div>#}
                    {##}
                    {#                                    <div class="stream-text">#}
                    {#                                        Male#}
                    {#                                    </div>#}
                    {##}
                    {#                                    </p>#}
                    {##}
                    {##}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {##}
                    {#                    </div>#}

                    <br/>
                    <div class="pagination pagination-centered">
                        {#                        <ul>#}
                        {#                            <li><a href="#"><i class="icon-double-angle-left"></i></a></li>#}
                        {#                            <li><a href="#">1</a></li>#}
                        {#                            <li><a href="#">2</a></li>#}
                        {#                            <li><a href="#">3</a></li>#}
                        {#                            <li><a href="#">3</a></li>#}
                        {#                            <li><a href="#">Next</a></li>#}
                        {#                            <li><a href="#">Last</a></li>#}
                        {#                            <li><a href="#"><i class="icon-double-angle-right"></i></a></li>#}
                        {#                        </ul>#}
                    </div>
                </div>
            </div>
        </div>
        <!--/.content-->
    </div>

{% endblock %}



{% block scripts %}

    <script src="{% static 'bower_components\jsgrid\dist\jsgrid.js' %}"></script>
    <script src="{% static 'plugins\lodash.js' %}"></script>
    <script src="{% static 'scripts\jquery.cookie.min.js' %}"></script>
    <script src="{% static 'scripts\student\view_student_list.js' %}"></script>

{% endblock %}



{% block template_script %}

    <script type="text/html" id="student_list">

        <div class="media user">
            <a class="media-avatar pull-left" href="#">
                <img src="/static/images/user.png">
            </a>
            <div class="media-body">
                <h3 class="media-title">
                    {name}
                </h3>
                <p>
                <div class="stream-text">
                    Grade IV, Grade II
                </div>

                <div class="stream-text">
                    {gender}
                </div>

                </p>
            </div>
        </div>

    </script>

{% endblock %}

