{% load static %}
{% load group_tags %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>STUDENT | {{ title }}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <!--
    =========================================================
    * ArchitectUI HTML Theme Dashboard - v1.0.0
    =========================================================
    * Product Page: https://dashboardpack.com
    * Copyright 2019 DashboardPack (https://dashboardpack.com)
    * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
    =========================================================
    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
    -->
    <link href="/static/testers_assets/main.css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'testers_assets/custom.css' %}" rel="stylesheet">
    <link href="{% static 'scripts/readmore/css/style.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'bower_components/jsgrid/dist/jsgrid.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'bower_components/jsgrid/dist/jsgrid-theme.css' %}" rel="stylesheet">


    {% block styles %} {% endblock %}

    <script src="{% static 'plugins/prefix.js' %}"></script>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

    <div class="app-main">
        <div class="app-main__outer">

            {% block content %} {% endblock %}


        </div>
    </div>
</div>


{% block outside %}{% endblock %}

<script type="text/javascript" src="{% static 'scripts/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'scripts/jquery.cookie.min.js' %}"></script>
<script src="{% static 'scripts/index.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'scripts/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'testers_assets/scripts/main.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/readmore/js/index.js' %}"></script>
<script src="{% static 'bower_components/jsgrid/dist/jsgrid.js' %}"></script>
<script src="{% static 'node_modules/parsleyjs/dist/parsley.js' %}"></script>
<script src="{% static 'scripts/js_modules/parsely_validation_plugin.js' %}"></script>

{% block scripts %} {% endblock %}


</body>
</html>
