<ul class="list-group batch_task_add" item_count="{{itemCount}}">

    {% for per in activity_list %}

    <li class="list-group-item">

        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left  ml-3 header-user-info">
                    <div class="widget-heading f-sm">
                        <a href="/teacher/activity?activity={{per.id}}"
                           target="_blank"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="Click to open in new tab">
                            {{per.title|capfirst}}
                        </a>

                    </div>
                    <div class="widget-subheading">
                        <div class="text-secondary">
                            {% if per.rates <= 19 %}
                            <div class="mb-2 badge badge-danger">Hard</div>
                            {% elif per.rates >= 20 and per.rates <= 39 %}
                            <div class="mb-2 badge badge-danger">Hard</div>
                            <div class="mb-2 badge badge-warning">Medium</div>
                            {% elif per.rates >= 40 and per.rates <= 59 %}
                            <div class="mb-2 badge badge-warning">Medium</div>
                            {% elif per.rates >= 60 and per.rates <= 79 %}
                            <div class="mb-2 badge badge-success">Easy</div>
                            <div class="mb-2 badge badge-warning">Medium</div>
                            {% elif per.rates >= 80 and per.rates <= 100 %}
                            <div class="mb-2 badge badge-success">Easy</div>
                            {% endif %}
                        </div>
                    </div>
                    <p class="no-margin ">
                        Type of Literacy Task,
                        {% if per.type_of_literacy is 1 %}
                        <b>Oral Reading Comprehension</b>
                        {% elif per.type_of_literacy is 2 %}
                        <b>Silent Reading Comprehension</b>
                        {% else %}
                        <b>Listening Comprehension</b>
                        {% endif %}
                    </p>
                    <p class="no-margin ">
                        Author, <a href="#"><b>{{per.user_added.get_full_name}}</b></a>
                    </p>
                    <p class="no-margin ">
                        Passage <b>{{per.passage_set}}</b>, Items <b>{{per.question_set}}</b>
                    </p>
                </div>
                <div class="widget-content-right header-user-info">


                    {% if per.is_already_added %}

                    <button class="btn-shadow mr-3 btn btn-success" disabled>
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-check"></i>
                        </span>
                        <span class="label">Already added</span>
                    </button>

                    {% else %}

                    <div class="radio_container">
                        <div class="radiobtn">
                            <input type="radio" id="activity{{forloop.counter}}"
                                   name="activity" value="{{per.id}}"/>
                            <label for="activity{{forloop.counter}}">Select</label>
                        </div>
                    </div>

                    {% endif %}

                    <a data-toggle="tooltip"
                       data-placement="top"
                       title="Click to open in new tab"
                       target="_blank" href="/home"
                       class="btn-shadow btn btn-focus">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-file-pdf"></i>
                        </span>
                        View As PDF
                    </a>

                </div>
            </div>
        </div>

    </li>

    {% endfor %}

</ul>
