<ul class="list-group" item_count="{{itemCount}}">

    {% for per in task_list %}

    <li class="list-group-item">

        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left  ml-3 header-user-info" style="width:50%">
                    <div class="widget-heading f-sm">
                        <a href="/teacher/activity?activity={{per.activity.id}}" target="_blank">
                            {{per.name|lower|capfirst}}
                        </a>
                    </div>


                    <div class="f-s mb-2 text-secondary">
                        <span class="{% if per.rates >= 20  %} text-warning {% endif %}">
                            <i class="fa fa-star"></i>
                        </span>
                        <span class="{% if per.rates >= 40  %} text-warning {% endif %}">
                            <i class="fa fa-star"></i>
                        </span>
                        <span class="{% if per.rates >= 60  %} text-warning {% endif %}">
                            <i class="fa fa-star"></i>
                        </span>
                        <span class="{% if per.rates >= 80  %} text-warning {% endif %}">
                            <i class="fa fa-star"></i>
                        </span>
                        <span class="{% if per.rates >= 100  %} text-warning {% endif %}">
                            <i class="fa fa-star"></i>
                        </span>

                    </div>
                    <p class="no-margin ">
                        Activity,
                        <b>
                            <a target="_blank"
                               data-toggle="tooltip"
                               data-placement="top"
                               data-original-title="Click to open in new tab"
                               href="/teacher/activity?activity={{per.activity.id}}">
                                {{per.activity.title|title}}
                            </a>
                        </b>
                    </p>
                    <p class="no-margin ">
                        Type of Literacy Task,
                        {% if per.activity.type_of_literacy is 1 %}
                        <b>Oral Reading Comprehension</b>
                        {% elif per.activity.type_of_literacy is 2 %}
                        <b>Silent Reading Comprehension</b>
                        {% else %}
                        <b>Listening Comprehension</b>
                        {% endif %}
                    </p>
                    <p class="no-margin ">
                        Type of Test, <b>PreTest</b>
                    </p>
                    <p class="no-margin ">
                        Date added, <b>{{per.date_added}}</b>
                    </p>
                    <p class="no-margin text-default">
                        <!--per.get_full_name()-->
                        Added by, <a href="#"><b>{{per.user.get_full_name}}</b></a>
                    </p>
                    <div class="more">
                        Description, {{per.description|default:'<i>No description</i>'}}
                    </div>
                </div>
                <div class="widget-content-right header-user-info">

                    <a target="_blank" href="/home" class="btn-shadow btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-file-info"></i>
                        </span>
                        View Details
                    </a>

                    {% if per.user_id == user.id %}

                    <a target="_blank" href="/home" class="btn-shadow btn btn-warning">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-file-info"></i>
                        </span>
                        Remove
                    </a>

                    {% endif %}

                </div>
            </div>
        </div>

    </li>

    {% endfor %}

</ul>
