<ul class="list-group" item_count="{{itemCount}}">

    {% for per in task_list %}

    <li class="list-group-item">

        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left  ml-3 header-user-info">
                    <div class="widget-heading f-sm mb-1">
                        <a href="/teacher/task/result?task={{per.id}}">
                            {{per.activity.title|capfirst}}
                        </a>
                    </div>
                    <p class="no-margin ">
                        Type of Literacy Task,
                        {% if per.activity.type_of_literacy is 1 %}
                        <b>Oral Reading Comprehension</b>
                        {% elif per.activity.type_of_literacy is 2 %}
                        <b>Silent Reading Comprehension</b>
                        {% else %}
                        <b>Listening Comprehension</b>
                        {% endif %}
                    </p>
                    <p class="no-margin ">
                        Type of Test, <b>{{per.activity.get_test_type_display}}</b>
                    </p>
                    <p class="no-margin text-default">
                        <!--per.get_full_name()-->
                        Added by, <a href="#"><b>{{per.user.get_full_name}}</b></a>
                    </p>
                </div>
                <div class="widget-content-right header-user-info">

                     <a target="_blank" href="/home" class="btn-shadow btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-file-info"></i>
                        </span>
                        View Details
                    </a>

                </div>

            </div>
        </div>

    </li>

    {% endfor %}

</ul>
