{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:73%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    Add Sections -
                    <a href="/school/classroom/view?group={{group_level.id}}">{{group_level.name}}</a>
                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{user_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/school/classroom">
                                        Classroom
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/school/classroom/view?group={{group_level.id}}">
                                        <b>{{group_level.name}}</b>
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">{{user_profile.access_code}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">

            <div class="col-lg-12">

                <div class="main-card mb-3 card">
                <div class="card-body">

                    <div class="col-lg-6">

                        <form data-parsley-validate method="post" action="/school/section/add/request">
                            {% csrf_token %}
                            <input type="hidden" name="group" value="{{group_level.id}}">
                            <div class="position-relative form-group">
                                <label for="name" class="">Name of section</label>
                                <span class="red">*</span>
                                <input name="name" required id="name"
                                       data-parsley-onlytext
                                       placeholder="Name of section or group"
                                       type="text"
                                       class="form-control">
                            </div>

                            <div class="position-relative form-group">
                                <label class="">Description</label>
                                <textarea name="description" style="height:150px"  class="form-control"></textarea>
                            </div>

                            <button name="redirect_to"
                                    value="0"
                                    class="mt-1 btn btn-secondary" type="submit">Save and view list</button>
                            <button
                                    value="1"
                                    name="redirect_to"
                                    class="mt-1 btn btn-secondary" type="submit">Save and add more</button>
                        </form>

                    </div>

                </div>
            </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
