{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon" style="width : auto; height: auto;">
                    <!--                    <i class="pe-7s-info icon-gradient bg-plum-plate"> </i>-->

                    <div class="btn-group" style="width: 100%;">
                        <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                            <img width="76" class="rounded-circle" src="/static/images/boy.png" alt="">
                        </a>
                    </div>

                </div>
                <div>
                    <big>
                        {{section.name|capfirst}} -
                        <a href="/school/classroom/view?group={{section.group.id}}">{{section.group.name|capfirst}}</a>
                    </big>

                    <div class="page-title-subheading">

                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{user_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/school/classroom/sections?group={{section.group.id}}">
                                        <b>Sections</b>
                                    </a>
                                </li>
                            </ol>
                        </nav>

                        <div class="f-m text-success">
                            <span class="{% if rates >= 20  %} text-warning {% endif %}"><i
                                    class="fa fa-star"></i></span>
                            <span class="{% if rates >= 40  %} text-warning {% endif %}"><i
                                    class="fa fa-star"></i></span>
                            <span class="{% if rates >= 60  %} text-warning {% endif %}"><i
                                    class="fa fa-star"></i></span>
                            <span class="{% if rates >= 80  %} text-warning {% endif %}"><i
                                    class="fa fa-star"></i></span>
                            <span class="{% if rates >= 100  %} text-warning {% endif %}"><i
                                    class="fa fa-star"></i></span>
                        </div>

                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <a href="/school/section/batch?section={{section.id}}"
                   class="btn-lg btn-shadow mr-3 btn btn-secondary">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-list-ul fa-w-20"></i>
                   </span> View Batch Lists
                </a>

                <a href="/school/classroom/sections?group={{group_level.id}}"
                   class="btn-lg btn-shadow mr-3 btn btn-secondary">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-list-ul fa-w-20"></i>
                   </span> View Activity List
                </a>

            </div>
        </div>

    </div>


    <div class="col-lg-12">
        <div class="row">

            <div class="col-md-3 mb-3">

                <div class="main-card mb-3 card p-sm">
                    <div class="col">
                        <ul class="nav flex-column">
                            <li class="nav-item-header nav-item">Pages</li>
                            <li class="nav-item">
                                <a href="/school/classroom" class="nav-link"><i class="nav-link-icon pe-7s-chat"> </i>
                                    <span><b>Classroom</b></span>
                                </a>
                                <div class="col">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a  class="nav-link"
                                                href="/school/classroom/view?group={{section.group.id}}">
                                                <i class="nav-link-icon pe-7s-chat"> </i>
                                                {{section.group.name|capfirst}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/school/classroom/add" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>Add Level</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/school/section/add?group={{section.group.id}}" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>Add Section</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
