{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:73%">
                <div class="page-title-icon">
                    <i class="pe-7s-diamond icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Classroom - {{user_profile.name_alias|lower|title}}
                    <div class="page-title-subheading">
                        The Philippine Informal Reading Inventory (Phil-IRI) was created to provide classroom
                        teachers a tool for measuring and describing reading performance.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href="/school/classroom/add"
                   class="btn-lg btn-shadow mr-3 btn btn-secondary">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-user-plus fa-w-20"></i>
                   </span>Add Level
                </a>

            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-md-12">

                {% for message in messages %}

                <div class="alert {{ message.tags }} custom" style="width:100%">
                    <button type="button" class="close" data-dismiss="alert">×</button>

                    {% if message.extra_tags %}

                    <h5>
                        <strong>
                            <i class="icon-exclamation-sign icon"></i>
                            {{ message.extra_tags|title }}
                        </strong>
                    </h5>

                    {% endif %}

                    {{ message }}
                </div>

                {% endfor %}

                {% if list_group_levels %}

                <div class="main-card mb-3 card goto">
                    <div class="card-body">
                        <div class="overlay-spinner">
                            <div class="icon">
                                <i class="fa-spin fa fa-spinner"></i>
                            </div>
                        </div>
                        <form class="classrom_goto" typeof="school">
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label>Class Level</label>
                                    <div class="input-group">
                                        <select class="form-control" name="class_level">
                                            <option></option>

                                            {% for per in list_group_levels %}
                                            <option value="{{per.id}}">{{per.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Section/Group</label>
                                    <select class="form-control" id="section_goto" name="section">
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Batch/Sem</label>
                                    <div class="input-group">
                                        <select class="form-control" id="batch_goto" name="batch">
                                            <option class="default"></option>
                                        </select>
                                        <div class="input-group-prepend">
                                            <button type="button" class="input-group-button btn btn-light reset-field">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>

                    </div>
                </div>

                {% endif %}

                <div class="main-card mb-3 card">
                    <div class="card-body">

                        {% if list_group_levels %}

                        <ul class="list-group school">

                            {% for per in list_group_levels %}

                            <li class="list-group-item">

                                <div class="app-page-title no-margin n-padding">
                                    <div class="page-title-wrapper">
                                        <div class="page-title-heading" style="width: 53%">
                                            <div class="page-title-icon">
                                                <span class="icon-gradient bg-light roman-numeric">
                                                    <b>{{per.roman}}</b>
                                                </span>
                                            </div>
                                            <div>
                                                <h4 class="no-margin">
                                                    <a href="/school/classroom/view?group={{per.id}}">
                                                        <b>{{per.name}}</b>
                                                    </a>
                                                </h4>
                                                <div class="page-title-subheading">
                                                    <div class="f-m text-success">
                                                         <span class="{% if per.rates >= 20  %} text-warning {% endif %}"><i
                                                                 class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 40  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 60  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 80  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 100  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="page-title-actions">
                                            <a href="/school/classroom/view?group={{per.id}}"
                                               class="btn-shadow mr-3 btn btn-info">

                                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                                    <i class="fa fa-info"></i>
                                                </span>
                                                View details

                                            </a>
                                            <a href="/school/classroom/sections?group={{per.id}}"
                                               class="btn-shadow btn btn-secondary">
                                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                                        <i class="fa fa-business-time fa-w-20"></i>
                                                    </span>
                                                View Sections
                                            </a>
                                            <a href="/school/section/add?group={{per.id}}"
                                               class="btn-shadow btn btn-secondary">
                                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                                        <i class="fa fa-business-time fa-w-20"></i>
                                                    </span>
                                                Add Sections
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </li>


                            {% endfor %}

                        </ul>

                        {% else %}

                        <div class="app-page-title no-data">
                            <div class="text-center"><h3>No Display</h3>
                                <div class="page-title-subheading">
                                    We can't find any class levels
                                </div>
                            </div>
                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script src="{% static 'testers_assets/classroom/misc.js' %}"></script>

{% endblock %}
