{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:73%">
                <div class="page-title-icon">
                    <i class="pe-7s-add-user icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Add Level - {{user_profile.name_alias|lower|title}}
                    <div class="page-title-subheading">
                        The Philippine Informal Reading Inventory (Phil-IRI) was created to provide classroom teachers a
                        tool for measuring and describing reading performance.

                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">{{user_profile.access_code}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">

            <div class="col-lg-12">

                <div class="main-card mb-3 card">
                <div class="card-body">

                    <div class="col-lg-6">

                        <form data-parsley-validate method="post" action="/school/classroom/add/request">
                            {% csrf_token %}
                            <div class="position-relative form-group">
                                <label for="name" class="">Name</label>
                                <span class="red">*</span>
                                <input name="name" required id="name"
                                       data-parsley-onlytext
                                       placeholder="Grade level name e.g. grade I"
                                       type="text"
                                       class="form-control">
                            </div>

                            <div class="position-relative form-group">
                                <label for="level" class="">
                                    No. of Level
                                    <span class="red">*</span>
                                </label>
                                <input name="level"
                                       data-parsley-onlynumbers
                                       data-parsley-type="number"
                                       data-parsley-min="0"
                                       data-parsley-max="12"
                                       required id="level" placeholder="e.g. The no of level of class grade i is 1"
                                       type="number" class="form-control">
                            </div>

                            <div class="position-relative form-group">
                                <label class="">Description</label>
                                <textarea name="description" style="height:150px"  class="form-control"></textarea>
                            </div>

                            <button name="redirect_to"
                                    value="0"
                                    class="mt-1 btn btn-secondary" type="submit">Save and view list</button>
                            <button
                                    value="1"
                                    name="redirect_to"
                                    class="mt-1 btn btn-secondary" type="submit">Save and add more</button>
                        </form>

                    </div>

                </div>
            </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
