{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:73%">
                <div class="page-title-icon" style="width : auto; height: auto;">
                    <!--                    <i class="pe-7s-info icon-gradient bg-plum-plate"> </i>-->

                    <div class="btn-group" style="width: 100%;">
                        <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                            <img width="76" class="rounded-circle" src="/static/images/boy.png" alt="">
                        </a>
                    </div>

                </div>
                <div>
                    Sections -
                    <a href="/school/classroom/view?group={{group_level.id}}">{{group_level.name}}</a>

                    <div class="page-title-subheading">

                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{user_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/school/classroom">
                                        Classroom
                                    </a>
                                </li>
                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        <a href="/school/classroom/view?group={{group_level.id}}">
                                            {{group_level.name}}
                                        </a>
                                    </b>
                                </li>
                            </ol>
                        </nav>

                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <a href="/school/section/add?group={{group_level.id}}"
                   class="btn-lg btn-shadow mr-3 btn btn-secondary">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-plus fa-w-20"></i>
                   </span> Add Sections
                </a>

            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">

                        {% if section_list %}

                        <ul class="list-group school">

                            {% for per in section_list %}

                            <li class="list-group-item">

                                <div class="app-page-title no-margin n-padding">
                                    <div class="page-title-wrapper">
                                        <div class="page-title-heading" style="width: 53%">
                                            <div class="page-title-icon">
                                                <span class="icon-gradient bg-light roman-numeric">
                                                    <b>{{group_roman}}</b>
                                                </span>
                                            </div>
                                            <div>
                                                <h4 class="no-margin">
                                                    <a href="/school/section?section={{per.id}}">
                                                        <b>{{per.name}}</b>
                                                    </a>
                                                </h4>
                                                <div class="page-title-subheading">
                                                    <div class="f-m text-success">
                                                         <span class="{% if per.rates >= 20  %} text-warning {% endif %}"><i
                                                                 class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 40  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 60  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 80  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 100  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="page-title-actions">
                                            <a href="/school/section?section={{per.id}}"
                                               class="btn-shadow mr-3 btn btn-info">

                                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                                    <i class="fa fa-info"></i>
                                                </span>
                                                View details

                                            </a>
                                            <a href="/school/section/batch?section={{per.id}}"
                                               class="btn-shadow btn btn-secondary">
                                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                                        <i class="fa fa-business-time fa-w-20"></i>
                                                    </span>
                                                View Batch List
                                            </a>
                                            <a href="/school/section/add?group={{per.id}}"
                                               class="btn-shadow btn btn-secondary">
                                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                                        <i class="fa fa-business-time fa-w-20"></i>
                                                    </span>
                                                View Activity List
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </li>

                            {% endfor %}

                        </ul>

                        {% else %}

                        <div class="app-page-title no-data">
                            <div class="text-center"><h3>No Display</h3>
                                <div class="page-title-subheading">
                                    We can't find any sections in this class
                                </div>
                            </div>
                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
