{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:73%">
                <div class="page-title-subheading">

                    <nav class="" aria-label="breadcrumb">
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item" aria-current="page">
                                <a href="/home"><b>Home</b></a>
                            </li>

                            <li class="active breadcrumb-item" aria-current="page">
                                <b>
                                    {{user_profile.name_alias|lower|title}}
                                </b>
                            </li>

                            <li class="active breadcrumb-item" aria-current="page">
                                <a href="/school/classroom">
                                    Classroom
                                </a>
                            </li>

                            <li class="active breadcrumb-item" aria-current="page">
                                <a href="/school/classroom/view?group={{group_level.id}}">
                                    <b>{{group_level.name|capfirst}}</b>
                                </a>
                            </li>

                        </ol>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">

                <div class="col-lg-6">
                    <h4 class="text-muted">Are you sure?</h4>

                    <p>
                        Are you sure you want to delete the grade level
                        <span class="text-primary"><b>{{group_level.name|capfirst}}</b></span> ? All of the related
                        information will be
                        deleted.
                    </p>

                    <form data-parsley-validate=""
                          class="inline"
                          method="post" action="/school/classroom/remove/request"
                          novalidate="">
                        {% csrf_token %}
                        <input type="hidden" name="group" value="{{group_level.id}}">
                        <button value="0" class="mt-1 btn btn-danger" type="submit">
                            Yes, I'm sure
                        </button>
                    </form>

                    <a href="/school/classroom/view?group={{group_level.id}}"  class="mt-1 btn btn-secondary"
                       type="submit">
                        No, take me back
                    </a>

                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
