{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:70%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    <big>
                        List of Semester
                        -
                        <a href="/school/classroom/view?group={{section.group.id}}">{{section.name|capfirst}}</a>
                    </big>

                    <div class="page-title-subheading">

                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{user_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/school/classroom/sections?group={{section.group.id}}">
                                        Sections
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/school/classroom/view?group={{section.group.id}}">
                                        <b>{{section.group.name|capfirst}}</b>
                                    </a>
                                </li>

                            </ol>
                        </nav>

                    </div>

                </div>
            </div>
            <div class="page-title-actions">
                <a href="/school/classroom/sections?group={{group_level.id}}"
                   class="btn-lg btn-shadow mr-3 btn btn-secondary">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-list-ul fa-w-20"></i>
                   </span> View Activity
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 mb-3">

            <div class="main-card mb-3 card p-sm">
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item-header nav-item">Pages</li>
                        <li class="nav-item">
                            <a href="/school/classroom" class="nav-link"><i
                                    class="nav-link-icon pe-7s-chat"> </i>
                                <span><b>Classroom</b></span>
                            </a>
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="/school/classroom/view?group={{section.group.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-chat"> </i>
                                            {{section.group.name|capfirst}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/school/classroom/add" class="nav-link">
                                <i class="nav-link-icon pe-7s-wallet"> </i>
                                <span>Add Level</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/school/classroom/sections?group={{section.group.id}}" class="nav-link">
                                <i class="nav-link-icon pe-7s-wallet"> </i>
                                <span><b>Sections</b></span>
                            </a>
                            <div class="col">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="/school/section?section={{section.id}}" class="nav-link">
                                            <i class="nav-link-icon pe-7s-chat"> </i>
                                            <span>{{section.name|capfirst}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/school/section/add?group={{section.group.id}}" class="nav-link">
                                <i class="nav-link-icon pe-7s-wallet"> </i>
                                <span>Add Section</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="main-card mb-3 card">
                <div class="card-body">

                    {% if batch_lists %}

                    <ul class="list-group school">

                        {% for per in batch_lists %}

                        <li class="list-group-item">

                            <div class="app-page-title no-margin n-padding">
                                <div class="page-title-wrapper">
                                    <div class="page-title-heading" style="width: 44%">
                                        <div>
                                            <big class="no-margin">
                                                <a href="/school/section?section=4">
                                                    <b>{{per.name|capfirst}}</b>
                                                </a>
                                            </big>
                                            <div class="page-title-subheading">
                                                <div class="f-s text-success">
                                                   <span class="{% if per.rates >= 20  %} text-warning {% endif %}">
                                                       <i class="fa fa-star"></i>
                                                   </span>
                                                    <span class="{% if per.rates >= 40  %} text-warning {% endif %}">
                                                        <i
                                                            class="fa fa-star"></i>
                                                    </span>
                                                    <span class="{% if per.rates >= 60  %} text-warning {% endif %}">
                                                        <i
                                                            class="fa fa-star"></i>
                                                    </span>
                                                    <span class="{% if per.rates >= 80  %} text-warning {% endif %}">
                                                        <i
                                                            class="fa fa-star"></i>
                                                    </span>
                                                    <span class="{% if per.rates >= 100  %} text-warning {% endif %}">
                                                        <i
                                                            class="fa fa-star"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-title-actions">
                                        <a href="/school/section?section=4" class="btn-shadow mr-3 btn btn-info">

                                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                                    <i class="fa fa-info"></i>
                                                </span>
                                            View details

                                        </a>
                                        <a href="/school/classroom/sections?group=4"
                                           class="btn-shadow btn btn-secondary">
                                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                                        <i class="fa fa-business-time fa-w-20"></i>
                                                    </span>
                                            View Task
                                        </a>
                                        <a href="/school/section/add?group=4"
                                           class="btn-shadow btn btn-secondary">
                                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                                        <i class="fa fa-business-time fa-w-20"></i>
                                                    </span>
                                            View Students
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </li>

                        {% endfor %}


                    </ul>

                    {% else %}

                    <div class="app-page-title no-data">
                        <div class="text-center"><h3>No Display</h3>
                            <div class="page-title-subheading">
                                We can't find any information or source
                            </div>
                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
