{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:73%">
                <div class="page-title-icon text-icon">
                    <span class="icon-gradient bg-light roman-numeric">
                    {{group_roman}}
                    </span>
                </div>
                <div>
                    Edit Details
                    - <a href="/school/classroom">{{group_level.name}}</a>

                    <div class="page-title-subheading">

                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="/home"><b>Home</b></a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <b>
                                        {{user_profile.name_alias|lower|title}}
                                    </b>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/school/classroom">
                                        Classroom
                                    </a>
                                </li>

                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/school/classroom/view?group={{group_level.id}}">
                                        <b>{{group_level.name|capfirst}}</b>
                                    </a>
                                </li>

                            </ol>
                        </nav>

                    </div>

                </div>
            </div>
            <div class="page-title-actions">

                <a href="/school/classroom/view?group={{group_level.id}}"
                   class="btn-lg btn-shadow mr-3 btn btn-focus">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-list-ul fa-w-20"></i>
                   </span>
                    Cancel
                </a>

                <a href="/school/classroom/remove?group={{group_level.id}}"
                   class="btn-lg btn-shadow mr-3 btn btn-secondary">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-trash fa-w-20"></i>
                   </span>
                    Remove
                </a>

            </div>
        </div>
    </div>
    <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">

                        <div class="col-lg-6">

                            <form data-parsley-validate="" method="post" action="/school/classroom/add/request"
                                  novalidate="">
                                <input type="hidden" name="csrfmiddlewaretoken"
                                       value="xCjwEKLPOjjcMUweWAL57xYivOvrs7jXLB2rHGootWF7df4B7lx8twH2JlYwql3K">
                                <div class="position-relative form-group">
                                    <label for="name" class="">Name</label>
                                    <span class="red">*</span>
                                    <input name="name" required="" id="name" data-parsley-onlytext=""
                                           placeholder="Grade level name e.g. grade I" type="text" class="form-control">
                                </div>

                                <div class="position-relative form-group">
                                    <label for="level" class="">
                                        No. of Level
                                        <span class="red">*</span>
                                    </label>
                                    <input name="level" data-parsley-onlynumbers="" data-parsley-type="number"
                                           data-parsley-min="0" data-parsley-max="12" required="" id="level"
                                           placeholder="e.g. The no of level of class grade i is 1" type="number"
                                           class="form-control">
                                </div>

                                <div class="position-relative form-group">
                                    <label class="">Description</label>
                                    <textarea name="description" style="height:150px" class="form-control"></textarea>
                                </div>

                                <button name="redirect_to" value="0" class="mt-1 btn btn-secondary" type="submit">Save
                                    and view list
                                </button>
                                <button value="1" name="redirect_to" class="mt-1 btn btn-secondary" type="submit">Save
                                    and add more
                                </button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
