{% extends "testers_temp/student/student_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-diamond icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Welcome to Phil-IRI online test
                    <div class="page-title-subheading">Highly configurable boxes best used for showing numbers in an
                        user friendly way.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">ID. {{user.id|less_zeros}}{{user.id}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12">


        <div class="row">

            {% if messages %}

            {% for message in messages %}
            <div class="col-md-12">
                <div class="alert alert-warning fade show" role="alert"><h5>Unexpected error occur</h5>
                    <p class="mb-0">{{ message }}</p>
                </div>
            </div>
            {% endfor %}

            {% endif %}

            <div class="student_activity full-width">
            </div>

        </div>

    </div>

</div>


{% endblock %}


{% block scripts %}

<script src="{% static 'testers_assets/student/home/load_student_activity.js' %}"></script>

{% endblock %}
