{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>

    <style>

        .search_add_student input { width: 90%; }
        .search_add_student .add-on {width: 28px }
        #add_student_table {overflow: auto}

        #add_student .media-avatar,
        #add_student .media-avatar img {width: 50px; height: 50px}
        #add_student .media-avatar img,
        #add_student .media .media-title
        {margin: 0px}

        #add_student .media-body {
            padding: 0px;
            text-align: -webkit-auto;
            font-size: 12px;
        }

        #add_student .media.user {
            padding: 14px;
            cursor: default
        }

        #add_student .media.user:hover {
            background: unset;
            border: 1px solid white;
            padding: 14px;
        }


    </style>

    <link type="text/css" rel="stylesheet" href="{% static 'plugins/ladda/ladda-themeless.css' %}">

</head>
<body>

<div id="add_student">

    <h1>Add student</h1>
    <p></p>

    <div class="input-append" id="search_add_student">
        <input type="text" placeholder="Search by name" style="width: 90%" class="search">
        <span class="add-on" style="width: 28px"><i class="icon icon-search"></i></span>
    </div>

    <p></p>

    <div id="add_student_table"></div>

</div>
</body>


<script type="text/javascript">

    window.define_const('add_batch_id', "{{ batch.id }}");
    window.define_const('add_section_id', "{{ section.id }}");

</script>

<script src="{% static 'plugins/spin/spin.js' %}"></script>
<script src="{% static 'plugins/ladda/ladda.jquery.min.js' %}"></script>
<script src="{% static 'plugins/ladda/ladda.js' %}"></script>
<script src="{% static 'scripts/class/add_student.js' %}"></script>

<script type="text/html" id="student_list_add">

    <table style="width: 100%">

        <tr>

            <td style="width: 62%">
                <div class="media user">
                <a class="media-avatar pull-left" href="#">
                    <img src="/static/images/user.png">
                </a>
                <div class="media-body">
                    <h3 class="media-title">
                        {name}
                    </h3>
                    <p>
                    <div class="stream-text">
                        Grade IV, Grade II
                    </div>

                    <div class="stream-text">
                        {gender}
                    </div>

                    </p>
                </div>
            </div>
            </td>
            <td style="width: 21%">
                <form class="add_student_form" action="" method="post">
                    <input type="hidden" name="section" value="{{ section.id }}">
                    <input type="hidden" name="batch" value="{{ batch.id }}">
                    <input type="hidden" name="student" value="{student}">
                    <div class="align-center">
                        <button class="ladda-button btn btn-primary" type="submit" data-style="expand-right">
                            <span class="ladda-label ">
                                <i class="icon icon-plus-sign"></i> Add
                            </span>
                        </button>
                    </div>
                </form>
            </td>

        </tr>

    </table>


</script>

</html>