{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}

{% block styles %}

{% endblock %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-diamond icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Welcome to Phil-IRI online test
                    <div class="page-title-subheading">Highly configurable boxes best used for showing numbers in an
                        user friendly way.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">5ACTPV</h3>
            </div>
        </div>
    </div>

    <div class="mb-3 card text-white bg-success fullscreen-container" id="main">
        <div class="card-header p-20">
            <a class="btn-shadow mr-2 btn-lg btn btn-primary">
                <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-plus fa-w-20"></i>
                    </span>
                ADD NEW TASK
            </a>

            <a class="btn-shadow mr-2 btn-lg color-black btn btn-light">
                <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-plus fa-w-20"></i>
                    </span>
                ADD NEW ACTIVITY
            </a>

            <button type="button" data-toggle="tooltip" id="full_screen" title="" data-placement="bottom"
                    class="btn-shadow mr-2 btn-lg btn btn-light btn-fullscreen" data-original-title="Full screen">
                    <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-expand fa-w-20"></i>
                    </span> FULL SCREEN
            </button>

            <div class="btn-actions-pane-right">
                <form id="search" class="inline">
                    <div class="search-wrapper active no-width">
                        <div class="input-holder bg-white">
                            <input type="text" class="search-input" name="search" placeholder="Type to search">
                            <button type="button" class="search-icon"><span></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-header
                     bg-light
                     f-normal p-4">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left  ml-3 header-user-info">

                        <div class="widget-content p-0 text-primary">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <i class="pe-7s-look icon-gradient bg-grow-early" style="font-size:30px"></i>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        Silent Reading
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="widget-content-left  ml-3 header-user-info">

                        <div class="widget-content p-0 text-primary">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <i class="pe-7s-volume1 icon-gradient bg-grow-early" style="font-size:30px"></i>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        Listening Comprehension
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                     <div class="widget-content-left  ml-3 header-user-info">

                        <div class="widget-content p-0 text-primary">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <i class="pe-7s-micro icon-gradient bg-grow-early" style="font-size:30px"></i>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        Oral Reading
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="card-body bg-white text-default " style="min-height: 357px;">

            <div class="overlay-spinner">
                <div class="icon">
                    <i class="fa-spin fa fa-spinner"></i>
                </div>
            </div>

            <div class="jsgrid grid-cus main">

                <div class="inner_content no_display">
                    <div>
                        <h4>No display</h4>
                        <p><span>We cant find any information or source</span></p>
                    </div>
                </div>

            </div>

        </div>
        <div class="card-footer">
            <div class="widget-content-left full-width">
                <span class="pagination"></span>
            </div>
        </div>
    </div>

</div>


{% endblock %}


{% block scripts %}

<script src="{% static 'testers_assets/my_task_tab/populate_list_of_user_task.js' %}">
</script>

{% endblock %}
