<div class="table-responsive" item_count="{{itemCount}}">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
        <tr>
            <th style="width:20%">Activity Name</th>
            <th class="text-center" style="width:20%">Grade and Section</th>
            <th class="text-center" style="width:12%">Batch</th>
            <th class="text-center" style="width:20%">Student taken</th>
        </tr>
        </thead>
        <tbody>
        {% for per in data %}

        <tr>

            <td style="width:30%">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left mr-3">
                            <div class="widget-content-left">
                                {% if per.activity.type_of_literacy == 1 %}
                                <i class="pe-7s-micro icon-gradient bg-grow-early" style="font-size:40px"></i>
                                {% elif per.activity.type_of_literacy == 2 %}
                                <i class="pe-7s-look icon-gradient bg-grow-early" style="font-size:40px"></i>
                                {% elif per.activity.type_of_literacy == 2 %}
                                <i class="pe-7s-volume1 icon-gradient bg-grow-early" style="font-size:40px"></i>
                                {% else %}
                                <i class="pe-7s-star icon-gradient bg-grow-early" style="font-size:40px"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="widget-content-left flex2">
                            <div class="widget-heading">
                                <a href="/teacher/task/result?task={{per.id}}">
                                    {% if per.is_preTest %}
                                    {{per.name}}
                                    {% else %}
                                    {{per.activity.title}}
                                    {% endif %}
                                </a>
                            </div>
                            <div class="widget-subheading color-black">
                                Group Screening Test
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="text-center" style="width:20%">
                <b>
                    <a href="/teacher/classroom/view?group={{per.section.group_id}}">
                        {{per.section.group.name}}
                    </a> -
                    <a href="/teacher/section?section={{per.section_id}}">{{per.section.name}}</a>
                </b>
            </td>
            <td class="text-center" style="width:12%">
                <a href="/teacher/batch?section={{per.section_id}}&batch={{per.batch_id}}"
                   class="mb-2 mr-2 btn btn-light"
                   style="font-size:12px">
                    {{per.batch.name}}
                </a>
            </td>
            <td class="text-center" style="width:20%">

                {% if per.completed_students_num == per.no_sudents %}

                <a href="/teacher/task/result?task={{per.id}}" class="mb-2 mr-2 btn btn-success">
                    <h3 class="inline">
                        {{per.completed_students_num}}
                    </h3>/{{per.no_sudents}} taken
                </a>

                {% else %}

                <a href="/teacher/task/result?task={{per.id}}" class="mb-2 mr-2 btn btn-light">
                    <h3 class="inline">
                        {{per.completed_students_num}}
                    </h3>/{{per.no_sudents}} taken
                </a>

                {% endif %}

            </td>

        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
