
{% load group_tags %}


<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
    <title></title>
    <meta name="GENERATOR" content="LibreOffice 4.1.6.2 (Linux)">
    <meta name="AUTHOR" content="marklibres345@gmail.com">
    <meta name="CREATED" content="20200727;231500000000000">
    <meta name="CHANGEDBY" content="marklibres345@gmail.com">
    <meta name="CHANGED" content="20200728;4000000000000">
    <meta name="Creator" content="Microsoft® Word 2010">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">

    <style>

        @page {
            size: A4;
            margin: 1cm;
            @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 0cm;
                margin-left: 9cm;
                margin-right: 9cm;
                height: 1cm;
                font-family: "Microsoft JhengHei";
            }
        }
        @font-face {
            font-family: "Microsoft JhengHei";
        }
        @font-face {
            font-family: "Microsoft JhengHei";
        }
        @font-face {
            font-family: "Helvetica";
        }


		@media print
		{
			 .container {
			     page-break-after:always
			  }
		}

		body {
		    font-size:13px;
		    font-family: "Times New Roman", Times, serif;
		}

		.no_spaces
		{
		    margin : 0;
		    padding : 0;
		}
		.description
		{
		    border:1px solid black;
		    width:100%;
		}

		.description td
		{
		    margin:0;
		    padding:0;
		    line-height:0px;
		    background : blue;
		}

		.passage_td
		{
		    text-indent: 100px;
		    margin-top : 4px;
		    padding : 0;

		}

		.comprehension tr td
		{
            line-height:15px
		}






    </style>


</head>
<body lang="en-US" text="#000000" dir="LTR">

{% for per in task.get_all_quiz_activity %}

<div class="container">
    <p class="western" align="RIGHT" style="margin-right: 0.08in;">
         PhilIRI Page 1 - {{forloop.counter}}
    </p>
    <p align="CENTER" style="margin:0;">
        <font size="5">Grade Level Passage Rating Sheet</font></p>
    <h5 class="western" align="CENTER" style="margin-top: 2;line-height:34px">
       {% if task.activity.type_of_literacy == 1 %}
          Oral Reading Comprehension
       {% elif task.activity.type_of_literacy == 2 %}
           Silent Reading Comprehension
       {% elif task.activity.type_of_literacy == 3 %}
            Listening Comprehension
       {% endif %}
    </h5>
    <p class="western">
    </p>
    <table width="638"
           class="description"
           cellpadding="4"
           cellspacing="0"
           style="width: 100%; line-height:0px;">
        <colgroup>
            <col width="80">
            <col width="79">
            <col width="99">
            <col width="75">
            <col width="235">
        </colgroup>
        <tbody>
        <tr valign="TOP">
            <td colspan="3" width="286" style="border: none;">
                <b>Name</b> : <u>{{per.batch_student.student.get_full_name}} </u>
            </td>
            <td width="75" style="border: none;">
                <b>Age</b>: <u>{{user_profile.get_age}}</u>
            </td>
            <td width="235" style="border: none;">
                <b>Grade /Section</b>: <u>
                {{task.section.group.level}} {{task.section.name|lower|capfirst}}
            </u>
            </td>
        </tr>
        <tr valign="TOP">
            <td colspan="3" width="286" style="border: none; padding: 0in">
                <p class="western"><b>School</b>:
                    <u>{{school_profile.name_alias}}</u>
                </p>
            </td>
            <td width="75" style="border: none; padding: 0in">
                <p class="western"><br>
                </p>
            </td>
            <td width="235" style="border: none; padding: 0in">
                <p class="western"><b>Teacher</b><u>: {{task.user.get_full_name}}</u></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="80" height="6" style="border: none; padding: 0in">
                <p class="western"><b>Pre Test</b>:
                    {% if task.activity.test_type == 1 %}
                        <b><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&#10003;</span></b>
                    {% endif %}
                </p>
            </td>
            <td width="79" style="border: none; padding: 0in">
                <p class="western"><b>Post Test</b> :
                    {% if task.activity.test_type == 2 %}
                           <b><span style="font-size:20px">&nbsp;&#10003;</span></b>
                    {% endif %}
                </p>
            </td>
            <td width="99" style="border: none; padding: 0in">
                <p class="western"><b>GST</b>
                    {% if task.activity.test_type == 0 %}
                        <b><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&#10003;</span></b>
                    {% endif %}
                </p>
            </td>
            <td width="75" style="border: none; padding: 0in">
                <p class="western"><b>Set: </b><u>{{forloop.counter0|set_by_index}}</u></p>
            </td>
            <td width="235" style="border: none; padding: 0in">
                <p class="western"><b>Date</b>: <u>{{quiz_activity.date|date:"l, d F Y"}}</u></p>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="western" style="line-height: 150%"><br>
    </p>
    <table width="633" cellpadding="7" cellspacing="0" style="width: 100%; border: 1px solid; padding: 21px;">
        <colgroup>
            <col width="619">
        </colgroup>
        <tbody>
        <tr>
            <td width="619" style="border: none; padding: 0in">
                <p class="western" align="CENTER" style="">
                    <font size="4"><b>“{{per.quiz_assesment.assesment.title}}”</b></font>
                </p>
            </td>
        </tr>
        <tr>
            <td width="619" style="border: none; line-height: 38px;" class="passage_td">
                {{per.quiz_assesment.assesment.body}}
            </td>
        </tr>
        <tr>
            <td width="619" valign="TOP" style="border: none; padding: 0in">
                <p class="western" align="RIGHT">
                    Level: {{task.section.group.name}}
                </p>
                <p class="western" align="RIGHT">
                    No. of words: {{per.words_length}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div class="container">
    <p class="western" align="RIGHT" style="margin-right: 0.08in; margin-top: 0.06in; line-height: 150%">
        Phil-IRI Form 3B, Page 2 - {{forloop.counter}}
    </p>

    <table dir="LTR" cellpadding="6" width="638"
           class="description"
           cellspacing="0" style="width:100%">
        <colgroup>
            <col width="265">
            <col width="76">
            <col width="256">
        </colgroup>
        <tbody>
        <tr valign="TOP" style="border:none">
            <td width="265" style="border: none; padding: 0in">
                <h3>PART A</h3>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="265" style="border: none; padding: 0in">
                <b>Total Time in Reading the Text: </b>
                {% if per.quiz_assesment.read_duration < 60 %}
                    {{per.quiz_assesment.read_duration}} seconds
                {% elif per.quiz_assesment.read_duration >= 60 %}
                    {{per.quiz_assesment.read_duration|devision:60}} minutes

                {% elif per.quiz_assesment.read_duration <= 3600 %}
                    {{per.quiz_assesment.read_duration|seconds_to_hours}} hour
                {% endif %}
            </td>
            <td colspan="2" width="345" style="border: none; padding: 0in">
                <b>Reading Rate</b>: {{per.quiz_assesment.reading_speed}} words per minute
            </td>
        </tr>
        <tr valign="TOP">
            <td width="265" style="border: none; padding: 0in">
                <b>Responses to Questions</b>: Score:
                {{per.quiz_assesment.comprehension_score}} / {{per.quiz_assesment.no_question_set}}
            </td>
            <td width="76" style="border: none; padding: 0in">
                <b>%=</b> {{per.quiz_assesment.get_percentage}}%
            </td>
            <td width="256" style="border: none; padding: 0in">
                <b>Comprehension Level</b>:
                {% if per.quiz_assesment.comprehension_level == 0 %}
                    Frustration
                {% elif per.quiz_assesment.comprehension_level == 1 %}
                    Instructional
                {% elif per.quiz_assesment.comprehension_level == 2 %}
                    Independent
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <p class="western" style="line-height: 150%">
    </p>

    <br/>
    <br/>

    <table cellpadding="7" class="description comprehension"
           cellspacing="0" style="width:100%;">
        <tr>
            <th style="width:10%">
                Answer
            </th>
            <th style="width:10%">
                Time
            </th>
            <th style="width:30%">
                Question
            </th>
            <th style="width:60%">
                Choices
            </th>
        </tr>

        {% for question in  per.quiz_assesment.get_questions %}

        <tr>
            <td style="width:10%">
                {% if question.answer_identifier %}
                    {{forloop.counter}}.) <u><b>{{question.answer_identifier}}</b></u>

                    {% if question.answer and question.answer.answer.is_correct %}
                        <span style="font-size:20px">&#10003;</span>
                    {% else %}
                        <span style="font-size:20px">✘</span>
                    {% endif %}

                {% else %}
                    {{forloop.counter}}.)
                {% endif %}
            </td>

            <th style="width:10%">
                {% if question.answer.time_lapse < 60 %}

                    {{question.answer.time_lapse}} sec.

                {% elif question.answer.time_lapse >= 60 %}

                    {{question.answer.time_lapse|devision:60}} min.

                {% elif per.quiz_assesment.read_duration <= 3600 %}

                    {{question.answer.time_lapse|seconds_to_hours}} hour

                {% endif %}
            </th>

            <td style="width:30%">
                {{question.body}}
            </td>

            <td style="width:60%">
                {% for per_choices in question.choices %}
                    <p>
                        {{per_choices.tmp_identifier}}.) {{per_choices.body}}
                    </p>
                {% endfor %}
            </td>

        </tr>

        {% endfor %}
    </table>


</div>

<div class="container">

    <p class="western" align="RIGHT" style="margin-right: 0.08in; margin-top: 0.06in; line-height: 150%">
        Phil-IRI Form 3B, Page 3 - {{forloop.counter}}
    </p>

    <table dir="LTR" cellpadding="6" width="638"
           class="description"
           cellspacing="0" style="width:100%">
        <colgroup>
            <col width="265">
            <col width="76">
            <col width="256">
        </colgroup>
        <tbody>
        <tr valign="TOP" style="border:none">
            <td width="265" style="border: none; padding: 0in">
                <h3>PART B</h3>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="265" style="border: none; padding: 0in">
                <h3>Word Reading <u>(Pagbasa)</u></h3>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="265" style="border: none; padding: 0in">
                <b>Passage: </b> <u>{{per.quiz_assesment.assesment.title}}</u>
            </td>
            <td colspan="1" width="345" style="border: none; padding: 0in">
                <b>Level</b>: <u>{{task.section.group.level}}</u>
            </td>
             <td colspan="1" width="345" style="border: none; padding: 0in">
                <b>Set</b>: <u>{{forloop.counter0|set_by_index}}</u>
            </td>
        </tr>
        </tbody>
    </table>

    <br/>
    <br/>

    <table cellpadding="7" class="description"
           cellspacing="0" style="width:100%;">
        <tr>
            <th style="width:10%">
            </th>
            <th style="width:30%;">
                Types of Miscues
                <i>(Uri ng Mali)</i>
            </th>
            <th style="width:20%">
                Number of Miscues
                <i>(Bilang ng Salitang mali ang basa)</i>
            </th>

            <th style="width:50%">
                Mga Salita na di magbigkas
                <i></i>
            </th>

        </tr>

        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
                <b>1</b>
            </td>

            <td style="width:30%;">
                Mispronunciation <i>(Maling Bigkas)</i>
            </td>

            <td style="width:20%;text-align:center">
                {{per.no_mispronunciation}}
            </td>

            <td style="width:50%">
                {% for per_words in per.mispronunciation %}
                    {{per_words.miscue_text}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>

        </tr>
        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
                <b>2</b>
            </td>

            <td style="width:30%;">
                Omission <i>(Pagkakaltas)</i>
            </td>

            <td style="width:20%;text-align:center">
                {{per.no_omission}}
            </td>

            <td style="width:50%" >
                {% for per_words in per.omission %}
                    {{per_words.miscue_text}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>

        </tr>
        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
                <b>3</b>
            </td>

            <td style="width:20%;">
                Substitution <i>(Pagpapalit)</i>
            </td>

            <td style="width:20%;text-align:center">
                {{per.no_substitution}}
            </td>

            <td style="width:50%" >
                {% for per_words in per.substitution %}
                    {{per_words.miscue_text}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>

        </tr>
        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
                <b>4</b>
            </td>

            <td style="width:20%;">
                Insertion <i>(Pagsisingit)</i>
            </td>

             <td style="width:20%;text-align:center">
                {{per.no_insertion}}
            </td>

            <td style="width:50%" >
                {% for per_words in per.insertion %}
                    {{per_words.miscue_text}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>

        </tr>
        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
                <b>5</b>
            </td>

            <td style="width:30%;">
                Repetition <i>(Pag-uulit)</i>
            </td>

            <td style="width:20%;text-align:center">
                {{per.no_repetition}}
            </td>

            <td style="width:50%" >
                {% for per_words in per.repetition %}
                    {{per_words.miscue_text}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>

        </tr>
        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
                <b>6</b>
            </td>

            <td style="width:30%;">
                Transposition <i>(Pagpapalit ng lugar)</i>
            </td>

            <td style="width:20%;text-align:center">
                {{per.no_transposition}}
            </td>

            <td style="width:50%" >
                {% for per_words in per.transposition %}
                    {{per_words.miscue_text}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>

        </tr>
        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
                <b>7</b>
            </td>

            <td style="width:30%;">
                Reversal <i>(Paglilipat)</i>
            </td>

            <td style="width:20%;text-align:center">
                {{per.no_reversal}}
            </td>

            <td style="width:50%" >
                {% for per_words in per.reversal %}
                    {{per_words.miscue_text}}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>

        </tr>

        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
            </td>

            <td style="width:30%;">
                <h3>Total Miscues<i>(Kabuuan)</i></h3>
            </td>

            <td style="width:20%;text-align:center">
                {{per.no_total_miscues}}
            </td>

            <td style="width:50%" ></td>

        </tr>

        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
            </td>

            <td style="width:30%;">
                <h3>Number of Words in the Passage</h3>
            </td>

            <td style="width:20%;text-align:center">
                {{per.words_length}}
            </td>

            <td style="width:50%" ></td>

        </tr>

        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
            </td>

            <td style="width:30%;">
                <h3>Word Reading Score</h3>
            </td>

            <td style="width:20%;text-align:center">
                {{per.no_oral_reading_score}}%
            </td>

            <td style="width:50%" ></td>

        </tr>

        <tr>
            <td style="width:10%;font-size:15px;text-align:center">
            </td>

            <td style="width:30%;">
                <h6>Word Reading Level <i>(Antas ng Pagbasa)</i></h6>
            </td>

            <td style="width:20%;text-align:center">
               {% if per.no_reading_level == 0 %}
                    <b>Frustration</b>
               {% elif per.no_reading_level == 1 %}
                    <b>Instructional</b>
               {% elif per.no_reading_level == 2 %}
                    <b>Independent</b>
               {% endif %}
            </td>

            <td style="width:50%" ></td>

        </tr>

    </table>



</div>

{% endfor %}


</body>
</html>
