
{% load group_tags %}


<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
    <title></title>
    <meta name="GENERATOR" content="LibreOffice 4.1.6.2 (Linux)">
    <meta name="AUTHOR" content="marklibres345@gmail.com">
    <meta name="CREATED" content="20200727;231500000000000">
    <meta name="CHANGEDBY" content="marklibres345@gmail.com">
    <meta name="CHANGED" content="20200728;4000000000000">
    <meta name="Creator" content="Microsoft® Word 2010">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">

    <style>

        @page {
            size: A4;
            margin: 1cm;
            @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 0cm;
                margin-left: 9cm;
                margin-right: 9cm;
                height: 1cm;
                font-family: "Microsoft JhengHei";
            }
        }
        @font-face {
            font-family: "Microsoft JhengHei";
        }
        @font-face {
            font-family: "Microsoft JhengHei";
        }
        @font-face {
            font-family: "Helvetica";
        }


		@media print
		{
			 .container {
			     page-break-after:always
			  }
		}

		body {
		    font-size:13px;
		    font-family: "Times New Roman", Times, serif;
		}

		.no_spaces
		{
		    margin : 0;
		    padding : 0;
		}
		.description
		{
		    border:1px solid black;
		    width:100%;
		}

		.description td
		{
		    margin:0;
		    padding:0;
		    line-height:0px;
		    background : blue;
		}

		.passage_td
		{
		    text-indent: 100px;
		    margin-top : 4px;
		    padding : 0;

		}

		.comprehension tr td
		{
            line-height:15px
		}






    </style>


</head>
<body lang="en-US" text="#000000" dir="LTR">

{% for per in quiz_activity.get_assesment_list %}

<div class="container">
    <p class="western" align="RIGHT" style="margin-right: 0.08in;">
        Phil-IRI, Page 1 - {{forloop.counter}}
    </p>
    <p align="CENTER" style="margin:0;">
        <font size="5">Grade Level Passage Rating Sheet</font></p>
    <h4 class="western" align="CENTER" style="margin-top: 2;line-height:34px">
       {% if task.activity.type_of_literacy == 1 %}
            Oral Reading Comprehension (Word and Comprehension Test)
       {% elif task.activity.type_of_literacy == 2 %}
            Silent Reading Comprehension
       {% elif task.activity.type_of_literacy == 3 %}
            Listening Comprehension
       {% endif %}
    </h4>
    <p class="western">
    </p>
    <table width="638"
           class="description"
           cellpadding="4"
           cellspacing="0"
           style="width: 100%; line-height:0px;">
        <colgroup>
            <col width="80">
            <col width="79">
            <col width="99">
            <col width="75">
            <col width="235">
        </colgroup>
        <tbody>
        <tr valign="TOP">
            <td colspan="3" width="286" style="border: none;">
                <b>Name</b> : <u>{{student.get_full_name}} </u>
            </td>
            <td width="75" style="border: none;">
                <b>Age</b>: <u>{{user_profile.get_age}}</u>
            </td>
            <td width="235" style="border: none;">
                <b>Grade /Section</b>: <u>
                {{task.section.group.level}} {{task.section.name|lower|capfirst}}
            </u>
            </td>
        </tr>
        <tr valign="TOP">
            <td colspan="3" width="286" style="border: none; padding: 0in">
                <p class="western"><b>School</b>:
                    <u>{{school_profile.name_alias}}</u>
                </p>
            </td>
            <td width="75" style="border: none; padding: 0in">
                <p class="western"><br>
                </p>
            </td>
            <td width="235" style="border: none; padding: 0in">
                <p class="western"><b>Teacher</b><u>: {{task.user.get_full_name}}</u></p>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="80" height="6" style="border: none; padding: 0in">
                <p class="western"><b>Pre Test</b>:
                    {% if task.activity.test_type == 1 %}
                        <b><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&#10003;</span></b>
                    {% endif %}
                </p>
            </td>
            <td width="80" style="border: none; padding: 0in">
                <p class="western">
                    <b>Post Test</b> :
                    {% if task.activity.test_type == 2 %}
                        <b><span style="font-size:20px">&nbsp;&#10003;</span></b>
                    {% endif %}
                </p>
            </td>
            <td width="99" style="border: none; padding: 0in">
                <p class="western"><b>GST</b>
                    {% if task.activity.test_type == 0 %}
                        <b><span style="font-size:20px">&nbsp;&nbsp;&nbsp;&#10003;</span></b>
                    {% endif %}
                </p>
            </td>
            <td width="75" style="border: none; padding: 0in">
                <p class="western"><b>Set: </b><u>{{forloop.counter0|set_by_index}}</u></p>
            </td>
            <td width="235" style="border: none; padding: 0in">
                <p class="western"><b>Date</b>: <u>{{quiz_activity.date|date:"l, d F Y"}}</u></p>
            </td>
        </tr>
        </tbody>
    </table>
    <p class="western" style="line-height: 150%"><br>
    </p>
    <table width="633" cellpadding="7" cellspacing="0" style="width: 100%; border: 1px solid; padding: 21px;">
        <colgroup>
            <col width="619">
        </colgroup>
        <tbody>
        <tr>
            <td width="619" style="border: none; padding: 0in">
                <p class="western" align="CENTER" style="">
                    <font size="4"><b>“{{per.assesment.title}}”</b></font>
                </p>
            </td>
        </tr>
        <tr>
            <td width="619" style="border: none; line-height: 38px;" class="passage_td">
                {{per.assesment.body}}
            </td>
        </tr>
        <tr>
            <td width="619" valign="TOP" style="border: none; padding: 0in">
                <p class="western" align="RIGHT">
                    Level: {{task.section.group.name}}
                </p>
                <p class="western" align="RIGHT">
                    No. of words: {{per.words_length}}
                </p>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div class="container">
    <p class="western" align="RIGHT" style="margin-right: 0.08in; margin-top: 0.06in; line-height: 150%">
        Phil-IRI, Page 2 - {{forloop.counter}}
    </p>

    <table dir="LTR" cellpadding="6" width="638"
           class="description"
           cellspacing="0" style="width:100%">
        <colgroup>
            <col width="265">
            <col width="76">
            <col width="256">
        </colgroup>
        <tbody>
        <tr valign="TOP" style="border:none">
            <td width="265" style="border: none; padding: 0in">
                <h3>PART A</h3>
            </td>
        </tr>
        <tr valign="TOP">
            <td width="265" style="border: none; padding: 0in">
                <b>Total Time in Reading the Text: </b>
                {% if per.read_duration < 60 %}
                    {{per.read_duration}} seconds
                {% elif per.read_duration >= 60 %}
                    {{per.read_duration|devision:60}} minutes

                {% elif per.read_duration <= 3600 %}
                    {{per.read_duration|seconds_to_hours}} hour
                {% endif %}
            </td>
            <td colspan="2" width="345" style="border: none; padding: 0in">
                <b>Reading Rate</b>: {{per.reading_speed}} words per minute
            </td>
        </tr>
        <tr valign="TOP">
            <td width="265" style="border: none; padding: 0in">
                <b>Responses to Questions</b>: Score:
                {{per.comprehension_score}} / {{per.no_question_set}}
            </td>
            <td width="76" style="border: none; padding: 0in">
                <b>%=</b> {{per.get_percentage}}%
            </td>
            <td width="256" style="border: none; padding: 0in">
                <b>Comprehension Level</b>:
                {% if per.comprehension_level == 0 %}
                    <u><b>Frustration</b></u>
                {% elif per.comprehension_level == 1 %}
                    <u><b>Instructional</b></u>
                {% elif per.comprehension_level == 2 %}
                   <u><b>Independent</b></u>
                {% endif %}
            </td>
        </tr>

        </tbody>
    </table>

    <p class="western" style="line-height: 150%">
    </p>

    <br/>
    <br/>

    <table cellpadding="7" class="description comprehension"
           cellspacing="0" style="width:100%;">
        <tr>
            <th style="width:13%">
                Answer
            </th>
            <th style="width:10%">
                Time
            </th>
            <th style="width:30%">
                Question
            </th>
            <th style="width:55%">
                Choices
            </th>
        </tr>

        {% for question in  per.get_questions %}

        <tr>
            <td style="width:13%">
                {% if question.answer_identifier %}
                    {{forloop.counter}}.) <u><b>{{question.answer_identifier}}</b></u>

                    {% if question.answer and question.answer.answer.is_correct %}
                        <span style="font-size:20px">&#10003;</span>
                    {% else %}
                        <span style="font-size:20px">✘</span>
                    {% endif %}

                {% else %}
                    {{forloop.counter}}.)
                {% endif %}
            </td>

            <th style="width:10%">
                {% if question.answer.time_lapse < 60 %}

                    {{question.answer.time_lapse}} sec.

                {% elif question.answer.time_lapse >= 60 %}

                    {{question.answer.time_lapse|devision:60}} min.

                {% elif per.quiz_assesment.read_duration <= 3600 %}

                    {{question.answer.time_lapse|seconds_to_hours}} hour

                {% endif %}
            </th>

            <td style="width:30%">
                {{question.body}}
            </td>

            <td style="width:57%">
                {% for per_choices in question.choices %}
                    <p>
                        {{per_choices.tmp_identifier}}.) {{per_choices.body}}
                    </p>
                {% endfor %}
            </td>

        </tr>

        {% endfor %}
    </table>


</div>


{% endfor %}


</body>
</html>
