{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-diamond icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Welcome to Phil-IRI online test
                    <div class="page-title-subheading">Highly configurable boxes best used for showing numbers in an
                        user friendly way.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">5ACTPV</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="row">

            {% for message in messages %}

            <div class="alert {{ message.tags }}" style="width:100%">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {% if message.extra_tags %}

                <h5>
                    <strong>
                        <i class="icon-exclamation-sign icon"></i>
                        {{ message.extra_tags|title }}
                    </strong>
                </h5>

                {% else %}

                <h5>
                    <strong>
                        <i class="icon-exclamation-sign icon"></i>
                        {{ message.extra_tags|title }}
                    </strong>
                </h5>

                {% endif %}

                {{ message }}
            </div>

            {% endfor %}


        </div>

    </div>

</div>


{% endblock %}


{% block scripts %}

{% endblock %}
