{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-help1 icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Welcome to Phil-IRI online test
                    <div class="page-title-subheading">
                        Please complete your information details.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">ID. {{student.less_zeros}}{{student.id}}</h3>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">

            <div class="main-card mb-3 card">
                <div class="card-body">

                    {% if validation_error %}

                    <div class="alert alert-warning fade show" role="alert"><h5>Validation Error</h5>
                        <p class="mb-0">{{validation_error}}</p>
                    </div>

                    {% endif %}

                    <div class="col-lg-6">

                        <form data-parsley-validate method="post" class="auto_validate" action="/teacher/home/personal/set">
                            {% csrf_token %}
                            <div class="position-relative form-group">
                                <label>School Access Code</label>
                                <input name="access"
                                       required placeholder="XXXXXX"
                                       type="text"
                                       class="form-control">
                            </div>

                            <button class="mt-1 btn btn-primary" type="submit">Submit</button>
                        </form>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>



{% endblock %}


{% block scripts %}

{% endblock %}
