.widget-menu .active a,
.widget-menu .active .menu-icon {
    background-color: #28262c;
    color: #fafafa;
}

red {
    color: red;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    color: #B94A48;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}


.btn-input-sm {
    padding: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input,
input[type=email]:not(.parsley-error),
input[type=text]:not(.parsley-error),
input[type=number]:not(.parsley-error),
input[type=date]:not(.parsley-error),
select:not(.parsley-error),
textarea {
    background-color: #ececec;
}

input[disabled][type=text],
textarea[disabled] {
    background-color: #d2d2d2;
}

div.jsgrid-grid-body {
    height: auto !important;
}

.student_list div.jsgrid-grid-body,
.student_list div.jsgrid-grid-header {
    overflow: hidden;
    border: unset;
}

.student_list .jsgrid-table {
    min-height: 100px;
}

.student_list .jsgrid-selected-row .jsgrid-cell {
    background: inherit;
    border-color: transparent;
}

.student_list .jsgrid-load-shader {
    background-color: inherit;
}


.radio-button input[type=radio],
.radio-button input[type=checkbox] {
    display: none;
}

.radio-button input[type=radio] + label,
.radio-button input[type=checkbox] + label {
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.radio-button input[type=radio]:checked + label,
.radio-button input[type=checkbox]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e0e0e0;
}


.label.orange {
    background: #d74f2a;
}

.profile-head
{
    padding: 15px 15px 18px;
}

.group .profile-tab
{
    padding: 0px 15px 0;
}

#section_list_table .jsgrid-grid-body,
.jsgrid .jsgrid-grid-body
{
    overflow: hidden;
}

.jsgrid .profile-head.media
{
    padding: 24px;
    padding-bottom: 10px;
}

.jsgrid-table
{
    width: 100%;
}

.inline {display: inline}

.breadcrumb
{
    background-color: #e3e3e3;
}

.breadcrumb>.active {
    color: #333333;
}

.breadcrumb-item + .breadcrumb-item::before         {
   content: "/ " !important;
}
.text-default { color: #333}

.daterangepicker.show-calendar .drp-calendar.left {
    padding: 8px 34px 8px 8px;
}

.daterangepicker.show-calendar .drp-calendar.right
{
    padding-right: 37px;
}

.jquery-modal .modal
{
    position: absolute;
    left: 52%;
    right: 50%;
}

.message .table-message tbody td.cell-status b.done {
    background-color: #309570;
    border-color: #277a5c;
    color : white;
}

.list_task td.cell-title
{
    width: 77%;
    min-width: 847px;
    max-width: 847px;
}

.list_task .jsgrid-grid-body
{
    overflow: auto;
}

.list_task td.cell-icon
{
    width: 5%;
}

.list_task .cell-status { width: 22% }

.list_task tr { width: 100% }

/*.list_activity .cell-title { width: 70% }*/
/*.list_activity .cell-status { width: 30% }*/



