<div class="full-container no-padding">
    <div class="card-body separator-green bg-light-warning hide_when_fullscreen">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left">
                    <div class="btn-group">
                        <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                            <i class="pe-7s-info" style="font-size:40px"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-content-left  ml-3 header-user-info">
                    <div class="widget-heading">
                        Please enabled full screen mode
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-header" style="height:auto">

        <div class="widget-content p-0 full-width">
            <div class="widget-content-wrapper">
                <div class="widget-content-left">

                    <div class="record-speech-controls">
                        <div class="recorder cus">
                            <div class="toolbar">
                                <button type="button" class="ready_play js-play button button--play">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </button>
                                <input type="hidden" required="" name="audio_blob">
                                <audio class="recorder_audio" src="/media/{{oral_reading.audio}}"></audio>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="widget-content-left f-normal ml-3 header-user-info text-highligt-black">
                    <div class="widget-heading">
                        {% if task.is_preTest %}
                        <h5>{{ oral_reading.quiz_activity.task.name|capfirst }}</h5>
                        {% else %}
                        <h5>{{ quiz_assesment.quiz_activity.task.activity.title|capfirst }}</h5>
                        {% endif %}
                    </div>
                    <div class="widget-subheading">
                        <h6>Oral Reading Comprehension</h6>
                    </div>
                </div>

                <div class="widget-content-right mr-4">

                    {% if not is_done %}

                    <form id="next" action="/teacher/task/oral/miscue/next">
                        <input type="hidden" name="oral_reading" value="{{oral_reading.id}}">

                        <button type="submit" class="btn-shadow btn-lg  btn btn-primary" style="font-size:18px">
                             <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="pe-7s-next-2"></i>
                             </span>
                            Next
                        </button>

                    </form>

                    {% else %}

                    <form action="/teacher/task/oral/miscue/next" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="oral_reading" value="{{oral_reading.id}}">
                        <button type="submit" class="btn-shadow btn-lg  btn btn-primary" style="font-size:18px">
                             <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="pe-7s-check"></i>
                             </span>
                            Done
                        </button>

                    </form>


                    {% endif %}


                </div>


            </div>
        </div>

    </div>

    <div class="audio-player-container  show_when_fullscreen">
        <div class="audio-progress" id="audio-progress">
            <div id="draggable-point" style="left:0%;position:absolute;" class="draggable ui-widget-content">
                <div id="audio-progress-handle"></div>
            </div>
            <div id="audio-progress-bar" class="bar" style="width:0%">
            </div>
        </div>
    </div>


    <div class="card-body no-padding">

        <div class="row no-gutters">

            <div class="col-md-6 border-right f-20-fullscreen full-with-not-fullscreen">

                <div class="card-body mt-3 text-center clickable_word">
                    <h5 class="card-title">
                        {{oral_reading.title_base}}
                    </h5>
                    {{passage_body|safe}}
                </div>

            </div>

            <div class="col-md-6 right hide show_when_fullscreen">

                <div class="card-body x-margin-bottom">

                    {% for per in word_recognition.of_miscue_type %}

                    <div class="position-relative row form-group">
                        <label class="col-sm-3 col-form-label">
                            <b>{{per.1}}</b>
                        </label>
                        <div class="col-sm-9 inputs-tags-custom">

                            <form class="tags_params" action="/teacher/task/oral/miscue/add">
                                <input type="hidden" name="miscue_type" value="{{per.0}}">
                                <input type="hidden" name="oral_reading" value="{{oral_reading.id}}">
                                <div class="input-group parent">
                                    <input type="text" aria-describedby="basic-addon1" class="tag_input" required="">

                                    {% if per.0 == 0 %}

                                    {% for miscue in oral_reading.mispronunciation %}

                                    <datalist>
                                        <option value="{{miscue.index}}">{{miscue.miscue_text}}</option>
                                    </datalist>

                                    {% endfor %}


                                    {% elif per.0 == 1 %}

                                    {% for miscue in oral_reading.omission %}

                                    <datalist>
                                        <option value="{{miscue.index}}">{{miscue.miscue_text}}</option>
                                    </datalist>

                                    {% endfor %}


                                    {% elif per.0 == 2 %}

                                    {% for miscue in oral_reading.substitution %}

                                    <datalist>
                                        <option value="{{miscue.index}}">{{miscue.miscue_text}}</option>
                                    </datalist>

                                    {% endfor %}


                                    {% elif per.0 == 3 %}

                                    {% for miscue in oral_reading.insertion %}

                                    <datalist>
                                        <option value="{{miscue.index}}">{{miscue.miscue_text}}</option>
                                    </datalist>

                                    {% endfor %}


                                    {% elif per.0 == 4 %}

                                    {% for miscue in oral_reading.repetition %}

                                    <datalist>
                                        <option value="{{miscue.index}}">{{miscue.miscue_text}}</option>
                                    </datalist>

                                    {% endfor %}


                                    {% elif per.0 == 5 %}

                                    {% for miscue in oral_reading.transposition %}

                                    <datalist>
                                        <option value="{{miscue.index}}">{{miscue.miscue_text}}</option>
                                    </datalist>

                                    {% endfor %}


                                    {% elif per.0 == 6 %}

                                    {% for miscue in oral_reading.reversal %}

                                    <datalist>
                                        <option value="{{miscue.index}}">{{miscue.miscue_text}}</option>
                                    </datalist>

                                    {% endfor %}


                                    {% endif %}


                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-success btn-lg f-20">
                                            <i class="pe-7s-check"></i>
                                        </button>
                                    </div>
                                    <div class="helper mt-1 custom text-primary">
                                        Select word in the passage on the right side to add
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                    {% endfor %}


                </div>

            </div>

        </div>


    </div>


</div>
