<div class="table-responsive" item_count="{{itemCount}}">
    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
        <tr>
            <th style="width:40%">Passsage</th>
            <th class="text-center" style="width:20%">Reading Level</th>
            <th class="text-center" style="width:20%">Action</th>
        </tr>
        </thead>
        <tbody>

        {% for per in list_quiz_assesment %}

        <tr>
            <td style="width:40%">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left flex2">
                            <div class="widget-heading">
                                <a href="#">
                                    {{per.assesment.title|title}}
                                </a>
                            </div>
                            <div class="widget-subheading opacity-7">
                                No of questions, <b>{{per.assesment.no_questions}}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="text-center" style="width:20%">

                {% if per.comprehension_level == 0 %}
                <div class="mb-2 mr-2 badge badge-danger">Frustration</div>

                {% elif per.comprehension_level == 1 %}


                <div class="mb-2 mr-2 badge badge-alternate">Instructional</div>

                {% elif per.comprehension_level == 2 %}

                <div class="mb-2 mr-2 badge badge-success">Independent</div>

                {% else %}

                <div class="inline fright">
                    <i>Not specified</i>
                </div>

                {% endif %}
            </td>

             <td class="text-center" style="width:20%">
                 <form action="/teacher/task/oral/student/passage/update"
                       class="update_oral_assesment">
                     <input type="hidden" name="quiz_assesment_id" value="{{per.id}}">
                     <button class="btn btn-sm btn-success">update and confirm</button>
                 </form>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
