<div class="table-responsive" item_count="{{itemCount}}">

    {% if state == 1 %}

    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
        <tr>
            <th style="width:40%"></th>
            <th class="text-center" style="width:10%">Word Level</th>
            <th class="text-center" style="width:10%">Reading Level</th>
        </tr>
        </thead>
        <tbody>

        {% for per in list_result %}

        <tr>
            <td style="width:40%">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left mr-3">
                            <div class="widget-content-left">
                                <img width="40" class="rounded-circle"
                                     src="/static/images/boy.png"
                                     alt="">
                            </div>
                        </div>
                        <div class="widget-content-left flex2">
                            <div class="widget-heading">
                                <a href="/teacher/task/student/quiz/score?quiz={{per.id}}">
                                    {{per.batch_student.student.get_full_name|title}}
                                </a>
                            </div>
                            <div class="widget-subheading opacity-7">
                                {{per.student_duration_taken}} seconds
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="text-center" style="width:10%">

                {% if per.get_word_reading_level == 0 %}

                <div class="mb-2 mr-2 badge badge-danger">Frustration</div>

                {% elif per.get_word_reading_level == 1 %}

                <div class="mb-2 mr-2 badge badge-alternate">Instructional</div>

                {% elif per.get_word_reading_level == 2 %}

                <div class="mb-2 mr-2 badge badge-success">Independent</div>

                {% else %}

                <div class="mb-2 mr-2 badge badge-secondary">Not given</div>

                {% endif %}




            </td>
            <td class="text-center" style="width:10%">
                {% if per.comprehension_level == 0 %}
                <div class="mb-2 mr-2 badge badge-danger">Frustration</div>

                {% elif per.comprehension_level == 1 %}


                <div class="mb-2 mr-2 badge badge-alternate">Instructional</div>

                {% elif per.comprehension_level == 2 %}

                <div class="mb-2 mr-2 badge badge-success">Independent</div>

                {% else %}

                <div class="inline fright">
                    <i>Not specified</i>
                </div>

                {% endif %}
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

    {% elif state == 0 %}

    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
        <thead>
        <tr>
            <th style="width:40%"></th>
            <th class="text-center" style="width:20%">Last active</th>
        </tr>
        </thead>
        <tbody>

        {% for per in list_result %}

        <tr>
            <td style="width:40%">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left mr-3">
                            <div class="widget-content-left">
                                <img width="40" class="rounded-circle"
                                     src="/static/images/boy.png"
                                     alt="">
                            </div>
                        </div>
                        <div class="widget-content-left flex2">
                            <div class="widget-heading">
                                {{per.student.get_full_name|title}}
                            </div>
                            <div class="widget-subheading opacity-7">
                                Added by, <a href="#">{{per.user_added.get_full_name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td class="text-center" style="width:20%">
                24 days
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

    {% endif %}
</div>
