<ul class="list-group batch_student_add" item_count="{{itemCount}}">

    {% for per in user_profile_list %}

    <li class="list-group-item">

        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left">
                    <div class="btn-group">
                        <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                            <img width="42" class="rounded-circle"
                                 src="/static/images/boy.png"
                                 alt="">
                        </a>
                    </div>
                </div>
                <div class="widget-content-left  ml-3 header-user-info">
                    <div class="widget-heading f-sm">
                        <a href="#">{{per.user.get_full_name}}</a>
                    </div>
                    <p class="no-margin text-default">
                        <!--per.get_full_name()-->
                        ID No., <a href="#"><b>{{per.user_id}}</b></a>
                    </p>
                </div>
                <div class="widget-content-right header-user-info">


                    {% if per.is_already_added %}

                    <button class="btn-shadow mr-3 btn btn-success" disabled>
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-check"></i>
                        </span>
                        <span class="label">Already added</span>
                    </button>

                    {% else %}

                    <form class="add_student_batch inline">
                        <input type="hidden" name="section" value="{{section.id}}">
                        <input type="hidden" name="batch" value="{{batch.id}}">
                        <input type="hidden" name="student" value="{{per.user.id}}">
                        <button class="btn-shadow mr-3 btn btn-info">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span class="label">Add</span>
                        </button>
                    </form>

                    {% endif %}

                    <a target="_blank" href="/home" class="btn-shadow btn btn-focus">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-info"></i>
                        </span>
                        Manage Account
                    </a>

                </div>

            </div>
        </div>

    </li>

    {% endfor %}

</ul>
