<ul class="list-group teacher" item_count="{{itemCount}}">

    {% for per in activity_list %}

    <li class="list-group-item">

        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left  ml-3 header-user-info">
                    <div class="widget-heading f-sm">
                        <a href="/teacher/activity?activity={{per.id}}">
                            {{per.title|capfirst}}
                        </a>
                    </div>
                    <div class="widget-subheading">
                        <div class="text-secondary">
                            {% if per.rates <= 19 %}
                            <div class="mb-2 badge badge-danger">Hard</div>
                            {% elif per.rates >= 20 and per.rates <= 39 %}
                            <div class="mb-2 badge badge-danger">Hard</div>
                            <div class="mb-2 badge badge-warning">Medium</div>
                            {% elif per.rates >= 40 and per.rates <= 59 %}
                            <div class="mb-2 badge badge-warning">Medium</div>
                            {% elif per.rates >= 60 and per.rates <= 79 %}
                            <div class="mb-2 badge badge-success">Easy</div>
                            <div class="mb-2 badge badge-warning">Medium</div>
                            {% elif per.rates >= 80 and per.rates <= 100 %}
                            <div class="mb-2 badge badge-success">Easy</div>
                            {% endif %}
                        </div>
                    </div>
                    <p class="no-margin ">
                        Type of Test, <b>{{per.get_test_type_display}}</b>
                    </p>
                    <p class="no-margin ">
                        Type of Literacy Task,
                        {% if per.type_of_literacy is 1 %}
                        <b>Oral Reading Comprehension</b>
                        {% elif per.type_of_literacy is 2 %}
                        <b>Silent Reading Comprehension</b>
                        {% else %}
                        <b>Listening Comprehension</b>
                        {% endif %}
                    </p>
                    <p class="no-margin ">
                        Author, <a href="#"><b>{{per.user_added.get_full_name}}</b></a>
                    </p>
                </div>
                <div class="widget-content-right header-user-info">

                    <a href="/teacher/activity?activity={{per.id}}" class="btn-shadow mr-3 btn btn-info">
                          <span class="btn-icon-wrapper pr-2 opacity-7">
                              <i class="fa fa-info"></i>
                          </span>
                        View details
                    </a>

                    <a href="/teacher/activity?activity=5" class="btn-shadow btn btn-focus">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-info"></i>
                        </span>
                        View done activity
                    </a>

                </div>
            </div>
        </div>

    </li>

    {% endfor %}

</ul>


<!--{% block except %}-->

<!--<li class="list-group-item">-->

<!--    <div class="app-page-title no-margin n-padding">-->
<!--        <div class="page-title-wrapper">-->
<!--            <div class="page-title-heading" style="width: 53%">-->
<!--                <div>-->
<!--                    <h5 class="no-margin mb-2">-->
<!--                        <a href="/teacher/activity?activity={{per.id}}">-->
<!--                            <b>{{per.title|capfirst}}</b>-->
<!--                        </a>-->
<!--                    </h5>-->
<!--                    <div class="page-title-subheading">-->
<!--                        {% if per.rates <= 19 %}-->
<!--                        <div class="mb-2 badge badge-danger">Hard</div>-->
<!--                        {% elif per.rates >= 20 and per.rates <= 39 %}-->
<!--                        <div class="mb-2 badge badge-danger">Hard</div>-->
<!--                        <div class="mb-2 badge badge-warning">Medium</div>-->
<!--                        {% elif per.rates >= 40 and per.rates <= 59 %}-->
<!--                        <div class="mb-2 badge badge-warning">Medium</div>-->
<!--                        {% elif per.rates >= 60 and per.rates <= 79 %}-->
<!--                        <div class="mb-2 badge badge-success">Easy</div>-->
<!--                        <div class="mb-2 badge badge-warning">Medium</div>-->
<!--                        {% elif per.rates >= 80 and per.rates <= 100 %}-->
<!--                        <div class="mb-2 badge badge-success">Easy</div>-->
<!--                        {% endif %}-->
<!--                        <p class="no-margin ">-->
<!--                            &lt;!&ndash;                                per.get_full_name()&ndash;&gt;-->
<!--                            Author, <a href="#"><b>{{per.user_added.get_full_name}}</b></a>-->
<!--                        </p>-->

<!--                        <p class="no-margin">-->
<!--                            <b>{{per.question_type.literal}}</b> Literal,-->
<!--                            <b>{{per.question_type.inferential}}</b> Inferential,-->
<!--                            <b>{{per.question_type.critical}}</b> Critical-->
<!--                        </p>-->

<!--                        <p class="no-margin">-->
<!--                            <b>{{per.question_set}}</b> Questions, <b>{{per.passage_set}}</b> Passages-->
<!--                        </p>-->

<!--                        <div class="f-s text-secondary">-->
<!--                                <span class="{% if per.rates >= 20  %} text-warning {% endif %}">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </span>-->
<!--                            <span class="{% if per.rates >= 40  %} text-warning {% endif %}">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </span>-->
<!--                            <span class="{% if per.rates >= 60  %} text-warning {% endif %}">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </span>-->
<!--                            <span class="{% if per.rates >= 80  %} text-warning {% endif %}">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </span>-->
<!--                            <span class="{% if per.rates >= 100  %} text-warning {% endif %}">-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </span>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="page-title-actions">-->
<!--                <a href="/teacher/activity?activity={{per.id}}" class="btn-shadow mr-3 btn btn-info">-->
<!--                        <span class="btn-icon-wrapper pr-2 opacity-7">-->
<!--                            <i class="fa fa-info"></i>-->
<!--                        </span>-->
<!--                    View details-->
<!--                </a>-->

<!--                <a href="/teacher/activity?group=11" class="btn-shadow btn btn-focus">-->
<!--                        <span class="btn-icon-wrapper pr-2 opacity-7">-->
<!--                            <i class="fa fa-business-time fa-w-20"></i>-->
<!--                        </span>-->
<!--                    Add to task-->
<!--                </a>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</li>-->

<!--{% endblock %}-->
