<ul class="list-group batch_student__already_added" item_count="{{itemCount}}">

    {% for per in batch_student_list %}

    <li class="list-group-item">

        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left">
                    <div class="btn-group">
                        <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                            <img width="42" class="rounded-circle"
                                 src="/static/images/boy.png"
                                 alt="">
                        </a>
                    </div>
                </div>
                <div class="widget-content-left  ml-3 header-user-info">
                    <div class="widget-heading f-sm">
                        <a href="/teacher/batch/student/info?batch_student={{per.id}}">
                            {{per.student.get_full_name}}
                        </a>
                    </div>
                    <p class="no-margin ">
                        <!--                                per.get_full_name()-->
                        Added by, <a href="#"><b>{{per.user_added.get_full_name}}</b></a>
                    </p>
                    <div class="widget-subheading">
                        <div class="f-s text-secondary">
                            <span class="{% if per.rate_percent >= 20  %} text-warning {% endif %}">
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="{% if per.rate_percent >= 40  %} text-warning {% endif %}">
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="{% if per.rate_percent >= 60  %} text-warning {% endif %}">
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="{% if per.rate_percent >= 80  %} text-warning {% endif %}">
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="{% if per.rate_percent >= 100  %} text-warning {% endif %}">
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="widget-content-right header-user-info">

                    <a href="/teacher/activity?activity=5" class="btn-shadow mr-3 btn btn-info">
                          <span class="btn-icon-wrapper pr-2 opacity-7">
                              <i class="fa fa-info"></i>
                          </span>
                        View details
                    </a>

                    <a href="/teacher/activity?activity=5"
                       class="btn-shadow btn btn-focus">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-info"></i>
                        </span>
                        View done activity
                    </a>

                </div>

            </div>
        </div>

    </li>

    {% endfor %}

</ul>
