{% extends "testers_temp/teachers/activity/teachers_literacy_task_base.html" %}

{% load static %}
{% load group_tags %}


{% block inner_content %}

<div class="mb-3 card text-white bg-success">
    <div class="card-header">
        Add Passage
        <div class="btn-actions-pane-right">
            <button class="btn btn-lg btn-light cad_body_state">
                <b><i class="fa fa-angle-up"></i></b>
            </button>
        </div>
    </div>
    <div class="card-body bg-white text-default">
        <form class="needs-validation form_inputs" data-parsley-validate="parsley" novalidate="">

            <input type="hidden" name="type" value="3">
            <input type="hidden" name="activity" value="{{ activity.id }}">
            <input type="hidden" name="assesment" value="{{ assesment.id }}">

            <div class="main-card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Audio Base</h5>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label>
                                On time taken by the child to read a passage is recorded and the number of
                                words that he/she can read per minute is computed based on the tester
                                pronounciation. (Required)
                            </label>
                            <div class="record-speech-controls">


                                <div class="recorder">
                                    <div class="toolbar">
                                        <button type="button" class="js-record button button--record">
                                            <i class="fa fa-microphone" aria-hidden="true"></i>
                                        </button>
                                        <button type="button"
                                                class="js-play button button--play button--disabled">
                                            <i class="fa fa-play" aria-hidden="true"></i></button>
                                        <input type="hidden" required name="audio_blob"/>

                                        {% if assesment.audio %}

                                        <audio controls
                                               class="audio_src hidden"
                                               src="/media/{{ assesment.audio }}">

                                        </audio>

                                        {% endif %}
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="main-card">
                <div class="card-body">
                    <h5 class="card-title">Passage </h5>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Title</label>
                            <input type="text"
                                   value="{{ assesment.title }}"
                                   name="title"
                                   required
                                   class="form-control" i
                                   d="validationCustom01"
                                   placeholder="What is the title of the passage ?">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label>Level of complexity by grade</label>

                            {% if activity.test_type != 1 %}

                            <select class="form-control" name="grade_level_of_complexity" required disabled>
                                <option value="{{activity.group_level_id}}" selected>
                                    {{activity.group_level.name|capfirst}}
                                </option>
                            </select>

                            {% else %}

                            <select class="form-control" name="grade_level_of_complexity" required>
                                {% for per in group_levels %}
                                <option value="{{per.id}}"
                                        {% if activity.group_level_id == per.id %}
                                        selected
                                        {% endif %}
                                >
                                    {{per.name|capfirst}}
                                </option>
                                {% endfor %}
                            </select>

                            {% endif %}

                            <div class="helper mt-1 custom text-primary">
                                <ul>
                                    <li>
                                        Can tell teachers whether students are reading at,
                                        above, or below their grade levels.
                                    </li>
                                    <li>If the child’s raw score in the GST is 0-7, he/she must be given a
                                        passage that
                                        is 3
                                        grade levels below his current level.
                                    </li>
                                    <li>
                                        If the child’s raw score in the GST is 8-13, he/she must be given a
                                        passage that
                                        is 2
                                        grades below his current level.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            <label for="validationCustom01">Body (Required)</label>
                            <textarea name="body" required class="form-control" style="min-height:
                                200px">{{ assesment.body }}</textarea>
                        </div>
                    </div>

                </div>
            </div>


        </form>


        <div class="main-card">
            <div class="card-body no-padding-top">
                <div class="form-row">
                    <div class="col-md-8 mb-3">
                        <form id="save" class="inline" action="/">

                            <button type="submit" aria-haspopup="true" aria-expanded="false"
                                    class="btn-shadow btn-lg btn btn-success">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-plus fa-w-20"></i>
                                            </span>

                                {% if is_update %}
                                Save and Update
                                {% else %}
                                Save
                                {% endif %}
                            </button>
                        </form>

                        <a href="/teacher/activity/manage/home?id={{activity.id}}"
                           aria-haspopup="true"
                           aria-expanded="false"
                           class="btn-shadow btn-lg btn btn-lg btn-secondary add_section" tabindex="-1">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-closed-captioning fa-w-20"></i>
                                            </span>
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}


{% block inner_script %}


<script type="text/javascript" src="{% static 'testers_assets/plugins/recorder.js' %}"></script>
<script type="text/javascript" src="{% static 'testers_assets/scripts/record.js' %}"></script>
<script type="text/javascript" src="{% static 'testers_assets/scripts/save.js' %}"></script>
<script type="text/javascript"
        src="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.js' %}"></script>

{% endblock %}
