{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

<link href="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

<div class="app-main__inner">

        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item" aria-current="page">
                    <a href="/home"><b>Home</b></a>
                </li>

                <li class="active breadcrumb-item" aria-current="page">
                    <b>
                        {{school_profile.name_alias|lower|title}}
                    </b>
                </li>

                <li class="active breadcrumb-item" aria-current="page">
                    <a href="/teacher/activity/list?group={{activity.group_level_id}}">
                        {{activity.group_level.name|capfirst}}
                    </a>
                </li>

                <li class="active breadcrumb-item" aria-current="page">
                    <a href="/teacher/activity?activity={{activity.id}}">
                        Activity
                    </a>
                </li>

                <li class="active breadcrumb-item" aria-current="page">
                    <b>{{activity.title|capfirst}}</b>
                </li>

            </ol>
        </nav>

        {% for message in messages %}

        <div class="alert {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% if message.extra_tags %}
            <strong><i class="icon-exclamation-sign icon"></i> {{ message.extra_tags|title }}, </strong>
            {% endif %}
            {{ message }}
        </div>
        {% endfor %}

        <div class="mb-3 card text-white bg-success">
            <div class="card-header">
                Activity
                <div class="btn-actions-pane-right">
                    <button class="btn btn-lg btn-light cad_body_state">
                        <b><i class="fa fa-angle-up"></i></b>
                    </button>
                </div>
            </div>
            <div class="card-body bg-white text-default">
                <div class="widget-content n-padding">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <h4>
                                    {{activity.title|title}}
                                    {% if assesment %}
                                    - "{{assesment.title|title}}"
                                    {% endif %}
                                </h4>
                            </div>
                            <div class="widget-subheading text-default">
                                Type of Test, <b>{{activity.get_test_type_display}}</b>
                            </div>
                            <div class="widget-subheading text-default">
                                Type of Literacy Task,
                                {% if activity.type_of_literacy is 1 %}
                                <b>Oral Reading Comprehension</b>
                                {% elif activity.type_of_literacy is 2 %}
                                <b>Silent Reading Comprehension</b>
                                {% else %}
                                <b>Listening Comprehension</b>
                                {% endif %}
                            </div>
                            <div class="widget-subheading text-default">
                                Author, <a href="#"><b>Yuan Libres</b></a>
                            </div>

                        </div>
                        <div class="widget-content-right">
                            <div class="d-inline-block dropdown">

                                <a href="/teacher/activity/manage/home?id={{activity.id}}"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                                   class="btn-shadow btn-lg btn btn-lg btn-success add_section" tabindex="-1">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-closed-captioning fa-w-20"></i>
                                            </span>
                                    Back to Passage List
                                </a>


                                <form id="assesment_remove"
                                      action="/teacher/activity/passage/delete"
                                      class="inline"
                                      method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="assesment" value="{{assesment.id}}">
                                    <button class="btn-shadow btn-lg btn btn-lg btn-focus">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-trash fa-w-20"></i>
                                            </span>
                                        Delete
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block inner_content %}


        {% endblock %}

    </div>

{% endblock %}

{% block scripts %}

<script>
        window.define_const("activity_id", "{{ activity.id }}")
        window.define_const("quiz_id", null);
</script>

{% block inner_script %}{% endblock %}


{% endblock %}
