{% extends "testers_temp/teachers/teachers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

<link href="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

<section tab-action="0">
    <div class="app-main__inner">

        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">

                <li class="breadcrumb-item" aria-current="page">
                    <a href="/home"><b>Home</b></a>
                </li>

                <li class="active breadcrumb-item" aria-current="page">
                    <b>
                        {{school_profile.name_alias|lower|title}}
                    </b>
                </li>

                <li class="active breadcrumb-item" aria-current="page">
                    <a href="/teacher/activity/list?group={{activity.group_level_id}}">
                        {{activity.group_level.name|capfirst}}
                    </a>
                </li>

                <li class="active breadcrumb-item" aria-current="page">
                    <a href="/teacher/activity?activity={{activity.id}}">
                        Activity
                    </a>
                </li>

                <li class="active breadcrumb-item" aria-current="page">
                    <b>{{activity.title|capfirst}}</b>
                </li>

            </ol>
        </nav>

        <div class="mb-3 card text-white bg-success">
            <div class="card-header">
                Activity
                <div class="btn-actions-pane-right">
                    <button class="btn btn-light cad_body_state">
                        <b><i class="fa fa-angle-up"></i></b>
                    </button>
                </div>
            </div>
            <div class="card-body bg-white text-default">
                <div class="widget-content n-padding">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <h4>{{activity.title|capfirst}} - "{{assesment.title|capfirst}}"</h4>
                            </div>
                            <div class="widget-subheading text-default">
                                Type of Test, <b>{{activity.get_test_type_display}}</b>
                            </div>
                            <div class="widget-subheading text-default">
                                Type of Literacy Task,
                                {% if activity.type_of_literacy is 1 %}
                                <b>Oral Reading Comprehension</b>
                                {% elif activity.type_of_literacy is 2 %}
                                <b>Silent Reading Comprehension</b>
                                {% else %}
                                <b>Listening Comprehension</b>
                                {% endif %}
                            </div>
                            <div class="widget-subheading text-default">
                                Author, <a href="#"><b>Yuan Libres</b></a>
                            </div>

                        </div>
                        <div class="widget-content-right">
                            <div class="d-inline-block dropdown">

                                <a href="/teacher/activity/manage/home?id={{activity.id}}"
                                   aria-haspopup="true"
                                   aria-expanded="false"
                                   class="btn-shadow btn-lg btn btn-lg btn-focus add_section" tabindex="-1">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-closed-captioning fa-w-20"></i>
                                            </span>
                                    Passage List
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-md-12">

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert2 alert-{{ message.tags }} fade show">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h5>
                        {{ message }}
                    </h5>
                </div>

                {% endfor %}

                {% endif %}


            </div>

        </div>

        <div class="row">

            <div class="col-md-3 mb-3">

                <div class="main-card mb-3 card p-sm">
                    <div class="col">
                        <ul class="nav flex-column">
                            <li class="nav-item-header nav-item">Pages</li>
                            <li class="nav-item">
                                <a href="/teacher/classroom" class="nav-link"><i class="nav-link-icon pe-7s-chat"> </i>
                                    <span><b>Classroom</b></span>
                                </a>
                                <div class="col">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               href="/teacher/classroom/view?group={{activity.group_level.id}}">
                                                <i class="nav-link-icon pe-7s-chat"> </i>
                                                {{activity.group_level.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/teacher/classroom/sections?group={{activity.group_level.id}}"
                                   class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>View Sections</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/teacher/activity/list?group={{activity.group_level.id}}" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <b>Activity</b>
                                </a>

                                <div class="col">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               href="/teacher/activity/manage/home?id={{activity.id}}">
                                                <i class="nav-link-icon pe-7s-chat"> </i>
                                               {{activity.title|capfirst}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </li>
                            <li class="nav-item">
                                <a href="/teacher/activity/passage/add?index={{activity.id}}" class="nav-link">
                                    <i class="nav-link-icon pe-7s-wallet"> </i>
                                    <span>Add New Passage</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">

                <div class="main-card mb-3 card">
                    <div class="card-header bg-success">
                        <i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>
                        Questions
                        <div class="btn-actions-pane-right">
                            <button data-toggle="modal" data-target="#add_question" class="btn-lg btn btn-primary">
                                Add/Create
                            </button>
                            <a class="btn-lg btn-focus active btn btn-shadow">
                                Reset
                            </a>
                        </div>
                    </div>
                    <div class="card-body">

                        <label>
                            Test taker’s comprehension skills (the ability to create meaning) may be gauged by
                            having the child answer five to more questions of varying difficulty based on the
                            graded passage after it has been read.
                        </label>

                        <div class="q_pagination pull-right"></div>

                        <div class="question_list">

                            <div class="jsgrid-q-list"></div>

                        </div>

                        <div class="q_pagination"></div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>

{% endblock %}


{% block outside %}

<div class="modal fade" id="add_question" tabindex="-1" role="dialog" aria-labelledby="add_question_label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="add_question_label">Add Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form class="quiz_form_body" data-parsley-validate="parsley">
                    <div class="position-relative form-group">
                        <label for="exampleEmail" class="">Body/Question</label>
                        <textarea data-min-rows="1"
                                  name="question_body" rows='1'
                                  data-parsley-check_choices="2"
                                  data-parsley-check_if_has_selected
                                  required
                                  class="form-control autoExpand body"></textarea>
                    </div>

                    <div class="position-relative form-group">
                        <select class="form-control question_type" name="type">
                            <option value="0" selected>Literal</option>
                            <option value="1">Inferential (Paghinuha)</option>
                            <option value="2">Critical (Pagsusuri)</option>
                        </select>
                    </div>
                </form>
                <hr>
                <div class="card-body">
                    <h5 class="card-title">Choices/Selections</h5>
                    <fieldset class="position-relative form-group">

                        <div class="position-relative choices form-check">

                            <form class="add_choices_form" data-parsley-validate="parsley">
                                <label class="form-check-label">
                                            <textarea name="question_body" rows='1'
                                                      data-min-rows="1"
                                                      class="form-control form-control-sm autoExpand"
                                                      data-parsley-required="true"></textarea>
                                    <div class="questionaire_choices">
                                        <button type="submit" class="btn btn-primary btn-sm">Add</button>
                                    </div>
                                </label>
                            </form>

                            <div class="frb-group selection_container"></div>
                        </div>

                    </fieldset>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-lg btn-primary quiz_save">Update changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>
       window.define_const("activity_id", "{{ assesment.activity_id }}")
       window.define_const("assesment_id", "{{assesment.id}}");







</script>


<script type="text/javascript" src="{% static 'testers_assets/scripts/questions.js' %}"></script>
<script type="text/javascript"
        src="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.js' %}"></script>


{% endblock %}
