{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:73%">
                <div class="page-title-icon">
                    <i class="pe-7s-diamond icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Batch - {{user_profile.name_alias|lower|title}}
                    <div class="page-title-subheading">
                        The Philippine Informal Reading Inventory (Phil-IRI) was created to provide classroom
                        teachers a tool for measuring and describing reading performance.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <a href="/school/batch/add"
                   class="btn-lg btn-shadow mr-3 btn btn-secondary">
                   <span class="btn-icon-wrapper pr-2 opacity-7">
                       <i class="fa fa-user-plus fa-w-20"></i>
                   </span>Add new batch
                </a>

            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="row">

            <div class="col-md-12">

                <div class="main-card mb-3 card">
                    <div class="card-body">

                        {% if batch %}

                        <ul class="list-group school">

                            {% for per in batch %}

                            <li class="list-group-item">

                                <div class="app-page-title no-margin n-padding">
                                    <div class="page-title-wrapper">
                                        <div class="page-title-heading" style="width: 53%">
                                            <div>
                                                <h4 class="no-margin">
                                                    <a href="/school/classroom/view?group={{per.id}}">
                                                        <b>{{per.name}}</b>
                                                    </a>
                                                </h4>
                                                <div class="page-title-subheading">
                                                    <p class="no-margin"><b>Jan 12 2019</b> to <b>March 02
                                                        2019</b></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="page-title-actions">
                                            <div class="f-m text-success">
                                                         <span class="{% if per.rates >= 20  %} text-warning {% endif %}"><i
                                                                 class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 40  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 60  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 80  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                        <span class="{% if per.rates >= 100  %} text-warning {% endif %}"><i
                                                                class="fa fa-star"></i></span>
                                                    </div>
                                        </div>
                                    </div>
                                </div>

                            </li>


                            {% endfor %}

                        </ul>

                        {% else %}

                        <div class="app-page-title no-data">
                            <div class="text-center"><h3>No Display</h3>
                                <div class="page-title-subheading">
                                    We can't find any information or source
                                </div>
                            </div>
                        </div>

                        {% endif %}

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script src="{% static 'testers_assets/classroom/misc.js' %}"></script>

{% endblock %}
