{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading" style="width:73%">
                <div class="page-title-icon">
                    <i class="pe-7s-add-user icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Add Batch - {{user_profile.name_alias|lower|title}}
                    <div class="page-title-subheading">
                        The Philippine Informal Reading Inventory (Phil-IRI) was created to provide classroom teachers a
                        tool for measuring and describing reading performance.

                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">{{user_profile.access_code}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">

            <div class="col-lg-12">

                <div class="main-card mb-3 card">
                <div class="card-body">

                    {% if  validation_error %}

                    <div class="alert alert-warning fade show" role="alert"><h5>Validation Error</h5>
                        <p class="mb-0">{{validation_error}}</p>
                    </div>

                    {% endif %}

                    <div class="col-lg-6">

                        <form data-parsley-validate method="post" action="/school/batch/add/request">
                            {% csrf_token %}
                            <div class="position-relative form-group">
                                <label for="name" class="">Name</label>
                                <span class="red">*</span>
                                <input name="name" required id="name"
                                       value="{{request.name}}"
                                       placeholder="e.g. S.Y. 2018-2019"
                                       type="text"
                                       class="form-control">
                            </div>

                            <div class="position-relative form-group">
                                <label class="">
                                    Start Date
                                    <span class="red">*</span>
                                </label>
                                <input name="start_date"
                                       data-parsley-date_is_before="#end_date"
                                       data-parsley-remote
                                       data-parsley-remote-validator="check_date_batch"
                                       data-parsley-remote-message="Not available"
                                       required
                                       type="date"
                                       value="{{request.start_date}}"
                                       id="start_date" class="form-control">
                            </div>

                            <div class="position-relative form-group">
                                <label class="">
                                    End Date
                                    <span class="red">*</span>
                                </label>
                                <input

                                       data-parsley-remote
                                       data-parsley-remote-validator="check_date_batch"
                                       data-parsley-remote-message="Not available"
                                       data-parsley-date_is_after="#start_date"
                                       value="{{request.end_date}}"
                                       name="end_date" id="end_date" required type="date" class="form-control">
                            </div>



                            <div class="position-relative form-group">
                                <label class="">Description</label>
                                <textarea name="description"
                                          value="{{request.description}}"
                                          style="height:150px"  class="form-control"></textarea>
                            </div>

                            <button name="redirect_to"
                                    value="0"
                                    class="mt-1 btn btn-secondary" type="submit">Save and view list</button>
                            <button
                                    value="1"
                                    name="redirect_to"
                                    class="mt-1 btn btn-secondary" type="submit">Save and add more</button>
                        </form>

                    </div>

                </div>
            </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
