{% extends "testers_temp/testers_base.html" %}

{% load static %}
{% load group_tags %}



{% block styles %}

    <link type="text/css" href="{% static 'node_modules/jquery-confirm/dist/jquery-confirm.min.css' %}" rel="stylesheet">

{% endblock %}



{% block content %}

    <section tab-action="-1" class="show">
        <div class="app-main__inner">

            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading" style="width: 70%">
                        <div class="page-title-icon">
                            <i class="pe-7s-study icon-gradient bg-mean-fruit">
                            </i>
                        </div>
                        <div>
                            <span contenteditable="true" id="title">{{ data.title }}</span>
                            <div class="page-title-subheading" contenteditable="true">
                                {{ data.description }}
                            </div>
                        </div>
                    </div>
                    <div class="page-title-actions">
                        <div class="d-inline-block dropdown">

                            <button type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"
                                    class="btn-shadow dropdown-toggle btn btn-primary">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                                Add Section
                            </button>
                            <div tabindex="-1" role="menu" id="add_section" aria-hidden="true"
                                 class="dropdown-menu dropdown-menu-right unset-right"
                                 x-placement="bottom-start">

                                <a href="/activity/oral?index={{ activity_id }}&type=1" tabindex="0"
                                   class="dropdown-item">Oral
                                    Reading
                                </a>
                                <a href="/activity/silent?index={{ activity_id }}&type=2"
                                   tabindex="1" class="dropdown-item">
                                    Silent Reading
                                </a>
                                <a href="/activity/listening?index={{ activity_id }}&type=3"
                                   tabindex="3" class="dropdown-item">
                                    Listening Comprehension
                                </a>

                            </div>
                            <button aria-haspopup="true" aria-expanded="false"
                                    class="btn-shadow btn btn-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-eye fa-w-20"></i>
                                            </span>
                                Preview
                            </button>

                            {% if is_task == 0 %}

                                <a href="/groups/info?index={{ activity.group_level.id }}#activity"
                               aria-haspopup="true"
                               aria-expanded="false"
                               class="btn-shadow btn btn-secondary">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-window-close fa-w-20"></i>
                                            </span>
                                Back
                            </a>



                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="main-card col-md-12 card">
                    <ul class="list-group list-group-flush">

                        <div class="list-assesment grid-cus"></div>

                    </ul>
                </div>
            </div>

        </div>
    </section>

{% endblock %}




{% block scripts %}

    <script>
        window.define_const("activity_id", "{{ activity_id }}");
    </script>

    <script src="{% static 'testers_assets/scripts/main_index.js' %}"></script>
    <script src="{% static 'node_modules/jquery-confirm/dist/jquery-confirm.min.js' %}"></script>


{% endblock %}
