{% extends "testers_temp/testers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

    <link href="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <section tab-action="0">


        <div class="app-main__inner">

            <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">
                    <a href="/activity?id={{activity_id}}">{{activity_title|lower|capfirst }}</a>
                </li>
                <li class="breadcrumb-item active">
                    <b>
                        {{ assesment_type }} comprehension
                    </b>
                </li>
            </ol>
        </nav>

            <div class="app-page-title page-title-a">

                <div class="page-title-wrapper">
                    <div class="page-title-heading" style="width: 70%">
                        <div class="page-title-icon">
                            <i class="pe-7s-help1 icon-gradient bg-mean-fruit">
                            </i>
                        </div>
                        <div>
                            <span><h4>Oral Reading</h4></span>
                            <div class="page-title-subheading more">
                                the Phil-IRI may be used to describe decoding
                                and word recognition, fluency and comprehension. The student’s performance in
                                decoding
                                (the ability to read isolated words using phonics knowledge) and word
                                recognition (the ability
                                to automatically identify words on sight) is measured through a Reading Miscue
                                Inventory
                                (Phil-IRI Form 3A and 3B: Grade Level Passage Rating Sheet). The child is asked
                                to read a
                                passage and each word read incorrectly is noted and marked. In terms of fluency
                                (the ability
                                to read with speed, accuracy and prosody), the time taken by the child to read a
                                passage is
                                recorded and the number of words that he/she can read per minute is computed.
                                Furthermore,
                                a qualitative description of the child’s manner of reading is described via a
                                checklist. Finally,
                                test taker’s comprehension skills (the ability to create meaning) may be gauged
                                by having the
                                child answer five to eight questions of varying difficulty based on the graded
                                passage after it
                                has been read.
                            </div>
                        </div>
                    </div>


                    <div class="page-title-actions">
                        <div class="d-inline-block dropdown">

                            <form id="save">

                                <button type="submit" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow btn btn-success">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-plus fa-w-20"></i>
                                            </span>
                                    Add/View Question
                                </button>

                                <a href="/activity?id={{ activity_id }}" aria-haspopup="true" aria-expanded="false"
                                   class="btn-shadow btn btn-secondary add_section" tabindex="-1">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-closed-captioning fa-w-20"></i>
                                            </span>
                                    Cancel
                                </a>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <form class="needs-validation form_inputs" data-parsley-validate="parsley" novalidate="">

                <input type="hidden" name="type" value="1">
                <input type="hidden" name="activity" value="{{ activity_id }}">
                <input type="hidden" name="assesment" value="{{ assesment_id }}">

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Passage </h5>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Title</label>
                                <input type="text"
                                       value="{{ assesment.title }}"
                                       name="title"
                                       required
                                       class="form-control" i
                                       d="validationCustom01"
                                       placeholder="What is the title of the passage ?">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-8 mb-3">
                                <label for="validationCustom01">Body (Required)</label>
                                <textarea name="body" required class="form-control" style="min-height:
                                200px">{{ assesment.body }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>


                {#                <div class="mb-3 card">#}
                {#                    <div class="card-header-tab card-header">#}
                {#                        #}
                {#                        <ul class="nav">#}
                {#                            <li class="nav-item">#}
                {#                                <a data-toggle="tab" href="#tab-eg5-0" class="nav-link show active">#}
                {#                                    Current audio#}
                {#                                </a>#}
                {#                            </li>#}
                {#                            <li class="nav-item"><a data-toggle="tab" href="#tab-eg5-1" class="nav-link#}
                {#                            show">Record new</a>#}
                {#                            </li>#}
                {#                            <li class="nav-item"><a data-toggle="tab" href="#tab-eg5-2" class="nav-link show">Tab 3</a>#}
                {#                            </li>#}
                {#                        </ul>#}
                {##}
                {##}
                {#                    </div>#}
                {#                    <div class="card-body">#}
                {#                        <div class="tab-content">#}
                {#                            <div class="tab-pane show active" id="tab-eg5-0" role="tabpanel">#}
                {##}
                {#                            </div>#}
                {#                            <div class="tab-pane show" id="tab-eg5-1" role="tabpanel">#}
                {##}
                {#                            </div>#}
                {#                            <div class="tab-pane show" id="tab-eg5-2" role="tabpanel">#}
                {##}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                </div>#}

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Audio Base</h5>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label>
                                    On time taken by the child to read a passage is recorded and the number of
                                    words that he/she can read per minute is computed based on the tester
                                    pronounciation. (Required)
                                </label>
                                <div class="record-speech-controls">


                                    <div class="recorder">
                                        <div class="toolbar">
                                            <button type="button" class="js-record button button--record">
                                                <i class="fa fa-microphone" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="js-play button button--play button--disabled">
                                                <i class="fa fa-play" aria-hidden="true"></i></button>
                                            <input type="hidden" required name="audio_blob"/>

                                            {% if assesment.audio %}

                                                <audio controls class="audio_src hidden"
                                                       src="/media/{{ assesment.audio }}">
                                                </audio>

                                            {% endif %}
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>

{% endblock %}

{% block scripts %}

    <script>
        window.define_const("activity_id", "{{ activity_id }}")
        window.define_const("quiz_id", null);

    </script>

    <script type="text/javascript" src="{% static 'testers_assets/plugins/recorder.js' %}"></script>
    <script type="text/javascript" src="{% static 'testers_assets/scripts/record.js' %}"></script>
    <script type="text/javascript" src="{% static 'testers_assets/scripts/save.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.js' %}"></script>


{% endblock %}
