{% extends "testers_temp/testers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

<link href="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

<section tab-action="0">
    <div class="app-main__inner">

        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">
                    <a href="/activity?id={{activity_id}}">{{activity_title|lower|capfirst }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="
                    /activity/{{assesment_type|lower|cut:" "}}?index={{activity_id}}&type={{ model.type }}&assesment={{ assesment_id }}">
                        {{assesment_type}}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <b>Multiple choices</b>
                </li>
            </ol>
        </nav>

        <div class="row">


            <div class="col-md-12">

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert2 alert-{{ message.tags }} fade show">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h5>
                        {{ message }}
                    </h5>
                </div>

                {% endfor %}

                {% endif %}


            </div>

        </div>

        <div class="main-card mb-3 card">
            <div class="card-header"><i class="header-icon lnr-license icon-gradient bg-plum-plate"> </i>
                Questions
                <div class="btn-actions-pane-right">
                    <button data-toggle="modal" data-target="#add_question" class="btn-lg btn-pill btn-wide active
                         btn btn-outline-alternate">
                        Add/Create
                    </button>
                    <a class="btn-lg btn-secondary active btn btn-shadow">
                        Reset
                    </a>
                </div>
            </div>
            <div class="card-body">

                <label>
                    Test taker’s comprehension skills (the ability to create meaning) may be gauged by
                    having the child answer five to more questions of varying difficulty based on the
                    graded passage after it has been read.
                </label>

                <div class="q_pagination pull-right"></div>

                <div class="question_list">

                    <div class="jsgrid-q-list"></div>

                </div>

                <div class="q_pagination"></div>

            </div>
        </div>

    </div>
</section>

{% endblock %}


{% block outside %}

<div class="modal fade" id="add_question" tabindex="-1" role="dialog" aria-labelledby="add_question_label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add_question_label">Add Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form class="quiz_form_body" data-parsley-validate="parsley">
                    <div class="position-relative form-group">
                        <label for="exampleEmail" class="">Body/Question</label>
                        <textarea data-min-rows="1"
                                  name="question_body" rows='1'
                                  data-parsley-check_choices="2"
                                  data-parsley-check_if_has_selected
                                  required
                                  class="form-control autoExpand body"></textarea>
                    </div>

                    <div class="position-relative form-group">
                         <select class="form-control question_type" name="type">
                            <option value="0" selected>Literal</option>
                            <option value="1">Inferential (Paghinuha)</option>
                            <option value="2">Critical (Pagsusuri)</option>
                         </select>
                    </div>
                </form>
                <hr>
                <div class="card-body">
                    <h5 class="card-title">Choices/Selections</h5>
                    <fieldset class="position-relative form-group">

                        <div class="position-relative choices form-check">

                            <form class="add_choices_form" data-parsley-validate="parsley">
                                <label class="form-check-label">
                                            <textarea name="question_body" rows='1'
                                                      data-min-rows="1"
                                                      class="form-control form-control-sm autoExpand"
                                                      data-parsley-required="true"></textarea>
                                    <div class="questionaire_choices">
                                        <button type="submit" class="btn btn-primary btn-sm">Add</button>
                                    </div>
                                </label>
                            </form>

                            <div class="frb-group selection_container"></div>
                        </div>

                    </fieldset>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary quiz_save">Update changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>
       window.define_const("activity_id", "{{ activity_id }}")
       window.define_const("assesment_id", "{{assesment}}");


</script>


<script type="text/javascript" src="{% static 'testers_assets/scripts/questions.js' %}"></script>
<script type="text/javascript"
        src="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.js' %}"></script>


{% endblock %}
