{% extends "testers_temp/testers_base.html" %}

{% load static %}
{% load group_tags %}


{% block styles %}

    <link href="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <section tab-action="0">
        <div class="app-main__inner">

            <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">
                    <a href="/activity?id={{activity_id}}">{{activity_title|lower|capfirst }}</a>
                </li>
                <li class="breadcrumb-item active">
                    <b>
                        {{ assesment_type }} comprehension
                    </b>
                </li>
            </ol>
        </nav>

            <div class="app-page-title page-title-a">
                <div class="page-title-wrapper">
                    <div class="page-title-heading" style="width: 70%">
                        <div class="page-title-icon">
                            <i class="pe-7s-help1 icon-gradient bg-mean-fruit">
                            </i>
                        </div>
                        <div>
                            <span><h4>Silent Reading</h4></span>
                            <div class="page-title-subheading more">
                                the Phil-IRI may be used to describe
                                reading speed and comprehension. The student’s reading speed is measured by
                                the time it takes the child to read each passage completely. Silent reading
                                comprehension is
                                measured by asking the student to answer five to eight questions of varying difficulty
                                after a
                                passage has been read.
                            </div>
                        </div>
                    </div>


                    <div class="page-title-actions">
                        <div class="d-inline-block dropdown">

                            <form id="save">

                                <button type="submit" aria-haspopup="true" aria-expanded="false"
                                        class="btn-shadow btn btn-success">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-plus fa-w-20"></i>
                                            </span>
                                    Add/View Question
                                </button>

                                <a href="/activity?id={{ activity_id }}" aria-haspopup="true" aria-expanded="false"
                                   class="btn-shadow btn btn-secondary add_section" tabindex="-1">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-closed-captioning fa-w-20"></i>
                                            </span>
                                    Cancel
                                </a>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <form class="needs-validation form_inputs" data-parsley-validate="parsley" novalidate="">

                <input type="hidden" name="type" value="{{ request_pars.type }}">
                <input type="hidden" name="activity" value="{{ activity_id }}">
                <input type="hidden" name="assesment" value="{{ assesment_id }}">

                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Passage </h5>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">Title</label>
                                <input type="text"
                                       value="{{ assesment.title }}"
                                       name="title"
                                       required
                                       class="form-control" i
                                       d="validationCustom01"
                                       placeholder="What is the title of the passage ?">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-8 mb-3">
                                <label for="validationCustom01">Body (Required)</label>
                                <textarea name="body" required class="form-control" style="min-height:
                                200px">{{ assesment.body }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>

{% endblock %}

{% block scripts %}

    <script>
        window.define_const("activity_id", "{{ activity_id }}")
        window.define_const("quiz_id", null);

    </script>

    <script type="text/javascript" src="{% static 'testers_assets/scripts/save.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'bower_components/jquery-confirm2/dist/jquery-confirm.min.js' %}"></script>


{% endblock %}
