@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

.fixed-sidebar .app-main .app-main__outer {
    z-index: 9;
    padding: 23px;
    margin: 0 50px;
}

.app-main__outer section {
    /*display: none;*/
}

.app-main__outer section.show {
    display: block;
    padding-bottom: 25px
}

.dropdown-menu-right.unset-right {
    right: unset !important;
}

.record-speech-controls {
    padding: 23px;
}

.record-speech-controls #main {
    border-radius: 100%;
    width: 70px;
    height: 70px;

}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.record-speech-controls .waveform {
    position: relative;
    padding: 4rem 0;
}

.record-speech-controls .waveform__canvas {
    width: 100%;
    height: 40rem;
}


.record-speech-controls .button {
    transition: background .4s ease-in-out, color .4s ease-in-out;
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 0 1rem;
    padding: 0;
    background: #ffffff;
    border-radius: 50%;
    outline: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.record-speech-controls .button:not(.button--active) {
    border: 1px solid;
}

.record-speech-controls .button--record::before {
    animation: spin 4s linear infinite;
    transition: opacity .4s ease-in-out;
    content: "";
    position: absolute;
    top: 3px;
    left: 1px;
    width: 5.5rem;
    height: 5.5rem;
    margin: -.4rem;
    padding: -.4rem;
    background: transparent;
    opacity: 0;
    border-radius: 50%;
    border: 0.4rem solid rgba(46, 116, 143, 0.8);
    border-top-color: rgba(46, 116, 143, 0);
}

.record-speech-controls .button--record.button--active {
    background: #ED6A5F;
    color: #ffffff;
}

.record-speech-controls .button--record.button--active::before {
    opacity: 1;
}

.record-speech-controls .button--play {
    width: 50px;
    height: 50px;
    font-size: 20px;
    vertical-align: inherit;
    vertical-align: inherit;
}


.record-speech-controls .button--play.button--active {
    background: #49F1D5;
    color: #ffffff;
}

.record-speech-controls .button--disabled {
    opacity: .2;
    pointer-events: none;
    cursor: not-allowed;
}

.record-speech-controls .audio {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: 0;
}

.record-speech-controls .message {
    transtion: opacity .4s ease-in-out;
    padding: 1rem 2rem;
    background: #ED6A5F;
    opacity: 0;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    line-height: 1.5;
}

.record-speech-controls .message--visible {
    opacity: 1;
}

.recorder, .no_display {
    text-align: center;
}

.card-body .inner_content {
    padding: 22px;
}

.form-check-label {
    display: block;
}

textarea.autoExpand {
    overflow: hidden;
    resize: none;
}

.questionaire_choices {
    padding-top: 6px;
}

.choices.form-check {
    padding-left: 0px;
}


.frb-group {
    margin: 15px 0;
}

.frb ~ .frb {
    margin-top: 15px;
}

.frb input[type="radio"]:empty,
.frb input[type="checkbox"]:empty {
    display: none;
}

.frb input[type="radio"] ~ label:before,
.frb input[type="checkbox"] ~ label:before {
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 15px;
    font-size: 22px;
}

.frb input[type="radio"]:checked ~ label:before,
.frb input[type="checkbox"]:checked ~ label:before {
    content: '\f058';
}

.frb input[type="radio"] ~ label,
.frb input[type="checkbox"] ~ label {
    position: relative;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.frb input[type="radio"] ~ label:focus,
.frb input[type="radio"] ~ label:hover,
.frb input[type="checkbox"] ~ label:focus,
.frb input[type="checkbox"] ~ label:hover {
    box-shadow: 0px 0px 3px #333;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
    color: #fafafa;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
    background-color: #f2f2f2;
}

.frb.frb-default input[type="radio"]:checked ~ label,
.frb.frb-default input[type="checkbox"]:checked ~ label {
    color: #333;
}

.frb.frb-primary input[type="radio"]:checked ~ label,
.frb.frb-primary input[type="checkbox"]:checked ~ label {
    background-color: #337ab7;
}

.frb.frb-success input[type="radio"]:checked ~ label,
.frb.frb-success input[type="checkbox"]:checked ~ label {
    background-color: #5cb85c;
}

.frb.frb-info input[type="radio"]:checked ~ label,
.frb.frb-info input[type="checkbox"]:checked ~ label {
    background-color: #5bc0de;
}

.frb.frb-warning input[type="radio"]:checked ~ label,
.frb.frb-warning input[type="checkbox"]:checked ~ label {
    background-color: #f0ad4e;
}

.frb.frb-danger input[type="radio"]:checked ~ label,
.frb.frb-danger input[type="checkbox"]:checked ~ label {
    background-color: #d9534f;
}

.frb input[type="radio"]:empty ~ label span,
.frb input[type="checkbox"]:empty ~ label span {
    display: inline-block;
}

.frb input[type="radio"]:empty ~ label span.frb-title,
.frb input[type="checkbox"]:empty ~ label span.frb-title {
    font-size: 16px;
    font-weight: 700;
    margin: 13px 5px 5px 50px;
}

.frb input[type="radio"]:empty ~ label span.frb-description,
.frb input[type="checkbox"]:empty ~ label span.frb-description {
    font-weight: normal;
    font-style: italic;
    color: #999;
    margin: 5px 5px 5px 50px;
}

.frb input[type="radio"]:empty:checked ~ label span.frb-description,
.frb input[type="checkbox"]:empty:checked ~ label span.frb-description {
    color: #fafafa;
}

.frb.frb-default input[type="radio"]:empty:checked ~ label span.frb-description,
.frb.frb-default input[type="checkbox"]:empty:checked ~ label span.frb-description {
    color: #999;
}

.frb ~ .frb {
    margin: 0
}

.question_remove {
    display: inline-block;
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 0 1px 0 #fff;
    float: right;
    background: transparent;
    cursor: pointer;
}

.parsley-errors-list li {margin-top: 6px}

.question_list .q_choices
{
    padding: 10px;
}

.question_list .custom-control-label
{
    margin-bottom: 14px;
}

.question_list .jsgrid-grid-header,
.question_list .jsgrid-grid-body
{
    border: none;
}

@keyframes yellowfade {
  from {
    background: #ffffcb;
  }
  to {
    background: transparent;
  }
}

div.item-highlight {
  animation: yellowfade 1s;
}

.alert2.alert-error
{
    color: #71132a;
    background-color: #f7d3dc;
    border-color: #f4c2ce;
}

.grid-cus .jsgrid-grid-body,
.grid-cus .jsgrid-cell
{
    border: none;
}

.grid-cus .jsgrid-header-scrollbar
{
    display: none;
}

.no-margin { margin: 0 }

.app-page-title .page-title-icon
{
    box-shadow : inherit;
}

.table-view td
{
    padding: 0px 20px 0px 20px;
}

.page-title-a { margin: 0px 0px 30px }
.hidden {display: none}
.no-width { width: unset !important; }

.widget-a1 .widget-content-left {
    margin: 13px;
}
.widget-a1 .widget-content-right
{
    margin-left: unset;
}

.student_activity .jsgrid-grid-body
{
    border: none;
}

.student_activity .jsgrid-grid-body tbody
{
    display: flex;
    flex-wrap: wrap;
}

.student_activity .jsgrid-grid-header
{
    display: none;
}
.disable_link, .disable_link:hover, .disable_link:active
{
    color : inherit;
    text-decoration: none;
}

.card-activity button
{
    width: 100%;
    border: none;
    cursor: pointer;
}

.card-activity .widget-heading
{
    text-align: left;
}

.text-center {
    text-align : center;
    width: 100%;
}

.activity_task .title
{
    font-size: 56px;
}

.activity_task .intro .widget-content .widget-content-wrapper
{
    display : block;
}

.activity_task .spinner .icon-large
{
    font-size: 100px;
    position: fixed;
    top: 38%;
    /* text-align: center; */
    left: 45%;
}

.activity_task .spinner
{
    position: fixed;
    width: 100%;
    height: 100%;
}

.activity_task .passage
{
    font-family: "Comic Sans MS" , "Comic Sans" , cursive;
    line-height : 15px;
}

.activity_task .passage .card-title
{
    padding: 20px;
}

.activity_task .passage .card-body .js-play
{
    height : 150px;
    width: 150px;

}
.activity_task .passage .card-body .js-play
{
    font-size: 73px;
    text-align: center;
}

.activity_task .passage .card-body .js-play i.fa-play
{
    position: absolute;
    top: 25%;
    left: 33%;
}

.activity_task .passage .card-body .record-speech-controls
{
    padding: 0px;
}

.activity_task .question .card-body h3,
.activity_task .question .card-body h2,
.activity_task .question .card-body h1,
.activity_task .question .card-body h4,
.activity_task .question .card-body h5,
.activity_task .question .pages
{
    display: inline;
}


.activity_task .question .header-title
{
    text-transform : capitalize;
    font-size: 23px;
}

.score_card .header-title
{
    text-transform : capitalize;
    font-size: 25px;
    text-align: center;
}

.score_card .card-body p
{
    text-indent : 34px;
}

.activity_task .question .frb input[type="radio"]:empty ~ label span.frb-description,
.activity_task .question .frb input[type="checkbox"]:empty ~ label span.frb-description
{
     font-style: normal;
     font-size: 21px;
     color: inherit;
}

.highlight {
    color : red
}
.underline {
   text-decoration: underline;
}
.bold,
.nav.custom .nav-link.active
{
    font-weight:bold
}


.score_card .questions td.icon
{
   width: 43px;
   font-size: 22px;
}

.of_icon { line-height : 1 }
.student_activity {
    min-height : 122px;
}

.full-width { width: 100% }

.app-page-title.no-data
{
    margin: 0;
}

.color-black { color : black !important }

.student_activity .jsgrid-nodata-row
{
    width: 100%;
}

.student_activity .jsgrid-nodata-row .jsgrid-cell
{
    width: 1%
}

.no-border {
    border : none !important
}
.custom p
{
    color : inherit;
}

.no-padding
{
    padding: inherit !important;
}
.no-shadow { box-shadow:none }
.no-width { width: inherit }

.w-90{ width: 90% }
.n-padding { padding:0 }
.f-m { font-size : 24px }
.f-s { font-size : 18px }
.f-xs { font-size: 13px}
.f-sm { font-size:16px }

.helper.custom { font-size:12px }

.no-p-m-b
{
    margin: inherit !important;
    padding: inherit !important;
    border: none !important;
    margin-right: inherit !important;
    margin-left:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}
.table-view .font-icon-wrapper.font-icon-lg
{
    width: 120px;
}

.link-normal
{
    color : inherit;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success,
input.form-control.parsley-success:focus,
select.form-control.parsley-success:focus,
textarea.form-control.parsley-success:focus
{
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error,
input.form-control.parsley-error:focus,
select.form-control.parsley-error:focus,
textarea.form-control.parsley-error:focus
{
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    color: #B94A48;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}
.red { color: red }
.list-group.school .page-title-icon,
.page-title-icon.text-icon
{
    background-color: #6c757d;
    display: initial;
}

.teacher.app-container .list-group.teacher .page-title-icon,
.teacher.app-container .page-title-icon.text-icon
{
    background-color: #3ac47d;
    display: initial;
}

.page-title-icon .roman-numeric
{
    position: relative;
    top: -8px;
}
.overlay-spinner
{
    display:none;
}
.overlay-spinner.show .icon
{
    font-size:54px;
    display: table;
    width: 100%;
    height: 100%;
}
.overlay-spinner.show .fa
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.overlay-spinner.show
{
    width: 100%;
    height: 100%;
    display: block;
    background: #6c757d42;
    position: absolute;
    /* margin: 31px; */
    top: 0;
    left: 0;
    z-index: 1;
}

.p-sm { padding: 13px }

.app-header.bg-success .dropdown-item.active, .dropdown-item:active
{
    background-color : #3ac47d;
}
.p-15
{
    padding:15px;
}
.p-28
{
    padding:28px;
}
.flex-wrap {
    display: flex
}
.widget-a1.custom .widget-content-left
{
    margin:0;
}
.widget-a1.custom
.widget-content-left
.font-icon-wrapper.font-icon-lg
{
    margin-bottom: 0;
    background: none;
    color: #3f6ad8;
    border: none;
}

.widget-a1.custom
.widget-content-left
.font-icon-wrapper.font-icon-lg
.fa-star
{
    font-size: 55px;
    color: #4d6cb926;
    POSITION: absolute;
    left: 0px;
    top: 4px;
}

.selectize-control.movies .selectize-dropdown [data-selectable] {
	border-bottom: 1px solid rgba(0,0,0,0.05);
	height: 60px;
	position: relative;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding: 10px 10px 10px 60px;
}
.selectize-control.movies .selectize-dropdown [data-selectable]:last-child {
	border-bottom: 0 none;
}
.selectize-control.movies .selectize-dropdown .by {
	font-size: 11px;
	opacity: 0.8;
}
.selectize-control.movies .selectize-dropdown .by::before {
	content: 'by ';
}
.selectize-control.movies .selectize-dropdown .name {
	font-weight: bold;
	margin-right: 5px;
}
.selectize-control.movies .selectize-dropdown .description {
	font-size: 12px;
	color: #a0a0a0;
}
.selectize-control.movies .selectize-dropdown .actors,
.selectize-control.movies .selectize-dropdown .description,
.selectize-control.movies .selectize-dropdown .title {
	display: block;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.selectize-control.movies .selectize-dropdown .actors {
	font-size: 10px;
	color: #a0a0a0;
}
.selectize-control.movies .selectize-dropdown .actors span {
	color: #606060;
}
.selectize-control.movies .selectize-dropdown img {
	height: 60px;
	left: 10px;
	position: absolute;
	border-radius: 3px;
	background: rgba(0,0,0,0.04);
}
.selectize-control.movies .selectize-dropdown .meta {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 10px;
}
.selectize-control.movies .selectize-dropdown .meta li {
	margin: 0;
	padding: 0;
	display: inline;
	margin-right: 10px;
}
.selectize-control.movies .selectize-dropdown .meta li span {
	font-weight: bold;
}
.selectize-control.movies::before {
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	content: ' ';
	z-index: 2;
	position: absolute;
	display: block;
	top: 12px;
	right: 34px;
	width: 16px;
	height: 16px;
	background: url(images/spinner.gif);
	background-size: 16px 16px;
	opacity: 0;
}
.selectize-control.movies.loading::before {
	opacity: 0.4;
}


.radiobtn {
  position: relative;
  display: block;
}
.radiobtn label {
  width: auto;
  min-width:104px;
  display: block;
  background: #3ac47d85;
  color: #444;
  border-radius: 5px;
  padding: 5px 37px 5px 20px;
  border: 2px solid #3ac47d;
  margin-bottom: 5px;
  cursor: pointer;
}
.radiobtn label:after, .radiobtn label:before {
  content: "";
  position: absolute;
  right: 11px;
  top: 8px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: #3ac47d;
}
.radiobtn label:before {
  background: transparent;
  -webkit-transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  width: 0;
  height: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}
.radiobtn input[type="radio"] {
  display: none;
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.radiobtn input[type="radio"]:checked + label {
  background: #fdcb77;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  border-color: #fcae2c;
}
.radiobtn input[type="radio"]:checked + label:after {
  background: #fcae2c;
}
.radiobtn input[type="radio"]:checked + label:before {
  width: 20px;
  height: 20px;
}

@-webkit-keyframes blink {
  0% {
    background-color: #fdcb77;
  }
  10% {
    background-color: #fdcb77;
  }
  11% {
    background-color: #fdd591;
  }
  29% {
    background-color: #fdd591;
  }
  30% {
    background-color: #fdcb77;
  }
  50% {
    background-color: #fdd591;
  }
  45% {
    background-color: #fdcb77;
  }
  50% {
    background-color: #fdd591;
  }
  100% {
    background-color: #fdcb77;
  }
}

@keyframes blink {
  0% {
    background-color: #fdcb77;
  }
  10% {
    background-color: #fdcb77;
  }
  11% {
    background-color: #fdd591;
  }
  29% {
    background-color: #fdd591;
  }
  30% {
    background-color: #fdcb77;
  }
  50% {
    background-color: #fdd591;
  }
  45% {
    background-color: #fdcb77;
  }
  50% {
    background-color: #fdd591;
  }
  100% {
    background-color: #fdcb77;
  }
}
.radio_container { display:inline-flex }
.not-visible { visibility: hidden }
.alert-success.custom { border-left: 10px solid #00813e; }
.alert-danger.custom { border-left: 10px solid #ff0040 }
.alert-warning.custom { border-left: 10px solid #ffb600 }
.alert-info.custom { border-left: 10px solid #00a3ff }

.form-control:disabled
{
    background-color: #cacaca;
    color: #0000006b;
    font-weight: 600;
}

.no-padding-top { padding-top:0 }

.modal-header-alert
{
    display : none;
}

.modal-header-alert.show
{
    display:flex;
}

.hide { display:none };
.f-right : { float: right };
.close.custom {
   float: none;
}
.header-action { margin-right: 18px }
.header-action button
{
    padding: 1rem 1px 0px 0px;
    background-color: transparent;
    border: 0;
    appearance: none;
    font-size: 22px;
    vertical-align : top;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    margin: -1rem -1rem -1rem auto;
    opacity : .5;
    cursor: pointer;
}

.full-height { height: 100% }
.fullscreen
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.modal-footer.absolute {

    position: absolute;
    bottom: 0;
    width: 100%;

}

.fullscreen .full-sceen-footer
{
    position: relative;
}



.fullscreen .x-margin-bottom { margin: 0 }

.x-margin-bottom {
    margin-bottom : 57px;
}

.modal-header-alert .widget-content,
.modal-header .app-page-title
{
    width: 100%;
}

.modal .modal-dialog {
    z-index:9999;
    overflow:hidden;
}
 .c-col
{
    width: 100%;
    max-width: 100%;
    flex: none;

}

.show_when_fullscreen { display:none !important}
.fullscreen .hide_when_fullscreen { display:none !important}
.fullscreen .show_when_fullscreen { display : block !important}

.border-right { 1px solid green }

.full-with-not-fullscreen {
    flex:none;
    max-width:100%;
}

.fullscreen .f-20-fullscreen { font-size : 20px }

.fullscreen .col-md-6.full-with-not-fullscreen {
    flex: 0 0 50%;
    max-width: 50%;
}

.fullscreen .col-md-4.c-col
{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    border-right: 1px solid #d4d4d4;
}

.fullscreen .scrollable
{
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

.fullscreen .col-md-8.c-col
{
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.separator-blue
{
   border-bottom: 7px solid steelblue;
}

.separator-green
{
    border-bottom: 7px solid #3ac47d;
}

.separator-green-top
{
    border-top: 7px solid #3ac47d;
}

.bg-light-warning
{
    background-color:#f7b9242b !important;
}

.bg-light-danger
{
   background-color:#ffb5c76b !important;
}

.bg-light-info
{
   background-color:#24f7e92b  !important;
}

.fright { float:right }


@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
.more-pens {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 10;
  font-size: 12px;
}

.cus-alert a.white-mode,
.cus-alert a.white-mode:link,
.cus-alert a.white-mode:visited,
.cus-alert a.white-mode:active {
  font-size: 12px;
  text-decoration: none;
  background: #212121;
  padding: 4px 8px;
  color: #f7f7f7;
}
.cus-alert a.white-mode:hover,
.cus-alert a.white-mode:link:hover,
.cus-alert a.white-mode:visited:hover,
.cus-alert a.white-mode:active:hover {
  background: #edf3f8;
  color: #212121;
}

body.open_alert {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #EEEEEE;
}

.cus-alert h1 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 26px;
  line-height: 1;
  clear: both;
  display: block;
}

.cus-alert p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.4;
}

.cus-alert .link {
  display: inline-block;
  font-family: "Montserrat";
  position: relative;
  font-size: 16px;
  padding: 12px 24px;
  width: 140px;
  margin: 10px;
  color: #FFFFFF;
  background: #005CFE;
  text-decoration: none;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
}

.cus-alert .content {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 100%;
}

.cus-alert .content-buttons {
  display: block;
  clear: both;
  width: 100%;
}

.cus-alert .content-title {
  font-size: 90px;
  font-weight: 700;
  color: #005CFE;
}

.cus-alert .content-claim {
  font-size: 26px;
  font-weight: 100;
}

.cus-alert.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  z-index: 1000000;
}
.cus-alert.overlay.is-visible {
  opacity: 1;
  visibility: visible;
}

.cus-alert .window-message-container {
  -webkit-transition: background-color 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: background-color 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: background-color 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: background-color 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: background-color 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 8px #212121;
  -moz-box-shadow: 0 1px 8px #212121;
  box-shadow: 0 1px 8px #212121;
  position: relative;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  background: #FAFAFA;
  color: #111111;
  width: 90%;
  max-width: 600px;
  margin: 0;
  text-align: center;
  top: 50%;
  left: 50%;
}
.cus-alert .window-message-container__input {
  padding: 16px 40px;
}
.cus-alert .window-message-container .window-message-container__input .window-message-container__form-control {
  padding: 30px;
  text-align: center;
  font-size: 24px;
}
.cus-alert .window-message-container__text {
  padding: 50px;
  margin: 0;
}
.cus-alert .window-message-container ul.buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
}
.cus-alert .window-message-container ul.buttons li a {
  -webkit-transition: background-color 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: background-color 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: background-color 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: background-color 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: background-color 0.2s cubic-bezier(0.694, 0.0482, 0.335, 1);
  display: block;
  font-size: 16px;
  color: #FFFFFF;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
}
.cus-alert .window-message-container ul.buttons.alert li {
  float: left;
  width: 100%;
}
.cus-alert .window-message-container ul.buttons.alert li a {
  background: #111111;
  border-radius: 0 0 2px 2px;
}
.cus-alert .window-message-container ul.buttons.alert li a:hover {
  background-color: #0057ff;
}
.cus-alert .window-message-container .alert-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999em;
}
.cus-alert .window-message-container .alert-close::before,
.cus-alert .window-message-container .alert-close::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #DDD;
}
.cus-alert .cus-alert .window-message-container .alert-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cus-alert .cus-alert .window-message-container .alert-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}

.border-green { border : 1px solid #3ac47d; }

.modal .modal-backdrop
{
    background-color: #15141429;
}

.modal .modal-backdrop .modal-dialog
{
    z-index:111111;
}
.f-normal { text-transform: none; }
.button.js-play.ready_play
{
    width: 5rem;
    height: 5rem;
}
.text-highligt-black { color : rgb(37 37 37) }
.clickable_word--span {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.clickable_word--span:hover:not(.omission):not(.active)
 {
    color : blue;
    font-weight:bold;
}

.clickable_word--span.active {
    color : red;
    font-weight:bold;
}

.clickable_word--span.omission {
    border-radius: 50%;
    border: 1px solid #ef0f0f;
    padding: 4px;
}

.inputs-tags-custom:not(.active) .bootstrap-tagsinput
{
    width: 100%;
}

.inputs-tags-custom.active .bootstrap-tagsinput
{
    width: 88%;
}

.inputs-tags-custom:not(.active) .helper
{
    display:none;
}

.inputs-tags-custom .bootstrap-tagsinput input {
    background-color: inherit !important
}

.inputs-tags-custom .bootstrap-tagsinput
{
    cursor:pointer;
    padding: 9px;
    background-color : #ececec !important;
}

.inputs-tags-custom.active .bootstrap-tagsinput {
    background-color : #3ac47da3 !important;
}


.inputs-tags-custom:not(.active) .input-group-prepend
{
    display:none;
}

.cus-tag {
    text-transform:inherit;
    font-size: 13px;
    margin-top : 4px;
}

.audio-progress {
  height: .5rem;
  width: 100%;
  background-color: #C0C0C0;
}
.audio-progress .bar {
  height: 100%;
  background-color: #3ac47d;
}

#audio-progress-handle {
  display: block;
  position:absolute;
  z-index: 1;
  margin-top: -5px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border: 4px solid #D3D5DF;
  border-top-color: #D3D5DF;
  border-right-color: #D3D5DF;
  transform: rotate(45deg);
  border-radius: 100%;
  background-color: #E95F74;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  cursor:pointer;
}

.draggable {
  float: left; margin: 0 10px 10px 0;
}

.vex-content { z-index:99999 }
.f-20 { font-size : 20px }

.x_full_with {

    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    width: 100%;

}

.recorder.cus.active .js-play
{
    background: #3ac47d;
    color: white;
}

.content-wrap section
{
    text-align: initial !important;
    font-size: initial;
}
.content-wrap {
    background : transparent !important;
}

.tabs-style-tzoid {
    font-size : 20px !important;
}

.tabs-style-tzoid nav ul li a
{
    color : inherit;
    text-decoration: none;
}









