.fixed-header .app-main
{
    padding-top: 63px !important;
}

.fixed-sidebar .app-main .app-main__outer
{
    padding:0 !important;
    margin: 0 !important;
}

.app-main .app-main__inner
{
    padding:0 !important;
}

.app-main, .app-main__inner
{
    background-color:#3ac47d;
}

.app-wrapper-footer
{
    z-index : 999999;
}

