<ul class="list-group teacher" item_count="{{itemCount}}">

    {% for per in assesment %}

    <li class="list-group-item jsgrid-row">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left ml-3 header-user-info">
                    <div class="widget-heading f-sm">
                        <a href="/teacher/activity/passage/edit?assesment={{per.id}}">
                            {{per.title|title}}
                        </a>
                    </div>
                    <p class="no-margin ">
                        Date added, <b>{{per.date_added}}</b>
                    </p>
                    <p class="no-margin ">
                        Grade Complexity, <b>{{per.grade_level_of_complexity.name|capfirst}}</b>
                    </p>
                    <p class="no-margin ">
                        No. of questions, <b>{{per.no_questions}}</b>
                    </p>
                </div>
                <div class="widget-content-right">
                    <a href="/teacher/activity/passage/questions?assesment={{per.id}}"
                       class="mb-2 mr-2 btn btn-lg btn-success">View questions</a>
                    <a href="/teacher/activity/passage/edit?assesment={{per.id}}" class="mb-2 mr-2 btn btn-lg btn-focus">
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </li>

    {% endfor %}

</ul>
