<div class="modal-content">
    <div class="modal-header bg-success">
        <h5 class="modal-title" id="exampleModalLongTitle">Activity Passages</h5>
        <div class="f-right header-action">
            <button type="button" class="mr-2 btn-fullscreen">
                <i aria-hidden="true" data-toggle="tooltip"
                   data-placement="bottom"
                   data-original-title="Fullscreen"
                   class="fa fa-window-maximize"></i>
            </button>
            <button type="button" class="" data-dismiss="modal" aria-label="Close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

    </div>
    <div class="modal-body row no-padding no-gutters">
        <div class="col-md-4 c-col left_side">

            <div class="modal-header bg-light-warning modal-header-alert show">
                <div class="widget-content p-1">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <h6>{{activity.title|title}}</h6>
                            </div>
                            <div class="widget-subheading text-default">
                                Type of Test, <b>{{activity.get_test_type_display}}</b>
                            </div>
                            <div class="widget-subheading text-default">
                                Type of Literacy Task,

                                <b>{{activity.get_type_of_literacy_display}}</b>

                            </div>
                            <div class="widget-subheading text-default">
                                Author, <a href="#"><b>{{activity.user_added.get_full_name}}</b></a>
                            </div>


                            <div class="show_when_fullscreen mt-2">
                                <a href="/teacher/activity/passage/add?index=106" type="button"
                                   class="btn-shadow btn btn-lg btn-success">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-plus fa-w-20"></i>
                                </span>
                                    Edit details
                                </a>

                                <form id="add_passage" class="inline">
                                    <input type="hidden" name="activity_id" value="0">
                                    <button type="submit" class="btn-shadow btn btn-lg btn-success">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-plus fa-w-20"></i>
                                    </span>
                                        Add Passage
                                    </button>

                                </form>

                            </div>

                        </div>
                        <div class="widget-content-right hide_when_fullscreen">
                            <a href="/teacher/activity/passage/add?index=106" type="button"
                               class="btn-shadow btn btn-lg btn-success">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-plus fa-w-20"></i>
                                </span>
                                Edit details
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-header bg-light-warning show_when_fullscreen">
                <b>Passages</b>
            </div>
            <div class="modal-header
                bg-light
                show_when_fullscreen no-padding scrollable" style="height: 100%">

                <ul class="list-group">
                    <button class="active list-group-item-action list-group-item">
                        Ang Darling Kung Aswang
                    </button>
                    <button class=" list-group-item-action list-group-item">
                        Ang Darling Kung Aswang
                    </button>
                    <button class=" list-group-item-action list-group-item">
                        Ang Darling Kung Aswang
                    </button>
                    <button class=" list-group-item-action list-group-item">
                        Ang Darling Kung Aswang
                    </button>
                    <button class=" list-group-item-action list-group-item">
                        Ang Darling Kung Aswang
                    </button>
                    <button class=" list-group-item-action list-group-item">
                        Ang Darling Kung Aswang
                    </button>
                    <button class=" list-group-item-action list-group-item">
                        Ang Darling Kung Aswang
                    </button>
                    <button class=" list-group-item-action list-group-item">
                        Ang Darling Kung Aswang
                    </button>
                </ul>


            </div>

        </div>
        <div class="col-md-8 c-col right_side">

            <div class="overlay-spinner">
                <div class="icon">
                    <i class="fa-spin fa fa-spinner"></i>
                </div>
            </div>

            <div class="modal-body no-padding hide_when_fullscreen" style="min-height:374px">

                <div id="wizard-steps">
                    <div class="step-app">
                        <ul class="step-steps">
                            <li class="text-center"><a href="#step1">Passages</a></li>
                            <li class="text-center"><a href="#step2">Questions</a></li>
                        </ul>
                        <div class="step-content no-padding">

                            <div class="step-tab-panel active" id="step1">

                                <div class="modal-header bg-light-warning modal-header-alert show">

                                    <div class="widget-content p-1">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <a href="/teacher/activity/passage/add?index=106" type="button"
                                                   class="btn-shadow btn btn-lg btn-success">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-plus fa-w-20"></i>
                                </span>
                                                    Add Passage
                                                </a>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="step-tab-panel" id="step2">


                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div class="modal-body no-padding show_when_fullscreen">

                <div class="modal-header bg-light-warning modal-header-alert show">
                    <div class="widget-content p-1">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading">
                                    <h5>"Ang Darling Kung Aswang"</h5>
                                </div>
                                <div class="widget-subheading text-default">
                                    Level of complexity, <b>Grade I</b>
                                </div>
                                <div class="widget-subheading text-default">
                                    No. of words, <b>59</b>
                                </div>

                            </div>
                            <div class="widget-content-right">
                                <a href="/teacher/activity/passage/add?index=106" type="button"
                                   class="btn-shadow btn btn-lg btn-success">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-plus fa-w-20"></i>
                                </span>
                                    Edit
                                </a>

                                <a href="/teacher/activity/passage/add?index=106" type="button"
                                   class="btn-shadow btn btn-lg btn-secondary">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-trash fa-w-20"></i>
                                </span>
                                    Remove
                                </a>

                            </div>


                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
