{% load static %}
{% load group_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {#<link href="img/logo/logo.png" rel="icon">#}
    <title>PhilIRI Online Test</title>
    <link href="{% static 'bootstrap/css/bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'css/ruang-admin.css' %}" rel="stylesheet">
    <link href="{% static 'testers_assets/custom.css' %}" rel="stylesheet">

    <style>

        @media (min-width: 768px)
        {
             .container-login {
                margin-left: 22rem;
                margin-right: 18rem;
              }
        }


    </style>

</head>

<body class="bg-gradient-login">
<!-- Login Content -->
<div class="container-login">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card shadow-sm my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Phil IRI | Register</h1>
                                </div>
                                <form method="post" action="/account/register" data-parsley-validate>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text"
                                               data-parsley-onlytext
                                               name="first_name" class="form-control"
                                               placeholder="Enter First Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text"
                                               data-parsley-onlytext
                                               class="form-control" name="last_name"
                                               placeholder="Enter Last Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Username</label>
                                        <div class="input-group mb-3">

                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">@</span>
                                            </div>
                                            <input type="text" id="username"
                                                   name="username"
                                                   data-parsley-remote
                                                   data-parsley-remote-validator="check_username_exists"
                                                   data-parsley-remote-message="Not available"
                                                   data-parsley-minlength="6"
                                                   data-parsley-nospaces
                                                   data-parsley-errors-container=".error_container"
                                                   class="form-control" placeholder="Username"
                                                   aria-label="Username" aria-describedby="basic-addon1" required>
                                        </div>
                                        <span class="error_container"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password"
                                               id="password"
                                               data-parsley-minlength="6"
                                               class="form-control" name="password"
                                               placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Repeat Password</label>
                                        <input type="password" data-parsley-equalto="#password" class="form-control"
                                               name="c_password"
                                               placeholder="Repeat Password" required>
                                    </div>
                                    <hr>
                                    <div class="form-group">

                                        {% for per_group in auth_group %}

                                        <button type="submit"
                                                value="{{per_group.id}}"
                                                name="group_type"
                                                class="btn {{button_type|index:forloop.counter0}} btn-block">
                                            <h5>Register as {{per_group.name|lower|title}}</h5>
                                        </button>

                                        {% endfor %}

<!--                                        <button type="submit" class="btn btn-primary btn-block">-->
<!--                                            <h5>Register as School</h5>-->
<!--                                        </button>-->
<!--                                        <button type="submit" class="btn btn-google btn-block">-->
<!--                                            <i class="fab fa-google fa-fw"></i>-->
<!--                                            <h5>Register as Teacher</h5>-->
<!--                                        </button>-->
<!--                                        <button type="submit" class="btn btn-facebook btn-block">-->
<!--                                            <i class="fab fa-google fa-fw"></i>-->
<!--                                            <h5>Register as Student</h5>-->
<!--                                        </button>-->
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="font-weight-bold small" href="/">Already have an account?</a>
                                </div>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'scripts/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'scripts/jquery.cookie.min.js' %}"></script>
<script src="{% static 'node_modules/parsleyjs/dist/parsley.js' %}"></script>
<script src="{% static 'scripts/js_modules/parsely_validation_plugin.js' %}"></script>


</body>

</html>
