{% load static %}
{% load group_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <link href="img/logo/logo.png" rel="icon">#}
    <title>PhilIRI Online Test</title>
    <link href="{% static 'bootstrap/css/bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'css/ruang-admin.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-login">
<!-- Login Content -->
<div class="container-login">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card shadow-sm my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="login-form">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">
                                        Phil IRI Online Test
                                    </h1>
                                </div>
                                <form class="user" action="/login/request" method="post">

                                    {% csrf_token %}

                                    {% if messages %}

                                        {% for message in messages %}


                                            {% if message.tags == "error" %}

                                                <div class="alert alert-danger" role="alert">
                                                    {{ message }}
                                                </div>

                                            {% endif %}


                                        {% endfor %}

                                    {% endif %}



                                    <div class="form-group">
                                        <input type="text" class="form-control" id="exampleInputEmail"
                                               name="account"
                                               aria-describedby="emailHelp"
                                               required
                                               placeholder="Enter Username or Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" required class="form-control"
                                               name="password"
                                               id="exampleInputPassword"
                                               placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="font-weight-bold small" href="/account/new">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
