<div class="container flex-wrap" item_count="{{item_count}}">

    {% for per in activity_list %}

    <div class="col-lg-4 section">

        <div class="card mb-3 widget-content widget-a1 custom">
            <div class="widget-content-outer">
                <div class="widget-content-wrapper">

                    <div class="widget-content-left no-margin">
                        <div class="widget-numbers text-warning">
                            <div class="font-icon-wrapper font-icon-lg n-margin">
                                <label class="icon-label">{{per.roman_grade_level}}</label>
                                {% if per.is_preTest %}
                                <i class="fa fa-star"></i>
                                {% elif per.activity.test_type == 0 %}
                                <i class="fa fa-star icon-gradient bg-grow-early opacity-8"></i>
                                {% else %}
                                <i class="fa fa-star icon-gradient bg-plum-plate opacity-8"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if per.is_preTest %}

                    <div class="widget-content-right">
                        <div class="widget-heading mb-1">
                            <a href="/student/activity/start?id={{per.id}}">
                                <b>{{per.name|lower|title}}</b>
                            </a>
                        </div>
                        <div class="widget-subheading muted opacity-7">
                            Pre test
                        </div>
                        <div class="widget-subheading muted opacity-7">
                            Teacher, <a href="#">{{per.user.get_full_name}}</a>
                        </div>
                    </div>

                    {% else %}

                    <div class="widget-content-right">
                        <div class="widget-heading mb-1">
                            <a href="/student/activity/start?id={{per.id}}">
                                <b>{{per.activity.title|lower|title}}</b>
                            </a>
                        </div>
                        <div class="widget-subheading muted opacity-7">
                            {{per.activity.get_test_type_display}}
                        </div>
                        <div class="widget-subheading muted opacity-7">
                            Teacher, <a href="#">{{per.user.get_full_name}}</a>
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    {% endfor %}

</div>
