{% extends "testers_temp/student/student_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-diamond icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    {{activity.title|title}} -
                    {% if activity.type_of_literacy == 1 %}

                    <a href="#">Oral Reading Comprehension</a>

                    {% elif activity.type_of_literacy == 2 %}

                    <a href="#">Silent Reading Comprehension</a>

                    {% elif activity.type_of_literacy == 3 %}

                    <a href="#">Listening Reading Comprehension</a>

                    {% endif %}

                    <div class="page-title-subheading">
                        <ol class="breadcrumb">

                            <li class="breadcrumb-item" aria-current="page">
                                <a href="/home"><b>Home</b></a>
                            </li>

                            <li class="active breadcrumb-item" aria-current="page">
                                <b>{{school.name_alias}}</b>
                            </li>

                            <li class="active breadcrumb-item" aria-current="page">
                               {{quiz_activity.batch_student.batch.name}}
                            </li>

                            <li class="active breadcrumb-item" aria-current="page">
                                {{quiz_activity.batch_student.section.group.name}}
                            </li>

                            <li class="active breadcrumb-item" aria-current="page">
                                {{quiz_activity.batch_student.section.name}}
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
            <div class="page-title-actions">

            </div>
        </div>
    </div>
    <div class="col-lg-12">


        <div class="row">

            {% if messages %}

            {% for message in messages %}
            <div class="col-md-12">
                <div class="alert alert-warning fade show" role="alert"><h5>Unexpected error occur</h5>
                    <p class="mb-0">{{ message }}</p>
                </div>
            </div>
            {% endfor %}

            {% endif %}

            <div class="col-md-5">

                <div class="main-card mb-3 card">


                    <div class="card-body separator-blue">

                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="/static/images/boy.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        {{quiz_activity.batch_student.student.get_full_name}}
                                    </div>
                                    <div class="widget-subheading">
                                        Student
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-body no-padding">
                        <ul class="list-group">
                            <button class="list-group-item-action list-group-item">
                                <b>Type of test</b>
                                <div class="inline fright text-primary">
                                    {{quiz_activity.task.activity.get_test_type_display}}
                                </div>
                            </button>
                            <button class="list-group-item-action list-group-item">
                                <b>Total Reading Comprehension Score</b>
                                <div class="inline fright">
                                    <h5 class="inline">{{quiz_activity.total_score}}</h5>
                                    /{{quiz_activity.question_set}}
                                </div>
                            </button>
                            <button class="list-group-item-action list-group-item">
                                <b>Reading Comprehension Level</b>
                                {% if quiz_activity.comprehension_level == 0 %}
                                <div class="inline fright">
                                    <div class="mb-2 mr-2 badge badge-danger">Frustration</div>
                                </div>

                                {% elif quiz_activity.comprehension_level == 1 %}

                                <div class="inline fright">
                                    <div class="mb-2 mr-2 badge badge-alternate">Instructional</div>
                                </div>

                                {% elif quiz_activity.comprehension_level == 2 %}

                                <div class="inline fright">
                                    <div class="mb-2 mr-2 badge badge-success">Independent</div>
                                </div>

                                {% else %}

                                 <div class="inline fright">
                                    <i>Not specified</i>
                                 </div>

                                {% endif %}
                            </button>
                            <button class="list-group-item-action list-group-item separator-blue">
                                <b>Word Comprehension Level</b>
                                <div class="inline fright">
                                    <div class="mb-2 mr-2 badge badge-warning">Pending</div>
                                </div>
                            </button>
                            <button class="list-group-item-action list-group-item">
                                <b>Literal</b>,
                                <div class="inline fright">
                                    <h5 class="inline">{{quiz_activity.total_correct_literal}}</h5>
                                    /{{quiz_activity.num_literal}}
                                </div>
                            </button>
                            <button class="list-group-item-action list-group-item">
                                <b>Inferential</b>,
                                 <div class="inline fright">
                                    <h5 class="inline">{{quiz_activity.total_correct_inferential}}</h5>
                                    /{{quiz_activity.num_inferential}}
                                </div>
                            </button>
                            <button class="list-group-item-action list-group-item">
                                <b>Critical</b>,
                                <div class="inline fright">
                                    <h5 class="inline">{{quiz_activity.total_correct_critical}}</h5>
                                    /{{quiz_activity.num_critical}}
                                </div>
                            </button>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="col-md-7">
                <div class="list_assesment"></div>
            </div>

        </div>

    </div>

</div>


{% endblock %}


{% block scripts %}

<script>
    window.define_const("quiz_id", "{{quiz}}");

</script>

<script type="text/javascript" src="{% static 'testers_assets/plugins/recorder.js' %}"></script>
<script type="text/javascript" src="{% static 'testers_assets/scripts/record.js' %}"></script>
<script src="{% static 'testers_assets/scripts/scorer_partial_track.js' %}"></script>

{% endblock %}
