{% extends "testers_temp/student/student_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon" style="width : auto; height: auto;">
                    <!--                    <i class="pe-7s-info icon-gradient bg-plum-plate"> </i>-->

                    <div class="btn-group" style="width: 100%;">
                        <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                            <img width="76" class="rounded-circle" src="/static/images/boy.png" alt="">
                        </a>
                    </div>

                </div>
                <div>
                    {{ activity.title|lower|title }}
                    <p class="no-margin">
                        <small>Teacher,
                            <b>{{ student_activity.user.get_full_name|lower|capfirst }}</b>
                        </small>
                    </p>
                    <div class="page-title-subheading">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/student/home">Home</a></li>
                                <li class="active breadcrumb-item" aria-current="page">
                                    <a href="/student/group/activity?batch_id={{batch_student_id}}">
                                        {{ section.group.name|capfirst }}
                                    </a>
                                </li>
                                <li class="active breadcrumb-item active" aria-current="page">
                                    {{ batch.name|capfirst }}
                                </li>
                                <li class="active breadcrumb-item active" aria-current="page">
                                    <b>{{ section.name|capfirst }}</b>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">ID. {{user.id|less_zeros}}{{user.id}}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-12">

        <div class="row">

            <div class="col-md-4">

                <form action="/student/activity/start" class="card-activity" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="student_activity_id" value="{{ student_activity.id }}">
                    <input type="hidden" name="batch_student_id" value="{{ batch_student.id }}">
                    <input type="hidden" name="test_type" value="0">
                    <button type="submit">
                        <div class="card widget-content widget-a1 ">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-numbers text-primary">
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    </div>
                                </div>
                                <div class="widget-content-right">

                                    <div class="widget-heading">
                                        <h5 href="javascript:void(0)" class="text-primary">Pre Test</h5>
                                    </div>
                                    <div class="widget-subheading">
                                        <b>
                                            {{ section.group.name|capfirst }} -
                                            {{ section.name|capfirst }}
                                        </b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </form>

            </div>

            <div class="col-md-4">

                <form action="/student/activity/start" class="card-activity" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="student_activity_id" value="{{ student_activity.id }}">
                    <input type="hidden" name="batch_student_id" value="{{ batch_student.id }}">
                    <input type="hidden" name="test_type" value="1">
                    <button type="submit">
                        <div class="card widget-content widget-a1 ">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-numbers text-warning">
                                    <span>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    </div>
                                </div>
                                <div class="widget-content-right">

                                    <div class="widget-heading">
                                        <h5 href="javascript:void(0)" class="text-primary">Post Test</h5>
                                    </div>
                                    <div class="widget-subheading">
                                        <b>
                                            {{ section.group.name|capfirst }} -
                                            {{ section.name|capfirst }}
                                        </b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </form>

            </div>


        </div>

    </div>

</div>


{% endblock %}
