{% extends "testers_temp/student/student_quiz_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="row">

    <div class="col-md-6">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon" style="width : auto; height: auto;">
                        <!--                    <i class="pe-7s-info icon-gradient bg-plum-plate"> </i>-->

                        <div class="btn-group" style="width: 100%;">
                            <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                <img width="65" class="rounded-circle" src="/static/images/boy.png" alt="">
                            </a>
                        </div>

                    </div>
                    <div>
                        <h5 class="no-margin">
                            {{student.get_full_name|lower|title}}
                        </h5>
                        <p class="no-margin"><small>Teacher, {{ teacher_name }}</small></p>
                        <div class="page-title-subheading">
                            <nav class="" aria-label="breadcrumb">
                                <ol class="breadcrumb">

                                    {% if student != False %}
                                    <li class="breadcrumb-item" aria-current="page">
                                        <a href="/student/home"><b>Home</b></a>
                                    </li>
                                    {% endif %}

                                    <li class="active breadcrumb-item" aria-current="page">
                                        <a href="/student/group/activity?batch_id={{batch_id}}">
                                            {{grade_name|lower|title}}
                                        </a>
                                    </li>
                                    <li class="active breadcrumb-item active" aria-current="page">
                                        {{batch_name|upper}}
                                    </li>
                                    <li class="active breadcrumb-item active" aria-current="page">
                                        <b>{{section_name|lower|title}}</b>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-3">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon" style="width : auto; height: auto;">
                        <!--                    <i class="pe-7s-info icon-gradient bg-plum-plate"> </i>-->

                        <div class="btn-group" style="width: 100%;">
                            <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                <img width="65" class="rounded-circle" src="/static/images/boy.png" alt="">
                            </a>
                        </div>

                    </div>
                    <div>
                        <h5 class="no-margin">
                            {{student.get_full_name|lower|title}}
                        </h5>
                        <p class="no-margin"><small>Teacher, {{ teacher_name }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon" style="width : auto; height: auto;">
                        <!--                    <i class="pe-7s-info icon-gradient bg-plum-plate"> </i>-->

                        <div class="btn-group" style="width: 100%;">
                            <a aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                <img width="65" class="rounded-circle" src="/static/images/boy.png" alt="">
                            </a>
                        </div>

                    </div>
                    <div>
                        <h5 class="no-margin">
                            {{student.get_full_name|lower|title}}
                        </h5>
                        <p class="no-margin"><small>Teacher, {{ teacher_name }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-md-3">

        <div class="main-card card">
            <div class="card-body">
                <h5 class="card-title">Menu</h5>
                <div class="app-sidebar__inner">
                    <ul class="vertical-nav-menu nav flex-column">
                        <li class="nav-item">
                            <a data-toggle="tab" href="#tab-eg5-0" class="nav-link show">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Activity Details
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#tab-eg5-0" class="nav-link show">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Passages
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#tab-eg5-0" class="nav-link show">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Passages
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav">
            <li class="nav-item"><a data-toggle="tab" href="#tab-eg5-0" class="nav-link show">Tab 1</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#tab-eg5-1" class="nav-link show active">Tab 2</a></li>
            <li class="nav-item"><a data-toggle="tab" href="#tab-eg5-2" class="nav-link show">Tab 3</a></li>
        </ul>
    </div>

    <div class="col-md-9">

        <div class="col-md-12">
            <div class="mb-3 card text-white bg-success">
                <div class="card-header">Activity Details</div>
                <div class="card-body text-muted bg-white">
                    <div class="widget-heading text-default">
                        <h3>{{activity.title|capfirst}}</h3>
                    </div>
                    <div class="widget-heading">
                        Test Type,
                        <b>Group Screening Test</b>
                    </div>
                    <div class="widget-heading">
                        Word Reading,
                        <b>Frustration</b>
                    </div>

                    <div class="widget-heading">
                        Reading Comprehension,
                        {% if comprehension_level >= 2 %}
                        <b>Independent</b>
                        {% elif comprehension_level == 1 %}
                        <b>Instructional</b>
                        {% else %}
                        <b>Frustration</b>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>


        <div class="card">

            <div class="card-body">

                <div class="list_assesment score_card">

                    <div class="text-center">
                        <h4>
                            <i class="fa fa-spinner fa-w-16 fa-spin fa-2x icon-gradient bg-plum-plate"></i>
                        </h4>
                    </div>
                </div>

            </div>

        </div>

        <div id="accordion" class="accordion-wrapper mb-3 hidden score_card">
            <div class="card">
                <div id="headingOne" class="card-header">
                    <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false"
                            aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                        <h5 class="m-0 p-0">
                            Oral Reading Comprehension - 20/100
                        </h5>
                    </button>
                </div>
                <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse" style="">
                    <div class="card-body">

                        <div class="col-lg-12" style="margin: 0 auto">
                            <div class="card-shadow-primary border mb-3 card card-body border-primary">
                                <h1 class="card-title header-title">"Dark Chocolate"</h1>
                                <p>
                                    Dark chocolate finds its way into the best ice creams,
                                    biscuits and cakes. Although eating chocolate usually comes
                                    with a warning that it is fattening, it is also believed by some
                                    to have magical and medicinal effects. In fact, cacao trees are
                                    sometimes called Theobroma cacao which means “food of the
                                    gods.”
                                </p>

                                <hr/>

                                <h6>
                                    <b>Total Time in Reading the Text</b> :
                                    <i class="highlight">26 minutes</i>
                                </h6>

                                <h6>
                                    <b>Reading Rate</b> :
                                    <i class="highlight">177 words per minute</i>
                                </h6>

                                <h6>
                                    <b>Responses to Questions: </b>
                                    <i class="highlight">5</i>,
                                    <b>Score:</b>
                                    <i class="highlight">3</i>
                                </h6>

                                <h6>
                                    <b>Comprehension Level</b> :
                                    <i class="highlight">57% <b>Frustration</b></i>
                                </h6>

                                <hr/>

                                <table class="questions">
                                    <tr>
                                        <td class="icon" style="width:5%"><i class="fa fa-check text-success"></i></td>
                                        <td style="width:80%">
                                            <h6>
                                                <b>
                                                    1. ) Which statement is true in the
                                                    selection? Water pressure ___________________________________.
                                                </b>
                                            </h6>

                                        </td>

                                        <td class="text-center text-primary">
                                            <div class="badge badge-primary mr-1 ml-0">
                                                <b>Critical</b>
                                            </div>
                                        </td>

                                        <td class="text-center text-primary">
                                            <div class="badge badge-dark mr-1 ml-0">
                                                <b>1 sec</b>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="icon"><i class="fa fa-times text-danger"></i></td>
                                        <td>
                                            <h6>
                                                <b>
                                                    1. ) Who among the following readers will benefit most from this
                                                    selection?
                                                </b>
                                            </h6>

                                        </td>


                                        <td class="text-center text-primary">
                                            <div class="badge badge-primary mr-1 ml-0">
                                                <b>Literal</b>
                                            </div>
                                        </td>

                                        <td class="text-center text-primary">
                                            <div class="badge badge-dark mr-1 ml-0">
                                                <b>1 min.</b>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td class="icon"><i class="fa fa-times text-danger"></i></td>
                                        <td>
                                            <h6>
                                                <b>
                                                    1. ) Who among the following readers will benefit most from this
                                                    selection?
                                                </b>
                                            </h6>

                                        </td>
                                    </tr>
                                </table>


                            </div>
                        </div>

                        <div class="col-lg-10" style="margin: 0 auto">
                            <div class="card-shadow-primary border mb-3 card card-body border-primary">

                                <div class="record-speech-controls">
                                    <div class="recorder">
                                        <div class="toolbar">
                                            <button type="button" class="js-play button button--play">
                                                <i class="fa fa-play" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <h1 class="card-title header-title">"Dark Chocolate"</h1>
                                <p>
                                    Dark chocolate finds its way into the best ice creams,
                                    biscuits and cakes. Although eating chocolate usually comes
                                    with a warning that it is fattening, it is also believed by some
                                    to have magical and medicinal effects. In fact, cacao trees are
                                    sometimes called Theobroma cacao which means “food of the
                                    gods.”
                                </p>

                                <hr/>

                                <h6>
                                    <b>Total Time in Listening the Record</b> :
                                    <i class="highlight">26 minutes</i>
                                </h6>
                                <h6>
                                    <b>No of times played the record</b> :
                                    <i class="highlight">2</i>
                                </h6>
                                <h6>
                                    <b>Responses to Questions: </b>
                                    <i class="highlight">5</i>,
                                    <b>Score:</b>
                                    <i class="highlight">3</i>
                                </h6>

                                <h6>
                                    <b>Comprehension Level</b> :
                                    <i class="highlight">57% <b>Frustration</b></i>
                                </h6>

                                <hr/>

                                <table class="questions">
                                    <tr>
                                        <td class="icon"><i class="fa fa-check text-success"></i></td>
                                        <td>
                                            <h6>
                                                <b>
                                                    1. ) Which statement is true in the
                                                    selection? Water pressure ___________________________________.
                                                </b>
                                            </h6>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="icon"><i class="fa fa-times text-danger"></i></td>
                                        <td>
                                            <h6>
                                                <b>
                                                    1. ) Who among the following readers will benefit most from this
                                                    selection?
                                                </b>
                                            </h6>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="icon"><i class="fa fa-times text-danger"></i></td>
                                        <td>
                                            <h6>
                                                <b>
                                                    1. ) Who among the following readers will benefit most from this
                                                    selection?
                                                </b>
                                            </h6>

                                        </td>
                                    </tr>
                                </table>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="card hidden">
                <div id="headingTwo" class="b-radius-0 card-header">
                    <button type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false"
                            aria-controls="collapseTwo" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                        <h5 class="m-0 p-0">
                            Silent Reading Comprehension
                        </h5>
                    </button>
                </div>
                <div data-parent="#accordion" id="collapseOne2" class="collapse" style="">
                    <div class="card-body">
                        <div class="silent_reading_jsgrid grid-cus"></div>
                    </div>
                </div>
            </div>
            <div class="card hidden">
                <div id="headingThree" class="card-header">
                    <button type="button" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="false"
                            aria-controls="collapseThree" class="text-left m-0 p-0 btn btn-link btn-block collapsed"><h5
                            class="m-0 p-0">Listening Comprehension</h5></button>
                </div>
                <div data-parent="#accordion" id="collapseOne3" class="collapse" style="">
                    <div class="card-body">
                        <div class="listening_jsgrid grid-cus"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--    <div class="col-md-3">-->

    <!--        <div class="card mb-3 widget-content-->
    <!--            {% if activity_type == True %} bg-warning {% else %} bg-arielle-smile {% endif %}">-->
    <!--            <div class="widget-content-wrapper text-dark">-->
    <!--                <div class="widget-content-left">-->
    <!--                    <div class="widget-heading">-->
    <!--                        {% if activity_type == True %}-->
    <!--                        <h3>Post test</h3>-->
    <!--                        {% else %}-->
    <!--                        <h3>Pre test</h3>-->
    <!--                        {% endif %}-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="card question_type_spinner">-->

    <!--            <div class="text-center">-->
    <!--                <h4>-->
    <!--                    <i class="fa fa-spinner fa-w-16 fa-spin fa-2x icon-gradient bg-plum-plate"></i>-->
    <!--                </h4>-->
    <!--            </div>-->

    <!--        </div>-->

    <!--        <div class="question_type_level"></div>-->

    <!--    </div>-->

</div>
{% endblock %}


{% block scripts %}

<script>
    window.define_const("quiz_id", "{{quiz}}");

</script>

<script type="text/javascript" src="{% static 'testers_assets/plugins/recorder.js' %}"></script>
<script type="text/javascript" src="{% static 'testers_assets/scripts/record.js' %}"></script>
<script src="{% static 'testers_assets/scripts/scorer_partial_track.js' %}"></script>


{% endblock %}

