{% extends "testers_temp/student/student_quiz_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}


<div class="activity_task">

    <div class="spinner hidden">
        <h3><i class="fa fa-spin fa-spinner icon-large"></i></h3>
    </div>

    <div class="col-md-12 intro sec">
        <div class="card-shadow-success mb-3 widget-chart widget-chart2 text-left card">
            <div class="widget-content">
                <div class="widget-content-outer">
                    <div class="widget-content-wrapper text-center">
                        <div>
                            <h1 class="title">
                                {% if task.is_preTest %}
                                    {{ task.name|capfirst }}
                                {% else %}
                                    {{ activity.title|capfirst }}
                                {% endif %}
                            </h1>
                            <h5>
                                <span class="text-primary">
                                    {% if task.is_preTest %}
                                        PreTest
                                    {% else %}
                                        {{activity.get_test_type_display}}
                                    {% endif %}
                                </span>
                            </h5>
                            <hr/>
                            <form method="post" action="/student/activity/load" class="get_assesment">
                                {% csrf_token %}
                                <input type="hidden" name="task" value="{{ task.id }}">
                                <input type="hidden" name="batch_student" value="{{ batch_student.id }}">

                                <button type="submit" class="mb-2 mr-2 btn btn-primary btn-lg btn-block"
                                        style="height:73px">
                                    {% if is_continue == 0 %}
                                    <h3>Start Quiz</h3>
                                    {% elif is_continue == 1 %}
                                    <h3>Continue</h3>
                                    {% endif %}
                                </button>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}


{% endblock %}
