{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-help1 icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Welcome to Phil-IRI online test
                    <div class="page-title-subheading">
                        Please complete your information details.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">ID. {{student.less_zeros}}{{student.id}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="main-card mb-3 card">
                <div class="card-body">

                    <div class="col-lg-6">

                        <form data-parsley-validate method="post" class="auto_validate" action="/school/home/info/set">
                            {% csrf_token %}
                            <div class="position-relative form-group">
                                <label for="email" class="">School Email</label>
                                <input name="email" value="{{user.email}}" required id="email" placeholder="Email"
                                       type="email"
                                       class="form-control">
                            </div>

                            <div class="position-relative form-group">
                                <label for="ins_name" class="">Institution Name</label>
                                <input name="name_alias"
                                       data-parsley-onlytext
                                       value="{{user_profile.name_alias}}"
                                       required id="ins_name" placeholder="Institution Name"
                                       type="text" class="form-control">
                                <div class="valid-feedback"></div>
                            </div>

                            <div class="position-relative form-group">
                                <label class="">Type of Institution</label>
                                <select name="type" required class="form-control">

                                    <option value="" selected></option>

                                    {% for per in school_type %}

                                    {% if per|index:1 %}
                                        <option {% if per|index:0 == user_profile.type %} selected {% endif %}
                                                value="{{per|index:0}}">
                                            {{per|index:1|lower|title}}
                                        </option>
                                    {% endif %}

                                    {% endfor %}
                                </select>
                                <div class="valid-feedback"></div>
                            </div>

                            <button class="mt-1 btn btn-primary" type="submit">Submit</button>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
