{% extends "testers_temp/school/ins_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}

<div class="app-main__inner">

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-diamond icon-gradient bg-plum-plate"> </i>
                </div>
                <div>
                    Welcome to Phil-IRI online test
                    <div class="page-title-subheading">Highly configurable boxes best used for showing numbers in an
                        user friendly way.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <h3 class="text-primary">{{user_profile.access_code}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12">


        <div class="row">

            <div class="student_activity full-width">
            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

{% endblock %}
