{% extends "testers_temp/student/student_quiz_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}


<div class="activity_task">

    <div class="alert alert-warning fade show hidden" role="alert"><h5>Please choice the answer correctly</h5></div>

    <div class="main-card mb-3 card question" style="font-size : 18px">

        <form method="post" id="question_form" action="/student/activity/answered" novalidate>
            {% csrf_token %}
            <input type="hidden" name="question" value="{{ question_id }}">
            <input type="hidden" name="quiz_assesment" value="{{ quiz_assesment }}">

            <div class="card-body">
                <div class="pages">
                    <h1>{{ index }}</h1><h5>/{{ length }}. </h5>
                </div>
                <h2 class="card-title header-title">
                    {{ question_body|lower|title }}
                </h2>

                <div class="frb-group selection_container">

                    {% for per in choices %}

                    <div class="frb frb-success">
                        <input type="radio" id="radio-button-{{ forloop.counter0 }}" class="form_inputs" required
                               name="radio-button"
                               value="{{ per.id }}">
                        <label for="radio-button-{{ forloop.counter0 }}">
                            <span class="frb-title">{{ alpha|index:forloop.counter0 }}</span>
                            <p><span class="frb-description"> {{ per.body|capfirst }}</span></p>
                        </label>
                    </div>

                    {% endfor %}

                </div>

                </h3>
                <div class="card-footer" style="padding : 20px">
                    <div class="d-block text-center" style="flex: 1;">
                        <button disabled type="submit" class="btn-wide btn btn-primary btn-lg" style="float:right">
                            <h4>Next</h4>
                        </button>
                    </div>
                </div>


            </div>

        </form>


    </div>


</div>

{% endblock %}


{% block scripts %}

<!--<script src="{% static 'testers_assets/scripts/stud_question.js' %}"></script>-->
<script src="{% static 'testers_assets/scripts/activity_question_constraint.js' %}"></script>

{% endblock %}

