{% extends "testers_temp/student/student_quiz_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}


<div class="activity_task">

    <div class="spinner" style="display:none">
        <h3><i class="fa fa-spin fa-spinner icon-large"></i></h3>
    </div>

    {% if level <= 1 %}
        <div class="main-card mb-3 card passage" style="font-size : 18px">
    {% elif level == 2 %}
        <div class="main-card mb-3 card passage" style="font-size : 16px">
    {% elif level == 3 %}
        <div class="main-card mb-3 card passage" style="font-size : 14px">
    {% else %}
        <div class="main-card mb-3 card passage" style="font-size : 12px">
    {% endif %}

    <div class="card-body text-center">
        <h5 class="card-title">
            {{ title|lower|title }}
        </h5>
        <div class="card-body text-center">
            <div class="record-speech-controls">
                <div class="recorder">
                    <div class="toolbar">
                        <button type="button" class="js-play button button--play">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                        <input type="hidden" required="" name="audio_blob">
                        <audio controls="" class="audio_src hidden"
                               src="/media/{{ audio }}">
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer" style="padding : 20px">
        <div class="d-block text-center" style="flex: 1;">
            <form method="post" action="/student/activity/get_question">
                {% csrf_token %}
                <input type="hidden" name="quiz_activity"  value="{{ quiz_activity_id }}">
                <input type="hidden" name="assesment"  value="{{ id }}">
                <button class="btn-wide btn btn-primary btn-lg">
                     <h4>Next</h4>
                </button>
            </form>
        </div>
    </div>


    </div>


</div>




</div>

{% endblock %}




{% block scripts %}

<script src="{% static 'testers_assets/scripts/stud_passage.js' %}"></script>
<script type="text/javascript" src="{% static 'testers_assets/plugins/recorder.js' %}"></script>
<script type="text/javascript" src="{% static 'testers_assets/scripts/record.js' %}"></script>


<!--<script>-->

<!--     window.define_const("type", Number("{{ type }}"));-->
<!--     window.define_const("activity", Number("{{ activity }}"));-->
<!--     window.define_const("of_is_continue", Number("{{ is_continue }}"));-->
<!--     window.define_const("quiz_activity", Number("{{ quiz_activity }}"));-->

<!--</script>-->

<!--<script src="{% static 'scripts/student/load_questions.js' %}"></script>-->

{% endblock %}

