{% extends "testers_temp/student/student_quiz_base.html" %}

{% load static %}
{% load group_tags %}

{% block content %}


<div class="activity_task parent">

    <div class="overlay-spinner">
        <div class="icon">
            <i class="fa-spin fa fa-spinner"></i>
        </div>
    </div>


    {% if level <= 1 %}
    <div class="main-card mb-3 card passage" style="font-size : 18px">

        {% elif level == 2 %}
        <div class="main-card mb-3 card passage" style="font-size : 16px">
            {% elif level == 3 %}
            <div class="main-card mb-3 card passage" style="font-size : 14px">
                {% else %}
                <div class="main-card mb-3 card passage" style="font-size : 12px">
                    {% endif %}

                    <div class="card-body text-center">
                        <h5 class="card-title">
                            {{ title|lower|title }}
                        </h5>
                        {{ body|safe }}
                    </div>

                    <div class="card-footer">

<!--                        /student/activity/get_question-->

                        <form method="post" class="inline" action="/student/activity/oral" id="oral">
                            {% csrf_token %}

                            <input type="hidden" name="quiz_activity" value="{{ quiz_activity_id }}">
                            <input type="hidden" name="assesment" value="{{ id }}">

                            <div class="record-speech-controls">
                                <div class="recorder">
                                    <div class="toolbar">
                                        <button type="button" class="js-record button button--record">
                                            <i class="fa fa-microphone" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="js-play button button--play button--disabled">
                                            <i class="fa fa-play" aria-hidden="true"></i></button>
                                        <input type="hidden" required="" name="audio_blob">
                                    </div>
                                </div>
                            </div>

                        </form>

                        <div class="d-block text-right" style="flex: 1;">

                            <button class="btn-wide btn btn-warning btn-lg inline" id="get_score">
                                <h4>Get Score (3 attempt)</h4>
                            </button>

                        </div>


                    </div>


                </div>

            </div>

            {% endblock %}

            {% block scripts %}


            <script src="{% static 'testers_assets/scripts/stud_passage.js' %}"></script>
            <script type="text/javascript" src="{% static 'testers_assets/plugins/recorder.js' %}"></script>
            <script type="text/javascript" src="{% static 'testers_assets/scripts/record.js' %}"></script>
            <script type="text/javascript" src="{% static 'testers_assets/student/home/oral_save.js' %}"></script>

            {% endblock %}



