{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
    <link type="text/css" href="{% static 'bower_components\jsgrid\dist\jsgrid.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'bower_components\jsgrid\dist\jsgrid-theme.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}

    <div class="span9">


        <div class="content">

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="/groups/info?index={{ section.group.id }}">{{ section.group|lower|title }}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="/groups/section/info?index={{ section_id }}">{{ section.name|lower|title }}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a href="/class?index={{ batch_id }}&section={{ section_id }}">{{ batch.name|lower|capfirst }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Task List
                </li>
            </ol>

            <div class="module message">
                <div class="module-head">
                    <h3>Task List</h3>
                </div>
                <div class="module-option clearfix">
                    <div class="pull-left">

                        <div class="input-append pull-left">
                            <input type="text" class="span3" placeholder="Filter by title or author"
                                   id="search_activity">
                            <button type="button" class="btn">
                                <i class="icon-search"></i>
                            </button>
                        </div>

                    </div>
                </div>
                <div class="module-body table">

                    <div class="list_activity table-message"></div>

                </div>
                <div class="module-foot">
                </div>
            </div>

        </div>
    </div>





{% endblock %}



{% block scripts %}

    <script type="text/javascript">

        window.define_const("section_id", Number("{{ section_id }}"));
        window.define_const("batch_id", Number("{{ batch_id }}"));
        window.define_const("group_level","{{ section.group.id }}");

    </script>

    <script src="{% static 'bower_components\jsgrid\dist\jsgrid.js' %}"></script>
    <script src="{% static 'plugins\lodash.js' %}"></script>
    <script src="{% static 'scripts\jquery.cookie.min.js' %}"></script>
    <script src="{% static 'node_modules\moment\moment.js' %}"></script>
    <script src="{% static 'scripts\task\view_activity_task_list.js' %}"></script>

{% endblock %}


