{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>

    <style>

        .add-form .form-group {
            margin-top: 10px;
        }

        /* Example 2 (login form) */
        .task_container.modal {
            border-radius: 0;
            line-height: 18px;
            padding: 0;
            font-family: "Lucida Grande", Verdana, sans-serif;
        }

        .task_container h3 {
            margin: 0;
            padding: 10px;
            color: #fff;
            font-size: 14px;
            background: -moz-linear-gradient(top, #2e5764, #1e3d47);
            background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1e3d47), color-stop(1, #2e5764));
        }

        .task_container.modal p {
            padding: 20px 30px;
            border-bottom: 1px solid #ddd;
            margin: 0;
            background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #fff));
            overflow: hidden;
        }

        .task_container.modal p:last-child {
            border: none;
        }

        .task_container.modal p label {
            float: left;
            font-weight: bold;
            color: #333;
            font-size: 13px;
            width: 110px;
            line-height: 22px;
        }

        .task_container.modal p input[type="text"],
        .task_container.modal p input[type="password"] {
            font: normal 12px/18px "Lucida Grande", Verdana;
            padding: 3px;
            border: 1px solid #ddd;
            width: 200px;
        }

        .part {
            display: none;
        }

        .modal p {
            margin: 1em 0;
        }

        .modal a.close-modal {
            border: none;
        }


    </style>

</head>
<body>

{#<h1>Add task</h1>#}

<form action="/activity/add" method="post" class="form-horizontal row-fluid add-form task_container"
      data-parsley-validate>

    {% csrf_token  %}

    <h3>Add new activity</h3>
    <div class="content">
        <input type="hidden" name="group_level" value="{{ group_level }}">
        <input type="hidden" name="batch" value="{{ batch }}">
        <input type="hidden" name="section" value="{{ section }}">
        <p>
            <label>Title/Guide (required):</label>
            <input type="text" required data-parsley-minlength="5" name="title"/>
        </p>
        <p>
            <label>Description:</label>
            <textarea style="width: 96%;
            height: 114px" name="description" required data-parsley-minlength="67"></textarea>
        </p>
        <p><input type="submit" class="btn btn-secondary btn-primary" value="Create"/></p>
    </div>

</form>

<script src="{% static 'node_modules/parsleyjs/dist/parsley.js' %}"></script>
<script src="{% static 'scripts/js_modules/parsely_validation_plugin.js' %}"></script>
<script src="{% static 'scripts/class/add_task.js' %}"></script>


</body>
</html>