{% load static %}
{% load group_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PhilIRI | {{ title }}</title>
        <link type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/theme.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'images/icons/css/font-awesome.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'plugins/jquery-expandable/jquery.expandable.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet">
        {% block stylesheet %} {% endblock %}
{#        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' #}
{#              rel='stylesheet'>#}
    </head>
<body>


{% block template_script %} {% endblock %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i></a><a class="brand" href="/">PhilIRI</a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav nav-icons">
                    <li class="active"><a href="#"><i class="icon-envelope"></i></a></li>
                    <li><a href="#"><i class="icon-eye-open"></i></a></li>
                    <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                </ul>
                <form class="navbar-search pull-left input-append" action="#">
                    <input type="text" class="span3">
                    <button class="btn" type="button">
                        <i class="icon-search"></i>
                    </button>
                </form>
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Item No. 1</a></li>
                            <li><a href="#">Don't Click</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Example Header</li>
                            <li><a href="#">A Separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Support </a></li>
                    <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{% static 'images/user.png' %}" class="nav-avatar"/>
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Your Profile</a></li>
                            <li><a href="/admin">Admin Portal</a></li>
                            <li><a href="/student/login">Student Portal</a></li>
                            <li><a href="#">Account Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->


<div class="wrapper">

    <div class="container">
        <div class="row">

            {% if not full_width %}
                <div class="span3">
                <div class="sidebar">
                    <ul class="widget widget-menu unstyled">
                        <li class="active"><a href="/"><i class="menu-icon icon-dashboard"></i>Dashboard
                        </a></li>
                        <li><a href="/students"><i class="menu-icon icon-group"></i>Students</a>
                        </li>
                        <li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i
                                class="menu-icon icon-cog">
                        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                        </i>Groups</a>
                            <ul id="togglePages" class="unstyled collapse" style="height: 0px;">

                                {% get_groups as group_levels %}

                                {% for every in group_levels %}
                                    <li>
                                        <a href="/groups/info?index={{ every.id }}&name={{ every.name }}">
                                            {{ every.name }}
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </li>
                        <li><a href="/group/section"><i class="menu-icon icon-tasks"></i>Sections</a></li>
                    </ul>
                    <!--/.widget-nav-->
                    <ul class="widget widget-menu unstyled">
                        <li><a href="ui-button-icon.html"><i class="menu-icon icon-bold"></i> Buttons </a></li>
                        <li><a href="ui-typography.html"><i class="menu-icon icon-book"></i>Typography </a></li>
                        <li><a href="form.html"><i class="menu-icon icon-paste"></i>Forms </a></li>
                        <li><a href="table.html"><i class="menu-icon icon-table"></i>Tables </a></li>
                        <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Charts </a></li>
                    </ul>
                    <!--/.widget-nav-->
                    <ul class="widget widget-menu unstyled">
                        <li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i
                                class="menu-icon icon-cog">
                        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                        </i>More Pages </a>
                            <ul id="togglePages" class="collapse unstyled">
                                <li><a href="other-login.html"><i class="icon-inbox"></i>Login </a></li>
                                <li><a href="other-user-profile.html"><i class="icon-inbox"></i>Profile </a></li>
                                <li><a href="other-user-listing.html"><i class="icon-inbox"></i>All Users </a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="menu-icon icon-signout"></i>Logout </a></li>
                    </ul>
                </div>
                <!--/.sidebar-->
            </div>
            {% endif %}

            {% block content %}
            {% endblock %}

        </div>
    </div>

</div>

<!--/.wrapper-->
<div class="footer">
    <div class="container">
        <b class="copyright">&copy; {% now "Y" %} PhilIRI - Application </b> All rights reserved.
    </div>
</div>
<script src="{% static 'scripts/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/jquery-ui-1.10.1.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-3.4.1.slim.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/jquery-expandable/jquery.expandable.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/readmore/js/index.js' %}"></script>
<script src="{% static 'scripts/index.js' %}" type="text/javascript"></script>
<!-- @include -->
{% block scripts %} {% endblock %}
<!-- @end -->

</body>
